@model LightStreamWeb.Models.ApplicationStatus.ApprovedPageModel
@{
  string ListItem = this.ViewData.ContainsKey("ListIndex") ? this.ViewData["ListIndex"].ToString() + "." : "";
}
    <div class="row">
        <div class="medium-12 columns">
            <h3 class="brand">@(ListItem) Funding Account</h3>
            <p>Account where you would like us to deposit your loan proceeds.</p>
        </div>
    </div>
    
@Html.Partial("~/Views/ApplicationStatus/_FundingAccount.cshtml")
    
