@model LightStreamWeb.Models.ApplicationStatus.ApprovedPageModel
@{
  string ListItem = this.ViewData.ContainsKey("ListIndex") ? this.ViewData["ListIndex"].ToString() + "." : "";
}
    <div class="row" >
        <div class="medium-12 columns">
            <h3 class="brand">@(ListItem) Payment Date</h3>
        </div>
    </div>

    <div class="row ruled" >
        <div class="medium-12 columns">
            <p>Select monthly payment due date</p>
        </div>
        <div class="medium-3 columns">
            @Html.NgDropDownList(
                    ngModel: "LoanAcceptance.PaymentDayOfMonth", 
                    name: "PaymentDayOfMonth", 
                    ariaLabel: "Select monthly payment due date",
                    items: LSForm.GetPaymentDatesList())
        </div>
        <div class="medium-9 columns">
            <div class="forminfo" ng-cloak ng-show="AccountSetupForm.PaymentDayOfMonth.$dirty">
                <p>Please note that once your loan has funded, the payment date cannot be modified.</p>
            </div>
        </div>
        <div class="medium-12 columns" ng-cloak ng-show="LoanAcceptance.FirstPaymentDate">
            <p>Your first monthly payment will be due on <strong>{{LoanAcceptance.FirstPaymentDate}}</strong>.</p>
        </div>
    </div>
