@model LightStreamWeb.Models.ApplicationStatus.IChangeLoanTermsModel

<form name="ConfirmChangeLoanTermsForm" >
<fieldset ng-disabled="Waiting">
<section class="row">
	<div class="medium-12 columns">
        <h3>Change Loan Terms</h3>

        <div class="forminfo">
            <p>Your new loan terms request will require review by our credit department. Please confirm the new loan terms below. If they are correct, select submit request.</p>
        </div>
	</div>
</section>


<section class="row ruled">
    @Html.Partial("~/Views/ApplicationStatus/_ConfirmChangeLoanTermsForm.cshtml")
</section>
</fieldset>
</form>