@model FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan

@if (Model == FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.NewAutoPurchaseSecured || Model == FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.UsedAutoPurchaseSecured)
{
    <div class="medium-12 columns panel instructions">
        <p><strong>IMPORTANT-PLEASE NOTE</strong><br />
        Per our Note and Security Agreement, you must:</p>
        <ol>
        <li>Purchase your automobile from a licensed automobile dealer and not from an individual.</li>
        <li>You may purchase only 1 vehicle with this loan.</li>
        <li>Purchase your automobile within 15 days after receiving your loan proceeds.</li>
        <li>Ensure that we are listed as lienholder on the vehicle title. We will provide you with instructions to give to the dealer once you have set up your loan funding.</li>
        <li>Within 3 days after your vehicle purchase, please visit our website, LightStream.com, to complete the Property Description Form, providing us the Vehicle Identification Number (VIN) and other required information about your automobile.</li>
        </ol>
    </div>    
}
@if (Model == FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.PrivatePartyPurchaseSecured)
{
    <div class="medium-12 columns panel instructions">
    <p><strong>IMPORTANT-PLEASE NOTE</strong><br />
    Per our Note and Security Agreement: </p>
    <ol>
    <li>Your loan proceeds must be used solely to purchase an automobile from a private party.  The vehicle cannot have an existing lien against it.</li>
        <li>You may purchase only 1 vehicle with this loan.</li>
    <li>You must purchase your automobile within 15 days of receiving the loan proceeds.</li>
    <li>No later than 3 days after purchasing your automobile, please visit our website, LightStream.com, and certify the vehicle information on our Property Description Form.</li>
    <li>After you purchase your automobile, you will need to take the necessary steps to have LightStream listed as the new lienholder.  Go to your local state motor vehicle
        titling office (such as Department of Motor Vehicles) with your vehicle documents and request a new title adding LightStream as the lienholder.  We have attached a copy
        of our lienholder information for you to provide to the titling office.
    </li>
    </ol>
    </div>
}
@if (Model == FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.AutoRefinancingSecured)
{
    <div class="medium-12 columns panel instructions">
        <p><strong>IMPORTANT-PLEASE NOTE</strong><br />
        Per our Note and Security Agreement: </p>
        <ol>
        <li>Your loan proceeds must be used solely to pay off an outstanding auto loan with an existing lender other than LightStream.</li>
        <li>You may refinance only 1 vehicle with this loan.</li>
        <li>You must pay off your existing auto loan within 15 days of receiving the loan proceeds.</li>
        <li>No later than 3 days after paying off your existing auto loan, please visit our website, LightStream.com, and certify the vehicle information on our Property Description Form.</li>
        <li>After you receive your documents from your existing auto lender that release the lender's lien against your vehicle, you will need to take the necessary steps to have LightStream listed as the new lienholder.  You have two options for doing this:</li>
        </ol>
        <p style="padding-left: 50px">- Go to your local state motor vehicle titling office (such as Department of Motor Vehicles) with your vehicle documents and request to add LightStream
            as a lienholder.  We have attached a copy of our lienholder information to take with you.
            <br />
            <br />
            OR
            <br />
            <br />
            - Mail your title to the address below.  We will then collect from you the necessary documentation to enable us to work with your local state motor
            vehicle titling office and place our lien on your behalf.
        </p>
        <p style="padding-left: 150px; text-align: center;">
            LightStream<br />
            Attn: Collateral Management<br />
            PO Box 22530<br />
            Lehigh Valley, PA  18002-2530
        </p>
    </div>
}
@if (Model == FirstAgain.Domain.Lookups.FirstLook.PurposeOfLoanLookup.PurposeOfLoan.LeaseBuyOutSecured)
{
    <div class="medium-12 columns panel instructions">
        <p><strong>IMPORTANT-PLEASE NOTE</strong><br />
        Per our Note and Security Agreement: </p>
        <ol>
        <li>Your loan proceeds must be used solely to purchase an automobile presently being leased from a leasing company or an automobile dealer.</li>
        <li>You may purchase only 1 vehicle with this loan.</li>
        <li>You must purchase your automobile within 15 days of receiving the loan proceeds.</li>
        <li>No later than 3 days after purchasing your automobile, please visit our website, LightStream.com, and certify the vehicle information on our Property Description Form.</li>
        <li>After you purchase your automobile, you will need to take the necessary steps to have LightStream listed as the new lienholder.  
            If the leasing company or dealer takes care of the vehicle titling paperwork and submits the necessary documents to your local state motor vehicle
            titling office (such as the Department of Motor Vehicles), then please provide our lienholder information to the leasing company or dealer.  We have
            attached a copy of our lienholder information.  However, if the leasing company or dealer simply assigns the vehicle title over to you, then, you will
            need to go to your local motor vehicle titling office to apply for a new title.  In that event, please provide the titling office with the attached
            lienholder information.
        </li>
        </ol>
    </div>
}