@{
    Layout = "~/Views/Layouts/_Base.cshtml";
}


<section class="row ruled">

	<div class="large-12 columns">
	    <h1>Loan Cancelled</h1>

        <p>Your loan application has been cancelled.  We hope we can serve you in the future.</p>

        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</section>



@section scripts {
    <script type="text/javascript">
        if (window.history && window.history.replaceState) {
            window.history.replaceState({}, 'Last Page', '/');
        }
    </script>
}