@model LightStreamWeb.Models.PublicSite.CustomLandingPageModel

@{
    Layout = "~/Views/Layouts/_Base.cshtml";
}

@Html.Raw(Model.Content.PageCopy)

@section metaTags {
    @Html.Partial("~/Views/PublicSite/Partials/_LandingPageMetaTags.cshtml")
}

<style type="text/css">
    #header { overflow: visible; }
</style>

<section class="row ruled ruled-top homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>