@model LightStreamWeb.Models.PublicSite.AboutPagesModel

@section hero {
  	<img src="/content/images/about/customer-testimonials-wide.jpg" class="hide-for-small-only banner" alt="header"  />


      <div class="row headline">
        <h2 class="cms">@Model.Title</h2>
      </div>
}

@Html.Partial("_BasicAccordianPage", Model)

