@model LightStreamWeb.Models.Partner.PartnerDropViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Base.cshtml";
}

@section Header{
   <header id="header" class="row widerow"> 
       <div class="columns navbar">
           <div class="row darktint headerbar">
               <div class="small-9 medium-3 columns branding">
                   <h1><a href="/">LightStream</a></h1>
               </div>
               <div class="medium-9 columns"></div>
           </div>
       </div>
</header>
}
<section class="row ruled">

    @if (TempData["Alert"] != null)
    {
        <div class="panel" id="alertPanel" role="alert" tabindex="0">
            @TempData["Alert"]
        </div>
    }

    <div id="file-list-container" class="" style="min-height:400px;">
        <div id="file-list">
            @Html.Partial("_ViewFiles")
        </div>
    </div>
</section>

@section scripts {
    <script type="text/javascript">        
        $(function () {
            if ($("#alertPanel").length) {
                setTimeout(function () { $("#alertPanel").focus(); }, 800);
            }
        });
    </script>
}