@model LightStreamWeb.Models.Apply.ApplyPageModel

<section class="row">
	<div class="large-6 columns">
	<h1>Loan Application</h1>
	<p class="hide-for-small-only">&nbsp;</p>
	</div>
</section>

@Html.Partial("~/Views/Apply/Partials/_ProgressBar.cshtml", new LightStreamWeb.Models.Apply.ProgressBarModel(3))

<section class="row">
	<div class="large-12 columns">
        <p class="note"><sup>*</sup>indicates required field</p>
	</div>
</section>

@LoanApplicationForm.StartForm("nextStep('" + @Url.Action("Confirm")  + "', 3)")

<div class="row" >
    <div class="large-12 columns" ng-show="LoanApp.UserCredentials.IsTemporary === false">
    <p>
        For security purposes, the security information below cannot be edited.
    </p>
    </div>
</div>

    
<div class="row">
    <div class="medium-3 columns">
		<label><sup>*</sup>User ID (6-20 characters)</label>
        <input type="text" disabled="disabled" value="[On File]" autocomplete="off" />
    </div>
</div>

<div class="row">
    <div class="medium-3 columns">
		<label><sup>*</sup>Password (8-20 characters)</label>
        <input type="text" disabled="disabled" value="[On File]" autocomplete="off" />
    </div>
</div>
<div class="row">
    <div class="medium-3 columns">
		<label><sup>*</sup>Security Question</label>
        <input type="text" disabled="disabled" value="[On File]" autocomplete="off" />
    </div>
</div>
<div class="row">
    <div class="medium-3 columns">
		<label><sup>*</sup>Security Answer</label>
        <input type="text" disabled="disabled" value="[On File]" autocomplete="off" />
    </div>
</div>


@LoanApplicationForm.EndForm()

@section scripts {
<script type="text/javascript">
    SC.apply.securityInfo();
</script>
}