@model LightStreamWeb.Models.PublicSite.ContactUsModel


<form method="post" action="/modals/contact-us" id="ContactUsForm" class="contact-us-modal">

    <div id="FormContent">
        <div class="row">
            <div class="medium-12 columns">
                <h3>Questions?</h3>
                <p class="error-message" style="display:none;"></p>

                @Html.AntiForgeryToken()
                <p class="description">
                    If you are experiencing any difficulties completing the application, or have general questions or comments
                    you may email us using the form below. We will respond promptly during our normal business hours.
                </p>

                <p class="description">
                    Our normal business hours are @FirstAgain.Domain.Common.BusinessConstants.Instance.BusinessHours.ToString(FirstAgain.Common.TimeZoneUS.EasternStandardTime).
                </p>
            </div>
        </div>
        <div class="row">
            <div class="medium-8 columns">
                @Html.ValidationSummary()
                <fieldset>
                    <ul>
                        <li><label for="Name">Name</label><input type="text" name="Name" value="" required></li>
                        <li><label for="EmailAddress">Email Address</label><input type="email" name="EmailAddress" value="" required></li>
                        <li><label for="Message">Questions or Comments</label><textarea rows="10" cols="30" name="Message" required></textarea></li>
                    </ul>
                </fieldset>
                <p class="description">Please review your email address before submitting. Thank you.</p>
                <input type="submit" name="submit" value="Send" class="button" />
                <img src="@Model.CdnBaseUrl/ajax-loader.gif" alt="" role="presentation" id="submitSpinner" style="display:none;">
            </div>
            <div class="medium-4 columns">
                <p class="description" style="padding-top: 40px;">Have you checked out the <a target="_blank" href="/contact-us">Lighstream FAQs</a>?</p>
            </div>
        </div>
    </div>

    <div id="ThankYouMessage" role="dialog" style="display:none; margin:2rem;" aria-hidden="true" >
        <h3>Thank You</h3>
        <p>
            If a response from us is required, we will email you promptly during our normal business hours.
        </p>
        <p>Have you checked out the <a target="_blank" href="/contact-us">LightStream FAQs</a>?</p>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#ContactUsForm').submit(function (event) {
            event.preventDefault(); //prevent default action 
            $(this).find(':submit').attr("disabled", "disabled");//disable submit button here
            $('#submitSpinner').show();//Show loading spinner
            var post_url = $(this).attr("action"); //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            var form_data = $(this).serialize(); //Encode form elements for submission

            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) {
                if (response.Success) {
                    $('#FormContent').fadeOut(function () {
                        $('#ThankYouMessage').show().attr('aria-hidden','false');//Show thank you message
                        SC.main.contactUsThankYou();
                    });
                } else {
                    $('#FormContent .error-message').text(result.ErrorMessage).show();//Show error message
                }
            }).always(function () {
                $(this).find(':submit').removeAttr("disabled");//enable submit button again
                $('#submitSpinner').hide();//Hide loading spinner
            });
        });
        SC.main.contactUs();

        $("input[type=email]").on('keyup', function () {
            var regEx = /^(?!.*([\.])\1{1})([0-9a-zA-Z]([-\.\+\w]*[0-9a-zA-Z_])*@@((?!-)[A-Za-z0-9-\.]{1,63}\.){1}[a-zA-Z]{2,9})$/;

            if (this.validity.typeMismatch) {
                this.setCustomValidity('');
                return false;
            }
            else if (!regEx.test(this.value)) {
                this.setCustomValidity('Please enter valid email address.');
                return false;
            }
            else {
                this.setCustomValidity('');
            }

            return true;
        });
    });
</script>
