@model LightStreamWeb.ContentManager

<h2>Customer Testimonials</h2>
<a class="close-reveal-modal">&#215;</a>
<ul class="testimonials">
    @foreach (var comment in Model.GetLightstreamCustomerComments().Take(5)) {
        <li>
            &quot;@Html.Raw(comment.Comment)&quot;
            <cite class="brand">@Html.Raw(comment.CiteText())</cite>
        </li>
    }
    <li><a href="/customer-testimonials" target="_blank" onclick="$(this).closest('.reveal-modal').foundation('close');return true;">Read more....</a></li>
</ul>


