@model string

@{Html.RegisterDeferredStyleFile("~/Content/redesign/video-modal.min.css");}

<div class="reveal small" id="video-modal" style="top: 0" data-options="closeOnClick:false" data-reset-on-close="true" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>

    <div class="medium-12 columns ">
        <iframe id="video-iframe@(Guid.NewGuid().ToString("N"))"
                title="What is the LightStream loan?"
                gesture="media"
                allow="encrypted-media"
                aria-hidden="true"
                tabindex="0"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
                src="@(String.Format("{0}?controls=1&rel=0&showinfo=0&autoplay=0&modestbranding=1&enablejsapi=1&html5=1&fs=0", @Model))"></iframe>
    </div>

</div>
