@import "_mixins.scss";



/*navbar - ADA keyboard navigation */
.navbar-navigation-header .navbar-navigation-header-links a.btn,
.navbar-menu .menu-container-item button,
.navbar-navigation-header-actions .apply-now-action .btn,
.navbar-navigation-header-actions .sign-in-action .btn,
.navbar-navigation-header-actions .sign-out-action .btn,
.navbar-navigation-footer a.unselectable.btn.btn-small.btn-link {
    padding-right: 4px !important;
    padding-left: 3px !important;
    border: 1px solid transparent;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-navigation-header .navbar-navigation-header-links a.btn:focus,
.navbar-menu .menu-container-item button:focus,
.navbar-navigation-header-actions .apply-now-action .btn:focus,
.navbar-navigation-header-actions .sign-in-action .btn:focus,
.navbar-navigation-header-actions .sign-out-action .btn:focus,
.navbar-navigation-header .navbar-navigation-header-links a.btn:active,
.navbar-menu .menu-container-item button:active,
.navbar-navigation-header-actions .apply-now-action .btn:active,
.navbar-navigation-header-actions .sign-in-action .btn:active,
.navbar-navigation-header-actions .sign-out-action .btn:active {
    border: 1px solid rgba(221, 241, 240, 0.5);
}

a:focus, a:active {
    text-decoration: underline;
}

.menuitem > a:focus, .menuitem > a:active {
    text-decoration: none;
}

.screen-reader-only {
    position: absolute;
    left: -2000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

#ctaDescriptions sup a.disclosureAnchorLink {
    position: absolute;
    left: -2000px;
    cursor: default;
    color: #bec0c2 !important;
}

.lightstream-arrow-container sup a.disclosureAnchorLink {
    color: rgba(0, 0, 0, 0);
    cursor: default;
}
/*
.screen-reader-only:focus, .screen-reader-only:active {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    color: #edeeee;
    z-index: 99999;
    padding-left: 3px;
    font-size: 12px;
}
*/

sup.footerSup:hover, sup.footerSup:focus {
    text-decoration: underline !important;
    cursor: pointer;
}

.navbar-navigation-header-actions {
    .apply-now-action .btn {
        border: 1px solid #183560;

        &:focus, &:active {
            border-color: #f15822;
        }
    }

    .sign-in-action .btn,
    .sign-out-action .btn {
        border: 1px solid #183560;

        &:focus, &:active {
            border-color: #065eaf;
        }
    }
}

.navbar-navigation {
    outline: none;
}



.navRebuild {
    .navbar-navigation-header-links {
        display: inline-block;
        /*position: relative;
        top: -15px;
        right: -15px;*/
        a.btn {
            padding-left: 3px !important;
            padding-right: 3px !important;
        }
    }

    .navbar-navigation-header-actions {
        display: inline-block;

        div {
            display: inline-block;
        }
    }

    .navbar-navigation-header-actions .sign-in-action .btn, .navbar-navigation-header-actions .sign-out-action .btn {
        margin-left: 2px;
    }

    .apply .navbar-navigation-header .navbar-navigation-header-links, .apply.account-services .navbar-navigation-header .navbar-navigation-header-links, .account .navbar-navigation-header .navbar-navigation-header-links, .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 15px;
    }

    .navbar-menu .menu-container-item .m-dropdown {
        left: 0px;
    }

    .navbar-menu .menu-container-item:last-child .m-dropdown {
        left: -120px;
    }

    .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 5px;
    }

    .navbar-navigation-header {
        top: -3px;
        position: relative;
    }

    .ls-navbar-icon {
        top: 2px;
        position: relative;
    }
    .apply .navbar-navigation-header .navbar-navigation-header-links, .apply.account-services .navbar-navigation-header .navbar-navigation-header-links, .account .navbar-navigation-header .navbar-navigation-header-links, .navbar-navigation-header .navbar-navigation-header-links {
        margin-right:15px;
    }
}


a.BackToContentLink {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    padding: 5px;

    &:focus, &:hover {
        text-decoration: none;
        border: 1px solid #ddf1f0;
    }
}

sub {
    top: 0.4em;
}

.disclosureAnchorLink {
    cursor: pointer;
    cursor: hand;
    outline: none;
    color: inherit !important;

    &:hover, &:focus, &:active {
        text-decoration: underline;
    }
}

#SameDayFundingDisclosure, #footerdisclosure-dbldagger {
    padding-bottom: 18px;
}

.ada-container ul:first-of-type {
    padding-bottom: 0;
}

@keyframes highlight {
    0% {
 		/*background: none;*/
        border-color: rgba(71, 142, 248, 0);
 	}
 	10% {
 		/*background: rgba(71, 142, 248, 0.15);*/
        border-color: #507AA1;
 	}
 	100% {
 		/*background: none;*/
        border-color: rgba(71, 142, 248, 0);
 	}
}

table.loanrates {
    thead {
        tr th span {
            border-bottom: 2px solid transparent;
        }

        tr th.active span {
            @include mq('phone-wide') {
                border-bottom: 2px solid #003C68;
            }
        }
    }

    tbody {
        tr td:first-child span:first-child {
            border-bottom: 2px solid transparent;
        }

        tr.active td:first-child span:first-child {
            @include mq('phone-wide') {
                border-bottom: 2px solid #003C68;
            }
        }

        td:focus, td:active {
            outline-width: 2px;
            outline-style: solid;
            outline-color: grey;
        }
        /*tr:focus, tr:active {
            outline: none;
        }*/
        td.first:focus, td.first:active {
            outline: none;
        }

        td.first:first-child:focus span:first-child, td.first:first-child:active span:first-child {
            @include mq('phone-wide') {
                border-bottom: 2px solid #003C68;
            }
        }
    }
}

table.loanrates {
    thead span {
        &:focus, &:active, &.focus {
            outline: none;

            @include mq('phone-wide') {
                border-bottom: 2px solid #003C68;
            }
        }
    }

    td.first {
        span {
            &:focus, &:active {
                outline: none;

                @include mq('phone-wide') {
                    border-bottom: 2px solid #003C68;
                }
            }
        }

        &:focus, &:active {
            outline-color: #666;
        }
    }
}

.btn.btn-jumbo-tile {
    &:focus, &:active {
        text-decoration: underline;
    }
}

.cms article div a:focus img {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
}

a {
  &.large-view {
    &:focus, &:active {
      outline-width: 2px;
      outline-style: solid;
      outline-color: Highlight;
    }
  }

  &.rate-match {
    &:focus, &:active {
        img {
            outline-width: 2px;
            outline-style: solid;
            outline-color: #f6a537;
        }
    }
  }
}

/*.highlight {
    outline: none;
    border: 1px solid transparent;

    &:focus {
        animation: highlight 2s;
    }
}*/

#comparative-table a {
    color: #000;
    &:hover {
        cursor: pointer;
    }
    &:focus, &:active {
        outline-width: 2px;
        outline-style: solid;
        outline-color: Highlight;
    }
}

.owl-dot:focus {
    outline: 1px dotted #212121;
    outline: 5px auto -webkit-focus-ring-color;
}

sup a {
    font-size: inherit
}

.lightstream-arrow sup.footerSup {
    margin-left: -2px;
}

[hidden] {
    display: block;
}