/*navbar - ADA keyboard navigation */
.navbar-navigation-header .navbar-navigation-header-links a.btn,
.navbar-menu .menu-container-item span,
.navbar-navigation-header-actions .apply-now-action .btn,
.navbar-navigation-header-actions .sign-in-action .btn,
.navbar-navigation-header-actions .sign-out-action .btn,
.navbar-menu .menu-container-item .m-dropdown a {
  padding-right: 5px !important;
  padding-left: 5px !important;
  border: 1px solid transparent;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.navbar-navigation-header .navbar-navigation-header-links a.btn:focus,
.navbar-menu .menu-container-item span:focus,
.navbar-navigation-header-actions .apply-now-action .btn:focus,
.navbar-navigation-header-actions .sign-in-action .btn:focus,
.navbar-navigation-header-actions .sign-out-action .btn:focus,
.navbar-navigation-header .navbar-navigation-header-links a.btn:active,
.navbar-menu .menu-container-item span:active,
.navbar-navigation-header-actions .apply-now-action .btn:active,
.navbar-navigation-header-actions .sign-in-action .btn:active,
.navbar-navigation-header-actions .sign-out-action .btn:active,
.navbar-menu .menu-container-item .m-dropdown a:focus,
.navbar-menu .menu-container-item .m-dropdown a:active {
  border: 1px solid rgba(221, 241, 240, 0.5); }

a:focus, a:active {
  text-decoration: underline; }

.menuitem > a:focus, .menuitem > a:active {
  text-decoration: none; }

.screen-reader-only {
  position: absolute;
  left: -1000px;
  height: 1px;
  width: 1px;
  text-align: left;
  overflow: hidden; }

/*
.screen-reader-only:focus, .screen-reader-only:active {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    color: #edeeee;
    z-index: 99999;
    padding-left: 3px;
    font-size: 12px;
}
*/
.navbar-navigation-header-actions .apply-now-action .btn {
  border: 1px solid #183560; }
  .navbar-navigation-header-actions .apply-now-action .btn:focus, .navbar-navigation-header-actions .apply-now-action .btn:active {
    border-color: #f15822; }

.navbar-navigation-header-actions .sign-in-action .btn,
.navbar-navigation-header-actions .sign-out-action .btn {
  border: 1px solid #183560; }
  .navbar-navigation-header-actions .sign-in-action .btn:focus, .navbar-navigation-header-actions .sign-in-action .btn:active,
  .navbar-navigation-header-actions .sign-out-action .btn:focus,
  .navbar-navigation-header-actions .sign-out-action .btn:active {
    border-color: #065eaf; }

.navRebuild .navbar-navigation-header-links {
  display: inline-block;
  /*position: relative;
        top: -15px;
        right: -15px;*/ }
  .navRebuild .navbar-navigation-header-links a.btn {
    padding-left: 3px !important;
    padding-right: 3px !important; }

.navRebuild .navbar-navigation-header-actions {
  display: inline-block; }
  .navRebuild .navbar-navigation-header-actions div {
    display: inline-block; }

.navRebuild .navbar-navigation-header-actions .sign-in-action .btn, .navRebuild .navbar-navigation-header-actions .sign-out-action .btn {
  margin-left: 2px; }

.navRebuild .apply .navbar-navigation-header .navbar-navigation-header-links, .navRebuild .apply.account-services .navbar-navigation-header .navbar-navigation-header-links, .navRebuild .account .navbar-navigation-header .navbar-navigation-header-links, .navRebuild .navbar-navigation-header .navbar-navigation-header-links {
  margin-right: 15px; }

.navRebuild .navbar-menu .menu-container-item .m-dropdown a {
  padding-left: 25px !important; }

.navRebuild .navbar-menu .menu-container-item .m-dropdown {
  left: 0px;
  padding-bottom: 20px; }

.navRebuild .navbar-menu .menu-container-item:last-child .m-dropdown {
  left: -120px; }

.navRebuild .navbar-navigation-header .navbar-navigation-header-links {
  margin-right: 5px; }

.navRebuild .navbar-navigation-header {
  top: -3px;
  position: relative; }

.navRebuild .ls-navbar-icon {
  top: 2px;
  position: relative; }

table.loanrates thead tr th span {
  border-bottom: 2px solid transparent; }

@media only screen and (min-width: 726px) {
  table.loanrates thead tr th.active span {
    border-bottom: 2px solid #003C68; } }

table.loanrates tbody {
  /*tr:focus, tr:active {
            outline: none;
        }*/ }
  table.loanrates tbody tr td:first-child span:first-child {
    border-bottom: 2px solid transparent; }
  @media only screen and (min-width: 726px) {
    table.loanrates tbody tr.active td:first-child span:first-child {
      border-bottom: 2px solid #003C68; } }
  table.loanrates tbody td:focus, table.loanrates tbody td:active {
    outline-width: 2px;
    outline-style: solid;
    outline-color: grey; }
  table.loanrates tbody td.first:focus, table.loanrates tbody td.first:active {
    outline: none; }
  @media only screen and (min-width: 726px) {
    table.loanrates tbody td.first:first-child:focus span:first-child, table.loanrates tbody td.first:first-child:active span:first-child {
      border-bottom: 2px solid #003C68; } }

table.loanrates thead span:focus, table.loanrates thead span:active, table.loanrates thead span.focus {
  outline: none; }
  @media only screen and (min-width: 726px) {
    table.loanrates thead span:focus, table.loanrates thead span:active, table.loanrates thead span.focus {
      border-bottom: 2px solid #003C68; } }

table.loanrates td span:focus, table.loanrates td span:active {
  outline: none; }
  @media only screen and (min-width: 726px) {
    table.loanrates td span:focus, table.loanrates td span:active {
      border-bottom: 2px solid #003C68; } }

table.loanrates td:focus, table.loanrates td:active {
  outline-color: #666; }

.btn.btn-jumbo-tile:focus, .btn.btn-jumbo-tile:active {
  text-decoration: underline; }

.cms article div a:focus img {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight; }

a.large-view:focus, a.large-view:active {
  outline-width: 2px;
  outline-style: solid;
  outline-color: Highlight; }

a.rate-match:focus img, a.rate-match:active img {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #f6a537; }

