@import "mixins";

#lightstreamVideo {
    top: 92px;
    position: absolute;
    width: 100%;
    z-index: 500;
    display: none;
    height: -webkit-calc(100% - 19px);
    height: -moz-calc(100% - 19px);
    height: calc(100% - 19px);
}
