/*blues*/
$navy-blue: #002642;
$light-navyblue: #16436c;
$chathams-blue: #10497C;
$biscay: #183560;
$biscaygradiant: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiPjxzdG9wIG9mZnNldD0iLjIiIHN0b3AtY29sb3I9IiMyZTNkNWUiLz48c3RvcCBvZmZzZXQ9Ii41IiBzdG9wLWNvbG9yPSJyZ2JhKDAsMCwwLDAuNikiLz48c3RvcCBvZmZzZXQ9Ii44IiBzdG9wLWNvbG9yPSIjMmUzZDVlIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIvPjwvc3ZnPg==");
$light-skyblue: #DAF0EE;
$light-skyblue-1x: #cadedc;

$dark-yellow: #FCD100;
$dark-yellow-1x: #e0ba03;
$dark-yellow-2x: #ffc01b;
$dark-yellow-3x: #ffb200;

$gold: #e8bf0b;
$dark-gold: #ce6429;
$dark-orange: #f9a93a;
$white: white;