@import "_mixins.scss";

#comparative-table-section {
    $legalcopy: #1a1a1a;
    $tableheader: #134987;
    $ls-lightblue: #D9EEFF;
    $line-color: #028CBA;

    #comparative-table, #comparative-table-mobile {
        width: 100%;
        table-layout: fixed;

        td, th {
            text-align: center;
            font-weight: 600;
            padding: 5px;
        }

        .column-header {
            padding: 10px 0 0;
            font-size: 16px;
            font-family: "proxima-nova", arial, helvetica, sans-serif;
            color: $tableheader;
            font-weight: 700;
        }


        tr {
            background-color: white;
            border-bottom: 1px solid black;
        }

        > tbody > tr:first-child {
            border-bottom: 3px solid $line-color;
        }

        .ls-lightblue {
            background-color: $ls-lightblue;
        }

        .left-border-line {
            border-left: 2px solid $line-color;
        }

        .ls {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background: no-repeat;
        }

        .ls-2x {
            width: 2rem;
            height: 2em;
        }

        .ls-3x {
            width: 3em;
            height: 3em;
        }

        .ls-check {
            background-image: url('/Content/images/checkmark_comp.png');
            background-image: url('/Content/images/checkmark_comp.svg'), none;
        }

        .left {
            text-align: left;
            font-weight: 700;
            font-size: 14px;
        }
    }

    #comparative-table {
        display: none;

        > tbody > tr > th.thead {
            width: 25%;
        }

        @include mq('ls-desktop') {
            display: block;
        }
    }

    #comparative-table-mobile {

        $arrow-color: #13487D;
        $arrow-color-disabled: #9BA4A1;

        .column-header {
            padding-top: 0;
        }

        #arrow-container {
            font-size: 3em;
            color: $arrow-color;
            margin: 0;
            line-height: 50px;

            #comparative-left-arrow-auto {
                margin-right: 5%;
            }

            #comparative-right-arrow-auto {
                margin-left: 5%;
            }

            .arrow.disabled {
                color: $arrow-color-disabled;
            }
        }

        #benefit-column {
            width: 42%;
        }

        @include mq('ls-desktop') {
            display: none;
        }
    }
}
