@import "_mixins.scss";

.loan-aggregator-page.component-template-page {
    $shadow: -6px 1px 8px #2e2e2e;
    $banner-text-breakpoint: 960px;

    @import "_jumbo-tiles-mobilefirst.scss";

    @media screen and (min-width: 726px) {
        @import "_jumbo-tiles-desktop.scss";
    }

    section {
        article {
            p {
                padding-top: 10px;
            }
        }
    }

    .cms.title {
        padding-bottom: 10px !important;
    }

    .ls-experience-header {
        padding-top: 10px;
    }

    #headlinePlayButtonMobile {
        @include mq('ls-desktop') {
            display: none;
        }
    }

    #headlinePlayButtonDesktop {
        display: none;

        @include mq('ls-desktop') {
            display: inline-block;
            cursor: pointer;
        }
    }

    .widget {
        li {
            list-style-type: disc;
            margin-left: 1.2em;
        }

        .widget-headline-title {
            font-size: 48px !important;

            @include mq('ls-desktop') {
                font-size: 60px !important;
            }
        }

        .widget-headline-subtitle {
            font-size: 32px !important;

            @include mq('ls-desktop') {
                font-size: 48px !important;
            }
        }


        .widget-body {
            padding: 0 10px 10px 10px;

            @include mq('ls-desktop') {
                padding-left: .5rem !important;
            }
        }
    }

    #blog-component {
        padding-left: 30px;
        padding-right: 30px;

        @include mq('ls-desktop') {
            padding-left: 0;
        }

        .widget-header {
            h2 {
                padding-left: 0;

                @include mq('ls-desktop') {
                    padding-left: 10px;
                }

                @include mq('ls-page') {
                    padding-left: 14px;
                }
            }
        }

        .widget-body {
            padding: 0 !important;

            @include mq('ls-desktop') {
                padding-left: 0.5rem;
            }

            .widget-blog {
                padding: 10px;

                @include mq('ls-page') {
                    padding-left: 0;
                }
            }

            .blogpost-image {
                padding-bottom: 20px;
                padding-left: 0;
                padding-right: 0;

                @include mq('ls-desktop') {
                    padding-left: 20px;
                    padding-bottom: 0;
                    padding-right: 15px;
                }

                @include mq('ls-page') {
                    padding-left: 15px;
                }
            }

            .blogpost-content {
                padding-right: 0;
                padding-left: 10px;
            }
        }
    }

    .open-text-component {

        .widget-header {
            .widget-headline-title {
                h2 {
                    padding-left: 10px !important;
                }
            }
        }

        .widget-body {
            padding-left: 10px !important;
            padding-right: 10px;
        }
    }

    #rates {
        #feature-bullets {
            position: static;
        }
    }

    .sixteen-nine {
        @include aspect-ratio(16, 9);
    }

    #lendingUncomplicatedSection {
        margin-top: 0;
    }

    #header {
        min-height: 380px;
        height: 82vw !important;

        @include mq('ls-desktop') {
            min-height: initial;
            max-height: 510px;
        }

        .rate-banner-container.widget-headline {
            top: 12px;

            @include mq('ls-desktop') {
                top: 40px;
            }
        }

        .event-banner.rate-banner-container.widget-headline {
            @include mq('ls-desktop') {
                top: 80px;
            }
        }

        .rate-banner-container {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 70px;

            @include mq('ls-desktop') {
                top: 148px;
            }

            #no-rate-discount {
                margin-bottom: 30px;
            }

            .banner-br {
                display: block;

                @include mq('ls-desktop') {
                    display: none;
                }
            }

            .widget-headline-title.banner-text {
                font-size: 42px !important;

                @include mq('tablet') {
                    font-size: 5vw !important;
                }

                @include mq('ls-desktop') {
                    font-size: 60px !important;
                }
            }

            widget-headline-subtitle.banner-text {
                font-size: 32px !important;

                @include mq('ls-desktop') {
                    font-size: 48px !important;
                }
            }

            .banner-text {
                color: white;
                text-shadow: $shadow;
                font-weight: bold;
                line-height: 1.1;

                @media screen and (min-width: 726px) and (max-width: $banner-text-breakpoint) {
                    font-size: 5vw !important;
                }
            }

            h3, h2 {
                font-size: 6.5vw;

                @media screen and (min-width: 726px) and (max-width: 882px) {
                    font-size: 3em !important;
                }

                @include mq('ls-desktop') {
                    font-size: 48px;
                }
            }

            h2 {
                line-height: 1;
                padding-bottom: 0;
                padding-top: 0;

                @include mq('ls-desktop') {
                    line-height: .5;
                    padding-top: 10px;
                }
            }

            .banner-rate-subtext {
                font-size: 5vw !important;

                @media screen and (min-width: 726px) and (max-width: 1022px) {
                    font-size: 2.3em !important;
                }

                @include mq('ls-desktop') {
                    margin-top: .3em;
                    font-size: 2.625em !important;
                }
            }

            .rate-banner-apr {
                font-size: 1.5em;

                @media screen and (min-width: 726px) and (max-width: $banner-text-breakpoint) {
                    font-size: 1.2em;
                }
            }

            h3:first-child {
                margin-bottom: 0;

                @include mq('ls-desktop') {
                    margin-bottom: 18px;
                    line-height: 1;
                }
            }

            span {
                font-size: 1.5em;
            }

            form > input {
                font-size: 18px;
                padding: 0;
            }

            .discounted-rate {
                font-size: 1em;
                color: #A7A9AC !important;
                text-shadow: -6px 1px 8px #2e2e2e;
            }

            strike {
                color: #FF5E17;
            }
        }
    }

    #header {
        div.widget.widget-headline.row.rate-banner-container.event-banner {
            margin-left: 0;

            div.widget-header {
                h2 {
                    @include mq('ls-desktop') {
                        font-size: 5.5vw !important;
                    }

                    @media screen and (min-width: 1100px) {
                        font-size: 60px !important;
                    }
                }

                h3 {
                    @include mq('ls-desktop') {
                        font-size: 4vw !important;
                    }

                    @media screen and (min-width: 1100px) {
                        font-size: 48px !important;
                    }
                }
            }
        }
    }

    .next-step-component {
        .ns-desktop-image {
            display: none;

            @include mq('ls-desktop') {
                display: block;
            }
        }

        .ns-mobile-image {
            display: block;

            @include mq('ls-desktop') {
                display: none;
            }
        }

        .button, a.button {
            font-size: 18px;
        }
    }
    /* Underwrite Section */
    #redesign-bullets-desktop {
        display: none;

        @include mq('ls-desktop') {
            display: block;
        }
    }

    #redesign-bullets-mobile {
        display: block;

        img {
            width: 41vw;
        }

        @include mq('ls-desktop') {
            display: none;
        }
    }

    #redesign-bullets-desktop {
        img {
            height: 183px;
        }
    }
}

@import "_nextstep.scss";
@import "_colors.scss";
@import "_desktop-nav.scss";
