#ctaBar, #cta-bar-mobile {
  background-color: #183560;
  max-width: 120.063rem;
  font-weight: bold;
  font-size: small;
  display: none;
  max-width: 100%;
  color: white;
  font-style: italic;
  height: 50px;
  cursor: pointer;
  max-width: 120.063rem;
  z-index: 10; }
  @media only screen and (min-width: 726px) {
    #ctaBar, #cta-bar-mobile {
      display: block; } }
  #ctaBar .cta-outer-container, #cta-bar-mobile .cta-outer-container {
    text-align: center;
    height: 100%;
    padding: 0; }
    #ctaBar .cta-outer-container .cta-inner-container, #cta-bar-mobile .cta-outer-container .cta-inner-container {
      display: table;
      height: 100%;
      margin: 0 auto; }
      #ctaBar .cta-outer-container .cta-inner-container .cta-icon-container, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-icon-container {
        display: table-cell;
        vertical-align: middle; }
        #ctaBar .cta-outer-container .cta-inner-container .cta-icon-container .cta-ls, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-icon-container .cta-ls {
          background-image: url("https://www.suntrust.com/content/dam/lightstream/us/en/content/images/icon-lightstream.png");
          background-image: url("https://www.suntrust.com/content/dam/lightstream/us/en/content/images/icon-lightstream.svg"), none; }
        #ctaBar .cta-outer-container .cta-inner-container .cta-icon-container .cta-dollar, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-icon-container .cta-dollar {
          background-image: url("https://www.suntrust.com/content/dam/lightstream/us/en/content/images/icon-dollar-sign.png");
          background-image: url("https://www.suntrust.com/content/dam/lightstream/us/en/content/images/icon-dollar-sign.svg"), none; }
        #ctaBar .cta-outer-container .cta-inner-container .cta-icon-container .cta-check, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-icon-container .cta-check {
          background-image: url("https://www.suntrust.com/content/dam/lightstream/us/en/content/images/icon-checkmark.png");
          background-image: url("https://www.suntrust.com/content/dam/lightstream/us/en/content/images/icon-checkmark.svg"), none; }
        #ctaBar .cta-outer-container .cta-inner-container .cta-icon-container .ctaIcon, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-icon-container .ctaIcon {
          width: 35px;
          height: 35px;
          background-repeat: no-repeat;
          margin: 0 10px; }
      #ctaBar .cta-outer-container .cta-inner-container .cta-item-container, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-item-container {
        display: table-cell;
        vertical-align: middle; }
        #ctaBar .cta-outer-container .cta-inner-container .cta-item-container .cta-item-left, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-item-container .cta-item-left {
          float: left; }
        #ctaBar .cta-outer-container .cta-inner-container .cta-item-container .cta-item-text-left, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-item-container .cta-item-text-left {
          text-align: left; }
          #ctaBar .cta-outer-container .cta-inner-container .cta-item-container .cta-item-text-left #watchVideo, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-item-container .cta-item-text-left #watchVideo {
            text-decoration: underline;
            cursor: pointer; }
      #ctaBar .cta-outer-container .cta-inner-container .cta-item-text, #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-item-text {
        display: table-cell;
        vertical-align: middle;
        line-height: 110%;
        text-align: left; }
    #ctaBar .cta-outer-container .verticalLine, #cta-bar-mobile .cta-outer-container .verticalLine {
      border-left: 1px solid white;
      height: 30px;
      margin-top: 10px;
      position: absolute; }

@media all and (max-width: 863px) {
  #ctaBar .cta-outer-container .cta-inner-container, #cta-bar-mobile .cta-outer-container .cta-inner-container {
    margin: 0 5%; } }

#cta-bar-mobile {
  display: block; }
  @media only screen and (min-width: 726px) {
    #cta-bar-mobile {
      display: none; } }
  #cta-bar-mobile .cta-outer-container {
    background-color: #183560;
    padding: 10px;
    border-bottom: 1px solid white; }
    #cta-bar-mobile .cta-outer-container .cta-inner-container {
      margin: inherit;
      width: 100%; }
      #cta-bar-mobile .cta-outer-container .cta-inner-container .cta-icon-container {
        width: 10px; }
      #cta-bar-mobile .cta-outer-container .cta-inner-container .pull-right::before {
        font-style: normal;
        font-weight: bold;
        font-size: 1.5em;
        content: '+'; }
    #cta-bar-mobile .cta-outer-container .cta-description {
      text-align: left;
      font-style: normal;
      font-weight: normal;
      display: none;
      margin-top: 12px; }
  #cta-bar-mobile .cta-outer-container.expanded .cta-inner-container .pull-right::before {
    content: '-'; }
  #cta-bar-mobile .cta-outer-container.expanded .cta-description {
    display: block; }
  #cta-bar-mobile .cta-outer-container.last {
    border-bottom: none; }
