@import 'global-variables';
@import '_colors';

/*colors*/
.bg-chathams-blue {
    background-color: $chathams-blue;
}

.bg-biscay {
    background-color: $biscay;
}

.bg-biscaygradiant {
    background-image: $biscaygradiant !important;
}

.bg-white {
    background-color: $white;
}

/*icons*/

/*ie8 fixes*/

/*foundation helpers*/

.ie8 {
    header {
        margin-top: -100px;
    }

    .nav-container ul {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    .nav-container .row {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }

    .nav-container .large-12 {
        width: 100%;
    }

    .navbar-container .columns {
        margin: 0;
        padding: 0;
    }

    .navbar-container {
        padding-left: 0;
        padding-right: 0;
    }

    .sign-in header,
    .mobile-menu,
    .mobile-nav {
        display: none !important;
    }

    .nav-container {
        .desktop-nav {
            .navbar-inner {
                .navbar-container {
                    padding-top: 28px;
                    padding-bottom: 28px;
                    padding-left: 17px;
                    padding-right: 17px;

                    .navbar-brand-container {
                        .navbar-brand {
                            &.navbar-cobrand {
                                float: right;
                            }

                            img {
                                width: 315px;
                            }
                        }
                    }

                    .navbar-navigation-container {
                        display: inline-block;
                        width: 67%;

                        .navbar-navigation {
                            display: inline-block;

                            .navbar-navigation-header {
                                height: 50px;

                                .navbar-navigation-header-links {
                                    float: left;
                                    display: inline;
                                    margin-right: 0px;
                                }

                                .navbar-navigation-header-actions {
                                    float: right;
                                    display: inline;

                                    ul {
                                        display: inline;
                                    }
                                }
                            }

                            .navbar-navigation-footer {
                                width: 100%;
                                margin-top: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    .navbar-menu .menu-container-item {
        margin-right: 10px;
        margin-left: 30px;
    }

    .navbar-navigation-header-links .btn {
        margin-left: 5px;
        margin-right: 5px;
    }

    .landing-page {
        .navbar-navigation-header-links li {
            margin-left: 9px;
        }
    }

    .pre-funding {
        .page-container {
            margin-top: 0;
        }
    }

    .apply {
        .page-container {
            margin-top: 0;
        }
    }



    .landing-page header .headline,
    header .hide-for-small-only.headline {
        top: 0 !important;
    }

    .responsive-partner-option-1-page.partner.home #header {
        margin-top: 0;
    }

    .home header .headline.hide-for-small-only {
        top: 100px !important;
    }

    body.wide-layout.home.partner.responsive-partner-option-1-page #header {
        height: 325px !important;
    }

    body.wide-layout.home.partner.responsive-partner-option-1-page #header img {
        height: auto;
    }

    body.fixed-layout.home.partner.responsive-partner-option-1-page #header .headline,
    body.wide-layout.home.partner.responsive-partner-option-1-page #header .headline {
        top: 0px !important;
    }

    body.wide-layout.home.partner.responsive-partner-option-1-page #header .headline {
        margin-top: 0px !important;
    }
}

.columns.columns-fluid {
    padding: 0;
    margin: 0;
}

/* apply page */
@media screen and (min-width: 0) {
    .apply .page-container {
        margin-top: 50px;
    }

    .pre-funding .mobile-nav .left-nav,
    .apply .mobile-nav .left-nav {
        width: 76%;
    }

    .pre-funding .mobile-nav .right-nav,
    .apply .mobile-nav .right-nav {
        width: 24%;
        padding-right: 0.4375rem;
    }

    .pre-funding .mobile-nav .hamburger,
    .apply .mobile-nav .hamburger {
        overflow: hidden;
        width: 24%;
    }

    .pre-funding .mobile-nav .logo,
    .apply .mobile-nav .logo {
        width: 58%;
    }

    .pre-funding .mobile-nav .nav-bar .right-nav li,
    .apply .mobile-nav .nav-bar .right-nav li {
        float: right;
    }

    .pre-funding .mobile-nav .logo h2,
    .apply .mobile-nav .logo h2 {
        margin: 0 auto;
    }

    .pre-funding .mobile-nav .logo h2,
    .apply .mobile-nav .logo h2 {
        margin: 0 auto;
    }

    .account.privacy header .headline,
    .account.questions header .headline,
    .account.about header .headline,
    .account.rate-calculator header .headline {
        margin-top: 0;
    }
}

@media screen and (min-width: 726px) {
    .apply .page-container {
        margin-top: 92px;
    }
}

/*navbar*/
.navbar {
    background-image: none;

    &.affixed {
        box-shadow: 0 0 10px 0 rgba(0,0,0,.40) !important;

        .navbar-navigation-footer {
            display: none !important;
        }
    }
}

.navbar-navigation-header {
    ul {
        padding: 0;
        margin: 0;

        li {
            float: left;
        }
    }
}

.navbar-inner {
    width: 100%;
    padding: 0;
    display: table;
    top: 0;
    left: 0;
    margin: 0;
}

.navbar-faded {
    opacity: .93;
}

.navbar-container {
    padding: 17px 28px;
    vertical-align: middle;
    display: table-cell;
    margin: 0;

    ul {
        padding: 0;
    }

    .navbar-brand-container,
    .navbar-navigation-container {
        display: table;
        top: 0;
        left: 0;
        margin: 0;
        height: 58px;
        padding: 0;
    }

    .navbar-brand {
        padding: 0;
        margin: 0;
        vertical-align: middle;
        display: table-cell;
        font-size: inherit;
        line-height: 0;
    }

    .navbar-brand img {
        max-width: 100%;
        max-height: 100%;
    }
}

.navbar-navigation {
    width: 100%;
    padding: 0;
    vertical-align: middle;
    display: table-cell;
    margin: 0;
}

.navbar-navigation-header {
    .row {
        margin: 0;
    }

    .navbar-navigation-header-links {
        vertical-align: middle;
        margin-right: 0;

        li:first-child .btn {
            margin-left: 0;
            padding-left: 0;
        }

        li:last-child .btn {
            margin-right: 0;
            padding-right: 0;
        }
    }
}

.navbar-navigation-header-actions {
    .sign-in-action a,
    .sign-out-action a {
        vertical-align: middle;
        text-transform: uppercase;
        color: #002642;
    }

    .btn {
        font-size: 16px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .apply-now-action .btn {
        margin-right: 7px;
        border: 1px solid #183560;
        padding-right: 5px;
        padding-left: 5px;
    }

    .sign-in-action .btn,
    .sign-out-action .btn {
        margin-left: 7px;
        border: 1px solid #183560;
        padding-right: 5px;
        padding-left: 5px;
    }
}

.navbar-navigation-footer {
    margin-top: 6px;
    display: block !important;
}

@media screen and (min-width: 726px) {

    .navbar-navigation-header-actions {
        li {
            margin-top: -1px;
        }

        li:first-child .btn {
            margin-left: 0;
            margin-right: 5px;
        }

        li:last-child .btn {
            margin-right: 0;
        }
    }

    .navbar-navigation-header-links .btn,
    .navbar-navigation-header-actions .btn {
        margin-right: 1px;
        margin-left: 1px;
    }

    .navbar-navigation-header-actions {
        .btn-fancy {
            font-size: 13px;
            padding: 6px 5px;
        }

        .apply-now-action .btn {
            margin-right: 5px;
            margin-left: 0;
        }

        .sign-in-action .btn,
        .sign-out-action .btn {
            margin-left: 7px;
            margin-right: 0;
        }
    }
}


@media screen and (min-width : 768px) {
    .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 7px;
        margin-top: -1px;
    }

    .account .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 12.85px;
    }

    .apply.account-services .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 19px;
    }

    .navbar-navigation-header-links .btn,
    .navbar-navigation-header-actions .btn {
        margin-left: 4px;
        margin-right: 3px;
    }

    .navbar-navigation-header-actions {
        .btn {
            font-size: 16px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .apply-now-action .btn {
            margin-right: 5px;
            margin-top: -1px;
        }

        .sign-in-action .btn,
        .sign-out-action .btn {
            margin-left: 7px;
            margin-top: -1px;
        }
    }

    .navbar-menu .menu-container-item button,
    .navbar-menu .menu-container-item .m-dropdown a {
        font-size: 15px;
    }

    .navbar-menu {
        .menu-container-item {
            button {
                font-size: 15px;
            }
        }
    }
}


@media screen and (min-width : 769px) {
    .navbar-navigation-header-actions .btn-fancy {
        font-size: 13px;
        padding: 6px 5px;
    }
}

@media screen and (min-width: 824px) {
    .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 5px;
    }

    .navbar-navigation-header-links .btn,
    .navbar-navigation-header-actions .btn {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-navigation-header-links .btn {
        padding: 3px;
    }

    .navbar-navigation-header-actions {
        .apply-now-action .btn {
            margin-right: 2px;
        }

        .sign-in-action .btn,
        .sign-out-action .btn {
            margin-left: 2px;
        }
    }
}

@media screen and (min-width: 890px) {
    .navbar-navigation-header-links .btn,
    .navbar-navigation-header-actions .btn {
        margin-right: 5px;
        margin-left: 5px;
    }
}


@media screen and (min-width: 781px) {
    .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 5px;
    }

    .navbar-navigation-header-links .btn,
    .navbar-navigation-header-actions .btn {
        margin-right: 5px;
        margin-left: -1px;
        margin-top: -1px;
    }

    .navbar-navigation-header-actions {
        .apply-now-action .btn {
            margin-right: 3px;
        }

        .sign-in-action .btn,
        .sign-out-action .btn {
            margin-left: 3px;
        }
    }
}

@media screen and (min-width: 942px) {
    .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 13px;
    }

    .navbar-navigation-header-actions {
        .btn {
            font-size: 16px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .apply-now-action .btn {
            margin-right: 5px;
        }

        .sign-in-action .btn,
        .sign-out-action .btn {
            margin-left: 5px;
        }
    }
}

@media screen and (min-width: 1015px) {
    .apply .navbar-navigation-header .navbar-navigation-header-links,
    .apply.account-services .navbar-navigation-header .navbar-navigation-header-links,
    .account .navbar-navigation-header .navbar-navigation-header-links,
    .navbar-navigation-header .navbar-navigation-header-links {
        margin-right: 23px;
    }

    .navbar-navigation-header-links .btn,
    .navbar-navigation-header-actions .btn {
        margin-left: 12px;
        margin-right: 12px;
        margin-top: -1px;
    }
}

@media screen and (min-width: 1025px) {
    .navbar-container {
        padding-right: 3%;
        padding-left: 3%;
    }
}

/*menu*/
.navbar-menu {
    float: right;

    .menu-container-item {
        position: relative;
        cursor: pointer;
        line-height: 1;
        list-style: none;
        display: inline-block;
        margin: 0 9px;
        padding: 0 0px 0;
        margin-left: 4px;
        float: left;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: -6px;

            .m-dropdown {
                left: -140px;
            }
        }

        &:hover {
            .m-dropdown {
                display: block;
                opacity: .93;
                visibility: visible;
                background-color: #002250;
                background-image: none;
                -webkit-transition: all .2s ease-in-out;
                -o-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
            }

            button {
                color: #f9a93a;
            }
        }

        button {
            font-size: 13px;
            color: #fff;
            font-weight: normal;
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

        .m-dropdown {
            background: url("#{$image-url-base}/black-tint.png") repeat; padding: 15px 0 0 0;
            position: absolute;
            left: 0;
            width: 291px;
            opacity: 0;
            visibility: hidden;
            left: -20px;
            top: 22px;

            &.focus {
                display: block !important;
                visibility: visible !important;
                opacity: .93 !important;
                background-color: #002250 !important;
                background-image: none !important;
            }

            a {
                color: #fff;
                font-size: 13px;
                font-weight: 500;
                text-transform: capitalize;
                display: block;
                transition: all .2s ease-in-out;

                &:hover {
                    color: #f9a93a;
                }
            }

            & li {
                border-bottom: 1px solid #ffffff;
                margin-left: 15px;

                &:last-of-type {
                    border-bottom: none;
                }

                & a {
                    padding-bottom: 7px;
                    margin-top: 10px;
                }

                &:first-of-type {
                    & a {
                        margin-top: 0;
                    }
                }
            }

            .row-break-item {
                padding: 0;
                margin: 0;
                line-height: 1px;

                .row-break {
                    display: block;
                    border-bottom: solid 1px #fff;
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }

        &:nth-child(2) .m-dropdown {
            width: 260px;
        }

        &:nth-last-child(2) .m-dropdown {
            left: -90px;
        }

        &:nth-last-child(3) .m-dropdown,
        &:last-child .m-dropdown {
            width: 291px;
        }
    }
}

@media screen and (min-width: 726px) {
    .navbar-menu {
        .menu-container-item {
            margin-right: 0px;

            button,
            .m-dropdown a {
                font-size: 13px;
            }

            .m-dropdown {
                width: 240px;

                li {
                    padding: 5px 15px;
                }
            }
        }
    }

    .navbar-menu {
        .menu-container-item {
            button,
            .m-dropdown a {
                font-size: 14px;
                margin-right: 0;
            }

            &:last-child {
                button {
                    margin-right: 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 875px) {
    .navbar-navigation-header .navbar-navigation-header-links li .btn, {
        margin-right: 0;
    }
}

@media screen and (max-width: 890px) {
    .navbar-menu {
        .menu-container-item {
            margin-left: 4px;
        }
    }
}

@media screen and (min-width: 942px) {
    .navbar-menu {
        .menu-container-item {
            margin-left: 0px;
            margin-right: 15px;

            button {
                font-size: 16px;
            }

            .m-dropdown a {
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width: 985px) {
    .navbar-menu {
        .menu-container-item {
            .m-dropdown {
                padding-right: 20px;
            }
        }
    }
}

@media screen and (min-width: 1015px) {
    .navbar-menu {
        .menu-container-item {
            margin-right: 27px;
        }
    }
}

/*desktop nav*/
@media screen and (min-width: 0) {
    .desktop-nav {
        display: none;
        z-index: 1012;
    }
}

@media screen and (min-width: 726px) {
    .desktop-nav {
        display: block !important;
    }
}

/*logo resize*/
.navbar-container .navbar-brand-container .navbar-brand,
.navbar-container .navbar-brand-container .navbar-brand img {
    width: 315px;
}

@media screen and (min-width: 726px) {
    .navbar-container .navbar-brand-container .navbar-brand,
    .navbar-container .navbar-brand-container .navbar-brand img {
        width: 200px;
    }
}

@media screen and (min-width: 736px) {
    .navbar-container .navbar-brand-container .navbar-brand,
    .navbar-container .navbar-brand-container .navbar-brand img {
        width: 212px;
    }
}

@media screen and (min-width: 942px) {
    .navbar-menu .menu-container-item {
        margin-right: 20px;
    }
}

@media screen and (min-width: 781px) {
    .navbar-container .navbar-brand-container .navbar-brand,
    .navbar-container .navbar-brand-container .navbar-brand img {
        width: 216px;
    }
}

@media screen and (min-width: 1101px) {
    .navbar-container .navbar-brand-container .navbar-brand,
    .navbar-container .navbar-brand-container .navbar-brand img {
        width: 315px;
    }
}

/*apply page*/
@media screen and (min-width: 726px) {
    .apply:not(.account-services) .navbar-navigation-header-links {
        margin-right: 0;
    }
}

/*account services*/
@media screen and (max-width: 622px) {
    body.account #header {
        margin-top: 50px;
    }

    .account .full-mobile p {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 726px) {
    .account .navbar-navigation-header-links .btn {
        font-size: 14px;
    }
}

@media screen and (min-width: 942px) {
    .account .navbar-navigation-header-links .btn {
        font-size: 16px;
    }

    .navbar-menu .menu-container-item {
        margin-right: 3px;
    }
}

@media screen and (min-width: 1000px) {
    .account .navbar-navigation-header-links .btn {
        font-size: 16px;
    }

    .navbar-menu .menu-container-item {
        margin-right: 18px;
    }
}

/*sign in page*/
@media screen and (min-width: 0) {
    .sign-in {
        .navbar {
            background-image: none;
            background-color: #183560;

            .navbar-navigation-header-actions .sign-in-action {
                margin-right: 0;
            }
        }
    }
}

@media screen and (min-width: 942px) {
    .sign-in {
        .sign-in-action .btn {
            padding-top: 3px;
            padding-bottom: 3px;
        }
    }
}

/*partner page*/


.responsive-partner-option-1-page {

    .desktop-nav {
        .sticky-nav-logo {
            opacity: 0;
        }

        &.affixed {
            .navbar-inner-cobrand {
                -webkit-transition: margin .2s ease-out .1s,opacity .15s linear;
                -moz-transition: margin .2s ease-out .1s,opacity .15s linear;
                -ms-transition: margin .2s ease-out .1s,opacity .15s linear;
                -o-transition: margin .2s ease-out .1s,opacity .15s linear;
                transition: margin .2s ease-out .1s,opacity .15s linear;
                margin-top: -98px !important; /*height of navbar*/
            }

            .sticky-nav-logo {
                animation: fadein .5s;
                -webkit-transition: opacity .5s ease-in;
                -moz-transition: opacity .5s ease-in;
                -ms-transition: opacity .5s ease-in;
                -o-transition: opacity .5s ease-in;
                transition: opacity .5s ease-in;
                opacity: 1;
            }
        }

        &:not(.affixed) {
            .navbar-inner-cobrand {
                -webkit-transition: margin .2s ease-out,opacity .15s linear .2s;
                -moz-transition: margin .2s ease-out,opacity .15s linear .2s;
                -ms-transition: margin .2s ease-out,opacity .15s linear .2s;
                -o-transition: margin .2s ease-out,opacity .15s linear .2s;
                transition: margin .2s ease-out,opacity .15s linear .2s;
            }

            .sticky-nav-logo {
                animation: fadeout .15s;
                -webkit-transition: opacity .15s ease-out;
                -moz-transition: opacity .15s ease-out;
                -ms-transition: opacity .15s ease-out;
                -o-transition: opacity .15s ease-out;
                transition: opacity .15s ease-out;
                opacity: 0;
            }
        }
    }

    #header {
        &.affixed {
            #partner-nav-mobile {
                display: none;
            }
        }

        &:not(.affixed) {
            #partner-nav-mobile {
                display: block;
            }
        }
    }
}

@media screen and (min-width: 642px) {


    body.home.responsive-partner-option-1-page #header .headline .subtitle {
        margin: 0;
    }
}


@media screen and (min-width: 726px) {
    .wide-layout.responsive-partner-option-1-page header {
        margin-top: 50px;
    }

    .wide-layout.landing-page.responsive-partner-option-1-page header .headline {
        margin-top: 0 !important;
        top: -15px !important;
    }

    .navbar-inner-ls .navbar-container .navbar-navigation-container {
        height: 0;
    }

    .navbar-inner-cobrand .navbar-container .navbar-navigation-container .navbar-brand {
        height: 58px;
    }

    .responsive-partner-option-1-page .navbar-inner-ls .navbar-container {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .home.partner.responsive-partner-option-1-page #header {
        margin-top: 74px;
    }

    .landing-page.responsive-partner-option-1-page header .headline {
        top: 65px !important;
    }

    .wide-layout.landing-page.landing-page.responsive-partner-option-1-page header .headline {
        margin-top: 15px !important;
    }

    body.wide-layout.home.partner.responsive-partner-option-1-page #header img {
        height: 310px;
    }

    body.wide-layout.home.partner.responsive-partner-option-1-page #header .headline {
        top: 76px !important;
    }
}

@media screen and (min-width: 884px) {
    body.wide-layout.home.partner.responsive-partner-option-1-page #header img {
        height: 320px;
    }
}

@media screen and (max-width: 1000px) {
    body.home.responsive-partner-option-1-page #header .headline .subtitle {
        margin: 0;
    }
}

@media screen and (min-width: 1003px) {
    body.wide-layout.home.partner.responsive-partner-option-1-page #header img {
        height: 385px;
    }

    .home.partner.responsive-partner-option-1-page #header {
        height: auto;
    }

    .home.wide-layout.partner.responsive-partner-option-1-page #header {
        height: 385px;
    }

    .landing-page.responsive-partner-option-1-page header .headline {
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 1200px) {
    body.wide-layout.home.partner.responsive-partner-option-1-page #header img {
        height: auto;
    }

    .home.wide-layout.partner.responsive-partner-option-1-page #header {
        height: auto;
    }
}
/*prefunding page*/
.pre-funding .page-container {
    margin-top: 100px;
}

@media screen and (min-width: 0) {
    .pre-funding .page-container {
        margin-top: 50px;
    }
}

@media screen and (min-width: 726px) {
    .pre-funding .page-container {
        margin-top: 100px;
    }
}

#partner-nav-mobile {
    .mobile-nav {
        .nav-bar {
            height: 120px;

            li .apply-now a {
                border-radius: 0 !important;
            }

            .partner-logo-container {
                height: 50%;
                text-align: center;
                padding: 0 0 10px 0;

                a, img {
                    height: 100%;
                }
            }
        }
    }

    .mobile-nav .nav-bar li a.btn-round {
        border-radius: 0 !important;
        box-shadow: inset 0 0 6px #263856;
    }
}

.desktop-nav, .mobile-nav {
    padding: 0;
}
