@media only screen {
    .home-page {
        .greater-than-sign {
            font-size: 68%;
        }

        .btn-tree {
            margin-top: 15px;
            text-transform: none;

            .btn-desc {
                float: left;
                text-align: left;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
            }
        }
    }

    .event-page {
        .mobile-only {
            display: inline-block;
        }

        .desktop-only {
            display: none;
        }

        [id$='VideoModal'] {
            height: 50%;
            width: 100%;
            top: 100px !important;

            .medium-12 {
                height: 100%;

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .banner-container {
            .mobile-banner {
                padding-top: 50px;
            }
        }

        .btn-border-white {
            border: thick solid white;
            display: inline-block;
        }

        #lightstreamVideo {
            height: 100%;
            top: 0;
            margin-top: 25px;
            bottom: 0;
        }

        #header {
            height: auto !important;
            min-height: 0;
        }

        .banner-container {
            height: 100% !important;
            min-height: 0;
        }

        .widget-headline {
            padding-top: 25vw;
            padding-bottom: 35vw;

            .widget-header {
                .widget-headline-title {
                    font-weight: 900;
                    font-size: 7vw;
                    line-height: 38px;
                    text-shadow: 1px 5px 5px 0 rgba(0,0,0,0.5);
                    text-shadow: 1px 5px 5px rgba(0,0,0,0.5);
                }
            }
        }

        .event-widget-copy {

            .widget-header {
                .widget-headline-title {
                    font-size: 20px; /*6.25vw;*/
                    font-weight: bold;
                    line-height: 19px; /*6.2vw;*/
                    padding-top: 1rem;
                }
            }

            .widget-body {
                p {
                    font-size: 12px;
                    padding-left: 10px;
                    padding-top: 5px;
                    padding-bottom: 0;
                    padding-right: 10px;
                    text-align: left;
                    line-height: 16px;
                }
            }
        }

        #lendingUncomplicatedSection {
            margin-top: 10px;
            height: 155.77px;
            overflow: hidden;

            img {
                height: 100%;
            }

            #ludiv {
                padding-top: 20px;

                h2 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 16px;
                    text-shadow: 0 2px 3px rgba(0,0,0,0.5);

                    .top-title {
                    }

                    .middle-title {
                        display: block;
                        font-weight: 800;
                    }

                    .bottom-title {
                    }
                }

                .button {
                    font-size: 18px;
                }
            }
        }

        @import "_jumbo-tiles-mobilefirst.scss";

        #feature-bullets {
            .row .row:last-child {
                padding-bottom: 50px;
            }
        }

        .image-article-widget {
            .widget-header {
                .widget-headline-title {
                    color: #1F5587;
                    padding-left: 20px;
                    padding-right: 20px;
                    font-size: 20px;
                    line-height: 19px;
                    font-weight: bold;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
            }

            .widget-body {
                overflow: hidden;

                .image-article-widget-container {
                    overflow: hidden;

                    .image-article-widget-item {
                        a {
                            display: block;
                            text-align: center;

                            img {
                                height: 48vw;
                                display: inline-block;
                            }
                        }

                        iframe {
                            height: 48vw;
                            display: inline-block;
                            width: 100%;
                        }

                        h3 {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            text-align: center;
                            color: #1F5587;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 24px;
                        }

                        h4 {
                            color: #222222;
                            font-size: 14px;
                            font-weight: bold;
                            line-height: 17px;
                            text-align: center;
                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        p {
                            padding-bottom: 0;
                            text-align: center;
                            color: #222222;
                            font-size: 14px;
                            line-height: 17px;
                        }
                    }
                }
            }
        }

        footer {
            padding: .5rem;

            #Footer {
                margin-top: 20px;
            }
        }
    }

    body.home.event-page #header img.banner.desktop-banner {
        display: none;
    }

    body.home.event-page #header img.desktop-banner,
    body.home.event-page #header img.mobile-banner {
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100% !important;
    }
}

@media screen and (min-width: 100px) {
    .event-page {
        #header {
            margin-bottom: 0 !important;
        }
    }
}

@media only screen and (min-width: 45.375em) {


    body.home.event-page #header img.banner.desktop-banner {
        display: block;
        /*width: auto;*/
    }

    body.home.event-page #header img.mobile-banner {
        display: none;
    }

    body.home.event-page #header img.banner {
        /*min-width: auto !important;*/
    }

    .event-page {
        .mobile-only {
            display: none;
        }

        .desktop-only {
            display: inline-block;
        }

        [id$='VideoModal'] {
            display: none !important;
        }

        .reveal-modal-bg {
            display: none !important;
        }

        .widget-headline {
            margin-top: 92px;
            padding-top: 135px;
            padding-bottom: 135px;

            .widget-header {
                .widget-headline-title {
                    font-size: 50px;
                    font-weight: 900;
                    letter-spacing: 2px;
                    line-height: 72px;
                    text-shadow: 1px 5px 5px 0 rgba(0,0,0,0.5);
                    text-shadow: 1px 5px 5px rgba(0,0,0,0.5);
                }
            }
        }

        @import "_jumbo-tiles-desktop.scss";

        .event-widget-copy {
            .widget-header {
                .widget-headline-title {
                    font-size: 24px;
                    line-height: 29px;
                }
            }

            .widget-body {
                p {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        #lendingUncomplicatedSection {
            height: 214.55px;

            img {
                height: 100%;
                max-width: initial;
            }

            #ludiv {
                padding-top: 40px;

                h2 {
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 40px;

                    .middle-title {
                        display: inline-block;
                        font-weight: 800;
                    }

                    .bottom-title {
                        display: block
                    }
                }
            }
        }

        .image-article-widget {
            .widget-header {
                .widget-headline-title {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }

            .widget-body {
                .image-article-widget-container {
                    .image-article-widget-item {
                        a {
                            img {
                                height: 16vw
                            }
                        }

                        iframe {
                            height: 16vw
                        }
                    }
                }
            }
        }

        .btn-border-white {
            margin-left: 45px;
        }

        #lightstreamVideo {
            margin-top: 0;
            padding-top: 92px;
        }
    }
}

@media only screen and (min-width: 1001px) {
    .event-page {
        .image-article-widget {
            .widget-body {
                .image-article-widget-container {
                    .image-article-widget-item {
                        a {
                            img {
                                height: 168px;
                            }
                        }

                        iframe {
                            height: 168px;
                        }
                    }
                }
            }
        }
    }
}
