@import '_mixins';

#feature-bullet-accordion {
    .is-active > .accordion-title::before {
        content: none;
    }

    @include mq('ls-mobile-base') {
        .desktop-view {
            display: none;
        }

        .homefeatures {
            h3 {
                margin: 0 10px 20px;
            }
        }

        .accordion {
            padding: 0;
            margin-left: -0.75rem;
            margin-right: -0.75rem;
            border: solid 1px gray;
            box-shadow: 1px 1px 5px #888888;

            .accordion-navigation .close-reveal-modal {
                display: none;
            }

            li {
                border-bottom: 1px solid gray;
                list-style: none;
                a {
                    img {
                        width: 50px;
                        height: 50px;
                    }

                    div.ls-expander {
                        color: #1f5587;

                        &.ls-plus {
                            margin-top: 0.8em;
                        }

                        &.ls-minus {
                            margin-top: 0.6em;
                            display: none;
                        }
                    }
                }
            }

            li.is-active {

                a[href^="#"] {
                    border-bottom: none;
                }

                div.ls-expander {
                    &.ls-plus {
                        display: none;
                    }

                    &.ls-minus {
                        display: block;
                    }
                }
            }

            .title {
                display: block;
                padding: 9px 0 0px 20px !important;
                color: #1f5587;
                font-size: 14px;
                font-weight: 600;
            }

            a[href^="#"] {
                width: 100%;
                padding: 5px !important;
                background: white;
                border-bottom: 1px solid gray;
                display: block;
            }

            .accordion-content p {
                line-height: 13px;
                font-size: 12px;
                font-weight: 600;
                color: gray;
            }
        }
    }

     @include mq('ls-desktop') {
        .mobile-view {
            display: none;
        }

        .desktop-view {
            display: block;
        }
    }
}
