@media (min-width: 0) {
    .card {
        text-align: center;
        height: 100%;
        width: 100px;
    }

    .cardFront,
    .cardBack {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;
        font-size: 12px;
        padding-top: 10px;
        background-color: #10497C;
    }

    .cardFront,
    .cardBack {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .cardBack {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        height: 100%;
        color: white;
        text-align: center;
        padding-top: 8%;
        line-height: 260%;
        font-size: 3.8vw;
    }

    .cardBack, #autoBack {
        padding-top: 2px;
    }

    #autoBack {
        line-height: 220%;
        font-size: 3.5vw;
    }

    #autoBack > div:nth-child(3) {
        font-style: italic;
        font-size: 10px;
    }

    .card.effect__hover:hover .cardFront {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }

    .card.effect__hover:hover .cardBack {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    .card.effect__hover {
        height: 100%;
    }

    .cardRateAuto {
        font-weight: bold;
        font-size: 25px;
        line-height: 100%;
    }

    .cardRate {
        font-weight: bold;
        font-size: 12vw;
        margin-bottom: 8px;
    }

    .cardRate > sup {
        font-size: 60%;
    }

    .learnButtonDiv {
        margin-top: 16px;
    }

    .learnMoreButton {
        padding: 2px 5px 2px 5px;
        background-color: #ffffff;
        font-weight: bold;
        color: #10497C;
        border: 1px solid white;
        box-shadow: inset 0px 0px 12px 8px #f6a537;
        border-radius: 4px;
    }

    .learnMoreButton:hover {
        color: #10497C;
        background-color: #ffffff;
        box-shadow: inset 0px 0px 12px 8px #c97e17;
    }

    .cardText img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 341px) {
    #autoBack {
        line-height: 220%;
        font-size: 14px;
    }

    .cardBack {
        line-height: 300%;
    }

    .cardRate {
        font-size: 40px;
    }
}

@media (min-width: 361px) {
    .cardBack, #autoBack {
        font-size: 14px;
    }

    .cardRate {
        font-size: 50px;
    }

    #autoBack > div:nth-child(3) {
        font-size: 10px;
    }

    .cardBack {
        line-height: 300%;
    }

    #autoBack {
        line-height: 250%;
    }
}

@media (min-width: 376px) {
    .cardBack, #autoBack {
        font-size: 12px;
    }

    .cardRate {
        font-size: 30px;
    }

    #autoBack > div:nth-child(3) {
        font-size: 1.5vw;
    }

    .cardBack {
        line-height: 280%;
    }

    #autoBack {
        line-height: 230%;
    }
}

@media (min-width: 427px) {
    .cardBack, #autoBack {
        font-size: 16px;
    }

    .cardRate {
        font-size: 46px;
    }

    #autoBack > div:nth-child(3) {
        font-size: 10px;
    }

    .cardBack {
        line-height: 280%;
    }

    #autoBack {
        line-height: 200%;
    }
}

@media (min-width: 480px) {
    .cardRate {
        font-size: 36px;
    }

    .cardBack, #autoBack {
        font-size: 11.5px;
    }

    #autoBack {
        line-height: 190%;
    }

    .cardBack {
        line-height: 200%;
    }

    #autoBack > div:nth-child(3) {
        font-size: 1.5vw;
    }
}

@media (min-width: 501px) {
    .cardBack, #autoBack {
        padding-top: 8%;
    }
}

@media (min-width: 541px) {
    .cardBack {
        line-height: inherit;
    }
}

@media (min-width: 591px) {
    .cardBack, #autoBack {
        font-size: 15px;
    }

    .cardRate {
        font-size: 40px;
    }
}

@media (min-width: 661px) {

    .cardBack, #autoBack {
        font-size: 18px;
    }

    #autoBack {
        padding-top: 10px;
        line-height: 190%;
    }

    .cardRate {
        font-size: 45px;
    }
}

@media (min-width: 726px) {

    .cardBack, #autoBack {
        font-size: 12px;
        line-height: 1.3;
    }

    #autoBack {
        padding-top: 6px;
    }

    .cardRate {
        font-size: 32px;
        margin-bottom: 0;
    }

    #card-carousel > div.owl-stage-outer > div > div:nth-child(1) > div > div.cardBack > div:nth-child(3) {
        font-size: 9px;
    }

    .learnButtonDiv {
        margin-top: 20px;
    }
}

@media (min-width: 781px) {
    .cardBack, #autoBack {
        line-height: inherit;
    }

    #card-carousel > div.owl-stage-outer > div > div:nth-child(1) > div > div.cardBack > div:nth-child(3) {
        font-size: 10px;
    }
}

@media (min-width: 853px) {
    .cardBack {
        font-size: 14px;
    }

    .cardRate {
        font-size: 36px;
    }
}
