@import "_mixins.scss";

.infographic-container {
    img {
        width: 100%;
    }

    .infographic-desktop {
        display: none;

        @include mq('ls-desktop') {
            display: block;
        }
    }

    .infographic-mobile {
        @include mq('ls-desktop') {
            display: none;
        }
    }
}
