@import "_mixins.scss";

.event-widget-jumbo-tiles {
    margin-top: 12px;
    background-color: #003C68;

    .widget-body {
        .event-widget-jumbo-tile-container {
            overflow: hidden;

            .columns:last-child .event-widget-jumbo-tile {
                margin-bottom: 20px;
            }

            .event-widget-jumbo-tile {
                background-color: #d7ecfd;
                border-radius: 8px;
                margin-top: 20px;
                margin-right: 20px;
                margin-bottom: 5px;
                margin-left: 20px;

                &::before {
                    padding: 150px;
                }

                .event-widget-jumbo-tile-content {
                    padding-right: 10px;
                    padding-bottom: 10px;
                    padding-left: 10px;
                    min-height: 0;

                    .event-widget-jumbo-tile-copy {

                        h2 {
                            color: #1F5587;
                            padding-top: 10px;
                            padding-right: 5px;
                            padding-bottom: 10px;
                            padding-left: 5px;
                            font-size: 20px;
                            font-weight: bold;
                            line-height: 19px;
                        }

                        p {
                            padding-right: 5px;
                            padding-bottom: 5px;
                            padding-left: 5px;
                            font-size: 12px;
                            line-height: 16px;
                            color: #222222;
                        }
                    }

                    .event-widget-jumbo-tile-actions {
                        padding-top: 5px;
                        text-align: center;
                    }
                }
            }
        }
    }
}


