.event-widget-jumbo-tiles {
    .widget-body {
        .event-widget-jumbo-tile-container {
            .columns:first-child {
                .event-widget-jumbo-tile {
                    margin-bottom: 30px;
                }
            }

            .event-widget-jumbo-tile {
                margin-top: 38px;
                margin-right: 60px;
                margin-bottom: 30px;
                margin-left: 60px;

                .event-widget-jumbo-tile-content {
                    .event-widget-jumbo-tile-copy {
                        min-height: 264px;

                        h2 {
                            font-size: 24px;
                            /* font-weight: bold; */
                            line-height: 29px;
                        }

                        p {
                            font-size: 14px;
                            line-height: 19px;
                        }
                    }
                }
            }
        }
    }
}
