@import "_mixins.scss";

#lendingUncomplicatedSection {
    height: 150px;
    margin-top: 20px;

    div {
        height: 100%;
        padding: 0;
    }

    img {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    #ludiv {
        text-align: center;
        z-index: 5;

        h1 {
            font-weight: 700;
            color: white;
            padding-bottom: 0;
            font-size: 8vw;

            @include mq('phone-wide') {
                font-size: 30px;
            }
        }

        h2 {
            color: white;
            font-weight: 700;
            padding-top: 0;
            font-size: 6vw;

            @include mq('phone-wide') {
                font-size: 24px;
            }
        }
    }
}
