@import "_mixins.scss";

h2 {
    font-weight: 700;
}

.row.desktop {
    display: none;

    @include mq('ls-desktop') {
        display: block;
    }
}

.row.mobile {
    display: block;
    text-align: center;

    .experienceImage {
        height: 56vw !important;
    }

    img.large-view.experienceImage {
        display: none !important;
    }

    @include mq('ls-desktop') {
        display: none;
    }
}

#LSExperienceLarge {
    text-align: center !important;
    #mediaCoverage {
        > img.large-view.experienceImage {
            height: 163px;
        }

        img.mobile-view.experienceImage {
            display: block !important;

            @include mq('ls-desktop') {
                display: none !important;
            }
        }
    }

    .mobile-view > img {
        display: none !important;
    }

    h3 {
        margin-top: 20px;
        text-align: center;
    }
}
