@import '_mixins';

#guarantee {
    @include mq('ls-mobile-base') {
        .desktop {
            display: none;
        }

        .mobile {
            display: block;
        }

        .headertoggle #show_how_mobile i {
            float: right;
            margin-top: 10px;
        }

        .headertoggle #show_how_mobile i.ls-expander:before {
            padding-right: 0.5em;
        }
    }

    @include mq('ls-medium') {
        .headertoggle #show_how_mobile i {
            float: right;
            margin-top: .2em;
        }
    }

    @include mq('ls-desktop') {
        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }
    }
}
