@import "_mixins.scss";
@import "css3-mixins.scss";

@mixin bannerTextShadow() {
    @include text-shadow(1px, 1px, 20px, rgba(0,0,0,1));
}

.loan-aggregator-page {
    #header {
        height: auto !important;
        min-height: 0;

        > div.banner-container.cms.hide-for-small banner {
            display: block !important;

            @include mq('ls-desktop') {
                display: none !important;
            }
        }
        
        @import "_banner-mobile.scss";

        div.headline.show-for-small-only {
            margin-bottom: 100px !important;
        }

        > div.headline.hide-for-small-only.home3Headline {
            top: 116px !important;

            @include mq('desktop-wide') {
                top: 8vw !important;
            }

            @include mq('ultra-wide') {
                top: 180px !important;
            }

            > div.row {
                > div {
                    > h2 {
                        margin-top: 0 !important;
                        font-size: 60px;
                        @include bannerTextShadow;
                    }
                }
            }

            h2 {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                font-size: 70px;
                font-weight: 800;
                color: white;
                @include bannerTextShadow;
            }

            h3 {
                font-size: 20px;
                color: white;
                @include bannerTextShadow;
            }
        }

        .headline {
            padding-top: 0 !important;
        }


        > div.headline.show-for-small-only {
            margin-top: 60px !important;

            > h2 {
                font-weight: 800;
                text-align: center;
                @include bannerTextShadow;
            }

            > h3 {
                @include bannerTextShadow;
                font-size: 20px;
                margin-top: 0;
            }

            > div.mobile-banner-text {
                > h2 {
                    font-size: 11vw !important;
                    font-weight: 800;
                    line-height: .8 !important;
                    padding-top: 70px !important;
                    text-align: center;
                    font-size: 60px;
                }
            }

            div.row.mobile-banner-buttons-row {
                margin-top: 10px;
            }

            input[type="submit"] {
                font-size: 12px;

                @include mq('phone-wide') {
                    font-size: 16px;
                }
            }

            .bannerButton {
                width: 37vw;
                font-size: 12px;

                @include mq('phone-wide') {
                    font-size: 16px;
                }
            }
        }

        div.show-for-small-only {
            max-width: 100% !important;
            text-align: center;
            height: 100%;
            margin-top: 0 !important;
            top: 0 !important;
            position: initial !important;
        }
    }

    #rates {

        section > article > p {
            padding-top: 10px;
            padding-bottom: 0;
        }

        > div.row.ruled.panel {
            margin-top: 12px;
            margin-bottom: 0 !important;
        }

        div.row.apr-disclosure-row > div > p {
            color: black;
            padding: 110px 20px 0 20px;

            @include mq('ls-desktop') {
                padding: 0;
            }
        }

        @import "_feature-bullets.scss";
        @import "_lightstream-experience.scss";
    }

    #customerComments > a.large-view {
        display: none;
    }

    #videoColumn, #mediaCoverage {
        padding: 0;
    }

    .legalcopy > p {
        padding: 0;
    }

    mobile-banner {
        display: none;
    }
}

@import "_comparative-table.scss";
@import "_banner-video.scss";
