
$breakpoints: ("ls-mobile-base":0px, "phone": 400px, "phone-wide": 480px, "phablet": 560px, "tablet-small": 640px, "ls-medium": 642px, "ls-desktop": 726px, "ls-page": 1201px, "tablet": 768px, "tablet-wide": 1024px, "desktop": 1248px, "desktop-wide": 1440px, "ultra-wide": 2300px );

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type == max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}

@mixin aspect-ratio($ratio-or-width, $height: null) {
    $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));

    &:before {
        content: '';
        float: left;
        padding-bottom: $padding;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }
}