@mixin vertical-align {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.next-step-component {
    text-align: center;
    min-height: 140px;

    img {
        width: 100%;
        z-index: -1;
        min-height: 140px;
    }

    h1, h2 {
        color: white;
        font-weight: 700;
        padding: 0 !important;
    }

    h1 {
        font-size: 30px !important;
        line-height: 32px !important;
    }

    h2 {
        font-size: 24px;
    }

    .columns {
        padding: 0;
    }

    .next-step-banner-content {
        width: 100%;
        @include vertical-align();
    }

    a.button{
        margin: 10px 0 0 0;
    }
}
