.paid-search-page {
    $brand-height: 3.438em;
    $brand-width: 18.938em;

    .navbar-container {
        padding-right: 77px;
        padding-left: 77px;

        .navbar-brand-container {
            .navbar-brand {
                width: $brand-width;
                height: $brand-height;

                img {
                    width: $brand-width;
                    height: $brand-height;
                }
            }
        }
    }

    .navbar-navigation-header-actions .btn {
        &.btn-medium {
            padding: 7px 10px;
            font-weight: 800 !important;
            font-size: 1em;
            line-height: .8;
        }
    }
}