@import '_mixins';

body.landing-page {
    &.direct-mail-campaign-page,
    &.responsive-redesign-v1-page,
    &.responsive-partner-option-1-page {
        $font-color: #003669;
        $light-blue: #d9eeff;
        $white-color: #fff;

        .apr-disclosure-wrapper {
            padding-bottom: 12px;
        }

        @include mq('ls-mobile-base') {
            .ls-desktop {
                display: none !important;
            }

            #header {
                .row.headline.ls-mobile {
                    padding: 0;
                    position: relative;
                    max-width: 100%;
                    top: 0;
                    margin: 0;
                    margin-top: 40px !important;

                    p {
                        margin-left: 0.6rem;
                    }

                    .partnerlogo.partner-option1 {
                        float: right;
                    }


                    .heading, .sub-heading {
                        text-shadow: none;
                        color: $font-color;
                        line-height: 1.1;
                    }

                    .heading {
                        font {
                            font-size: 7.5vw; // hack to overwrite cms setting
                        }

                        font-weight: 800;
                        font-size: 7.5vw;
                        padding: 0;
                    }

                    .sub-heading {
                        font {
                            font-size: 3.6vw; // hack to overwrite cms setting
                        }

                        font-size: 3.6vw;
                        font-weight: 600;
                    }

                    .heroaction {
                        background: $light-blue;
                    }
                }
            }

            .page-article {
                padding: 1em 1em 0;
            }

            .rate-calculator {
                #rates {
                    margin-top: 0;

                    #aprRow {
                        background: $light-blue;
                    }

                    .row.ruled.panel {
                        border: none;
                        margin-bottom: 0;
                    }
                }

                table.records tr {

                    td.first:before {
                        content: "+";
                    }

                    &.expanded td.first:before {
                        content: "\2013";
                        top: 11px;
                    }
                }
            }

            #lendingUncomplicatedSection {
                margin-top: 0;
            }
        }

        @include mq('phone-wide') {
            .rate-calculator table.records tr {

                td.first:before {
                    content: none;
                }

                &.expanded td.first:before {
                    content: none;
                    top: 11px;
                }
            }
        }

        @include mq('ls-desktop') {
            .ls-desktop {
                display: block !important;
            }

            .ls-mobile {
                display: none;
            }

            #header {
                height: auto !important;

                .row.headline.ls-desktop {
                    h4 {
                        margin-bottom: 0px;
                    }
                }
            }

            .rate-calculator {
                #rates {
                    #aprRow {
                        background: #fff;
                    }
                }
            }
        }
    }
}

/* responsive partner option 1 page overrides */
body.landing-page {
    &.responsive-partner-option-1-page {

        @include mq('ls-desktop') {
            &.fixed-layout {
                #header {
                    .row.headline {
                        margin-top: 34px !important;
                    }
                }
            }
        }

    }
}
