
/* Injected BV Reviews Page */
.reviews {
    @media screen and (min-width: 0) {
        .page-container {
            margin-top: 50px;
        }
    }

    @media screen and (min-width: 726px) {
        .page-container {
            margin-top: 92px;
            padding: 2em 0;
        }
    }
}

/* Reviews Component*/

.web-component {
    &.ratings-reviews-component-container {
        h3 {
            color: #10497C;
            font-size: 1.4rem;
        }
    }
}
