$blogpost-navy-blue: #1f5587;

@media only screen {
    .widget-customer-comments-wide {
        .widget-header {
            h2.show-for-small {
                font-size: 1.1em;
            }
        }

        .widget-body {
            .customer-comments-image {
                text-align: center;

                img {
                    height: 152px;
                }
            }
            .customer-comments-title {
                text-align: center;

                h3.show-for-small {
                    font-size: 18px;
                    color: $chathams-blue;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
            }
            .customer-comments-content {
                .readmore-container {
                    text-align: center;    
                }
            }
        }
    }
}

@media only screen and (min-width: 45.375em){
    .widget-customer-comments-wide {
        .widget-body {
            .customer-comments-image {
                text-align: left;

                img {
                    height: 185px;
                }
            }
            .customer-comments-content {
                .owl-dots,
                .readmore-container {
                    text-align: right;    
                }
            }

            .characteristicDescription {
                text-align: left;
            }

            .customerLocation {
                text-align: left;
            }
        }
    }
}