$blogpost-navy-blue: #1f5587;

@media only screen {
    .widget-blog {
        padding: 0.9375rem;

        .blogpost-content {
            padding-right: 30px;
            padding-left: 30px;
            padding-top: 5px;

            .blogpost-category {
                a {
                    font-size: 20px;
                    font-weight: 500;
                    color: $light-navyblue;
                }
            }

            .blogpost-title {
                h2 {
                    padding-top: 0;
                    font-size: 16px;
                    line-height: 1;
                    color: $blogpost-navy-blue;
                }
            }

            .blogpost-summary {
                line-height: 1.5;

                p {
                    font-size: 13px
                }
            }

            .blogpost-readmore {
                text-align: right;
                /*position:absolute;*/
                bottom: 0;
                right: 0;
            }

            .blogpost-category,
            .blogpost-title,
            .blogpost-summary,
            .blogpost-readmore {
                padding-right: 0;
            }
        }
    }
    .row .row.widget-blog {
        margin-right: 0;
        margin-left: 0;
        padding: 5px;
    }
}

@media only screen and (min-width: 45.375em){
    .widget-blog {
        padding: 10px;

        .blogpost-content {
            overflow: hidden;
            text-overflow: ellipsis;

            .blogpost-summary {
                min-height: 173px;
            }

            .blogpost-category,
            .blogpost-title,
            .blogpost-summary,
            .blogpost-readmore,
            &.columns{
                padding-left: 0.9375rem;
                padding-right: 0.9375rem;
            }
        }
    }
}