<div class="row" ng-cloak ng-form="Act_Info_ActNmbrFlds">
    <div class="medium-6 columns">
        <div class="row">
            <div class="medium-12 columns">
                <label>Authorized Signer(s) on Account</label>
                <select
                        required
                        ng-model="account.AuthorizedSigner"
                        name="AuthorizedSigner"
                        ng-options="item.Value as item.Text for item in account.AuthorizedSignerList"
                        ng-disabled="!account.IsJoint"></select>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <label>Institution Routing Number (9 digits)</label>
                @LSForm.NumberString("RoutingNumber", "account.RoutingNumber", true, minLength:9, maxLength:9, attributes: "ls-routing-number")
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                <label>Account Number </label>
                @LSForm.BankAccountNumber("AccountNumber", "account.AccountNumber", true, formName: "Act_Info_ActNmbrFlds")
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <label>Re-enter Account Number</label>
                @LSForm.BankAccountNumber("ConfirmPaymentAccountNumber", "ConfirmAccountNumber", true, formName: "Act_Info_ActNmbrFlds", attributes: "ls-password-match='account.AccountNumber'")
            </div>
        </div>
    </div>
        <div class="medium-6 columns">
            <img src="/content/images/check_routnum_info_large.png" alt="Check Routing Number Graphic">
        </div>
    </div>

<div class="row" ng-cloak>
    <div class="medium-12 columns">
        <div class="row" ng-cloak>
            <div class="medium-3 columns">
                <label>Account Type</label> 
            </div>
            <div class="medium-9 columns">

                <input type="radio" name="PaymentAccountType" id="PaymentAccountTypeChecking" 
                    ng-required="true" ng-model="account.IsCheckingAccount" ng-value="true"><label for="PaymentAccountTypeChecking">Checking</label>
                <input type="radio" name="PaymentAccountType" id="PaymentAccountTypeSavings" 
                    ng-required="true" ng-model="account.IsCheckingAccount" ng-value="false"><label for="PaymentAccountTypeSavings">Savings</label>

            </div>
        </div>
    </div>
</div>



