@Html.Partial("_AccordianStart")
<form>
    <h2 class="brand">Documents</h2>
    <p class="notice"><sup>*</sup>Adobe Reader is required to view your documents in PDF format.</p>
    <a href="https://get.adobe.com/reader/" class="get-adobe" ls-jump-page><img src="/content/images/get_adobe_reader_2x.png" alt="Get Adobe Reader" /></a>
    <dl>
    <dt ng-show="account.LatestInvoice" class="brand">Invoices</dt>
    <dd ng-show="account.LatestInvoice">
        <span class="title">{{account.LatestInvoice.ENoticeTitle}}</span>
        <a ng-if="account.LatestInvoice.HasPDF" ng-click="displayPDF(account.LatestInvoice)" class="button button-medium">Download PDF</a>
        <a ng-click="displayDoc(account.LatestInvoice)" class="or brand">or view in HTML Format &raquo;</a>
    </dd>
    <dd ng-show="account.LatestInvoice && !account.EInvoicePayDaysEnabled">
        <div class="forminfo">
            <p>Receive an email notification when your monthly invoice is available to download, <a onclick="$('#AccountENotices-label').trigger('click')">sign up</a> today!</p>
        </div>
    </dd>

    <dt class="brand">Agreements / Disclosures</dt>
    <dd ng-show="account.LoanAgreement">
        <span class="title">{{account.LoanAgreement.ENoticeTitle}}</span>
        <a ng-if="account.LoanAgreement.HasPDF" ng-click="displayPDF(account.LoanAgreement)" class="button button-medium">Download PDF</a>
        <a ng-click="displayLoanAgreement(account.LoanAgreement, account.ApplicationId)" class="or brand">or view in HTML Format &raquo;</a>
    </dd>
    <dd ng-show="account.DisclosureStatement">
        <span class="title">{{account.DisclosureStatement.ENoticeTitle}}</span>
        <a ng-if="account.DisclosureStatement.HasPDF" ng-click="displayPDF(account.DisclosureStatement)" class="button button-medium">Download PDF</a>
        <a ng-click="viewEDoc(account, account.DisclosureStatement)" class="or brand">or view in HTML Format &raquo;</a>
    </dd>

    <dt ng-show="account.Documents" class="brand">Notifications</dt>
    <dd ng-repeat="doc in account.Documents">
        <span class="title">{{doc.ENoticeTitle}} {{doc.ApplicantName}}</span>
        <a ng-if="doc.HasPDF" ng-click="downloadEDoc(account, doc)"  class="button  button-medium">Download PDF</a>
        <a ng-click="viewEDoc(account, doc)" class="or brand"><span ng-if="doc.HasPDF">or</span> view in HTML Format &raquo;</a>
    </dd>
    </dl>
</form>
@Html.Partial("_AccordianEnd")


<div id="ENoticesSecurityPromptModal" class="reveal small"  data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>

    <form>
    <div class="row">
        <div class="medium-12 columns">
            <h3 ng-cloak="">I hereby certify that I am {{SecurityPrompt.Doc.ApplicantName}}</h3>
            <div class="formalert" tabindex="0" ng-show="ErrorMessage"><p>{{SecurityPrompt.ErrorMessage}}</p></div>
        </div>
    </div>
    <div class="row">
        <div class="medium-8 columns">
            <label for="SSN">Social Security Number	(last 4 digits)</label>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 columns">
            <input type="text" name="SSN" id="SSN" required ls-numbers-only maxlength="4" ng-model="SecurityPrompt.SSN" />
        </div>
    </div>
    <div class="row">
        <div class="medium-8 columns">
            <label for="DateOfBirth">Date of Birth</label>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 columns">
            <input type="text" name="DateOfBirth" required ls-date-of-birth ng-model="SecurityPrompt.DateOfBirth"/>
        </div>
    </div>
    <div class="row">
        <div class="medium-4 columns">
            <input type="button" class="button" value="Submit" ng-click="validateApplicant()" />
        </div>
    </div>
    </form>
</div>

@Html.Partial("~/Views/Components/_PrintableModal.cshtml")