@model LightStreamWeb.Models.AccountServices.AccountServicesHomePageModel
    
@Html.Partial("_AccordianStartWide")

<div class="row">
    <a ng-show="account.PaymentType == 'AutoPay' && account.EligibleToViewAmortizationSchedule"
       class="button button-small no-track pull-right"
       ng-click="account.ShowAmortizationSchedule = !account.ShowAmortizationSchedule && account.EligibleToViewAmortizationSchedule; account.ExpandPaymentHistory = false;"><span ng-show="!account.ShowAmortizationSchedule">View</span><span ng-show="account.ShowAmortizationSchedule">Close</span> Loan Amortization Schedule</a>
</div>
    
<div ng-show="account.ShowAmortizationSchedule">
    <div class="row">
        <div class="medium-6 columns">
            <h2 class="brand">Amortization Schedule</h2>
        </div>
        <div class="medium-6 columns">
            <a ng-click="printAmortizationSchedule(account.AmortizationSchedule, account.ApplicationId)"
               class="right" style="margin-top:20px;">Print Amortization Schedule <i class="fa fa-print"></i></a>
        </div>
    </div>


    <p>This loan amortization schedule below assumes that all monthly payments and any scheduled extra payments are made on the dates listed below.</p>
    <table class="records account-history" id="AmortizationHistoryTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Starting Principal Balance</th>
                <th>Payment Amount</th>
                <th>Allocated to Interest</th>
                <th>Allocated to Principal</th>
                <th>Ending Principal Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr class="expanded" style="background-color:inherit">
                <td colspan="6"><a href="" ng-click="account.ExpandPaymentHistory = !account.ExpandPaymentHistory"><strong class="brand">Payment History <i class="fa" ng-class="{true:'fa-minus',false:'fa-plus',undefined:'fa-plus'}[account.ExpandPaymentHistory]"></i></strong></a></td>
            </tr>
            <tr class="collapse" ng-repeat="row in account.AmortizationSchedule | filter:{HasBeenPosted:true}" ng-show="account.ExpandPaymentHistory">
                <td>{{row.TransactionDate}}</td>
                <td>{{row.StartingPrincipalBalance | currency }}</td>
                <td>{{row.TransactionAmount | currency }}</td>
                <td>{{row.InterestAmount | currency }}</td>
                <td>{{row.PrincipalAmount | currency }}</td>
                <td>{{row.EndingPrincipalBalance | currency }}</td>
            </tr>
            <tr class="expanded" style="background-color:inherit">
                <td colspan="6"><strong class="brand">Amortization Schedule</strong></td>
            </tr>
            <tr class="expanded" ng-repeat="row in account.AmortizationSchedule | filter:{HasBeenPosted:false}">
                <td>{{row.TransactionDate}}</td>
                <td>{{row.StartingPrincipalBalance | currency }}</td>
                <td>{{row.TransactionAmount | currency }}</td>
                <td>{{row.InterestAmount | currency }}</td>
                <td>{{row.PrincipalAmount | currency }}</td>
                <td>{{row.EndingPrincipalBalance | currency }}</td>
            </tr>
        </tbody>

    </table>

    <p>
        <a ng-show="account.PaymentType == 'AutoPay' && account.EligibleToViewAmortizationSchedule"
           class="button button-small no-track pull-right"
           ng-click="account.ShowAmortizationSchedule = !account.ShowAmortizationSchedule && account.EligibleToViewAmortizationSchedule; account.ExpandPaymentHistory = false;"><span ng-show="!account.ShowAmortizationSchedule">View</span><span ng-show="account.ShowAmortizationSchedule">Close</span> Loan Amortization Schedule</a>
    </p>

</div>

<div ng-show="account.ShowAmortizationSchedule !== true">
    <h2 class="brand">Payment History</h2>

    <table class="records account-history">
        <thead>
            <tr>
                <th>Date</th>
                <th>Starting Principal Balance</th>
                <th>Payment Amount</th>
                <th>Allocated to Interest</th>
                <th>Allocated to Principal</th>
                <th>Ending Principal Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr class="expanded" ng-repeat="row in account.PaymentHistory">
                <td>{{row.TransactionDate}}</td>
                <td>{{row.StartingPrincipalBalance | currency }}</td>
                <td>{{row.TransactionAmount | currency }}</td>
                <td>{{row.InterestAmount | currency }}</td>
                <td>{{row.PrincipalAmount | currency }}</td>
                <td>{{row.EndingPrincipalBalance | currency }}</td>
            </tr>
        </tbody>
    </table>
</div>

@Html.Partial("_AccordianEnd")
