@model List<LightStreamWeb.Models.AccountServices.AccountServicesHomePageModel.ActiveApplication>

@if (Model != null && Model.Any())
{
<div class="supporting row">
    <div class="medium-12 columns">
        <h3 class="brand">Your @if (Model.Count() > 1) { <text>Applications</text>} else { <text>Application</text>}</h3>
    </div>
    @foreach (var app in Model)
    {
        <div class="medium-6 columns">
            <p>
                Application Date: @app.SubmittedDate.ToShortDateString() <br/>
                Loan Amount: @app.LoanAmount.ToString("C") <br />
                <a href="/account/goto/@app.ApplicationId" 
                    @if (FirstAgain.Domain.Common.BusinessConstants.Instance.Environment == FirstAgain.Domain.Lookups.FirstLook.EnvironmentLookup.Environment.QA) {
                        @:title="@app.CurrentStatus @app.PurposeOfLoan"
                    }>Go to this application</a>
            </p>
        </div>
    }

    @if (Model.Count % 2 != 0)
    {
        <div class="medium-6 columns"></div>
    }
</div>
}