@model LightStreamWeb.Models.AccountServices.AccountServicesHomePageModel

@Html.Partial("_ActiveApplications", Model)

@Html.Partial("_AccordianStart")
<div class="row">
    <div class="medium-6 columns">
        <h2 class="brand">Original Loan Terms</h2>
        <ul class="summarydata">
            <li>Loan Amount: {{account.OriginalLoanAmount | currency }}</li>
            <li ng-show="account.FloridaDocStampTax" style="color:red">(includes FL doc tax: {{account.FloridaDocStampTax | currency }})</li>
            <li>Interest Rate: {{account.OriginalInterestRate | number:2}}%</li>
            <li>Loan Term: {{account.OriginalTermMonths}} months</li>
            <li>Funding Date: {{account.FundingDate}}</li>
        </ul>
    </div>

    <div class="medium-6 columns">
        <h2 class="brand">Current Loan Terms</h2>
        <ul class="summarydata">
            <li>Principal Balance: {{account.LoanBalanceCurrent | currency }}</li>
            <li>Interest Rate: {{account.CurrentInterestRate | number:2}}%</li>
            <li ng-show="account.NextPaymentDueDate">Date Next Payment Due: {{account.NextPaymentDueDate}}</li>
            <li ng-hide="account.NextPaymentDueDate" title="Your next payment date is being calculated, please check back shortly">Date Next Payment Due: Unavailable</li>
            <li>Amount Due: {{account.NextPaymentAmount | currency }}</li>
        </ul>
    </div>
</div>
<div class="row" style="margin-top:1em;">
    <div class="medium-6 columns" ng-show="account.IsSecuredAuto">
        <h2 class="brand">Vehicle Collateral</h2>
        <ul class="summarydata">
            <li>Year: {{account.VehicleYear}}</li>
            <li>Make: {{account.VehicleMake}}</li>
            <li>Model: {{account.VehicleModel}}</li>
            <li>Description: {{account.VehicleDescription}}</li>
        </ul>
    </div>

    @if (FirstAgain.Domain.Common.BusinessConstants.Instance.Environment != FirstAgain.Domain.Lookups.FirstLook.EnvironmentLookup.Environment.Production)
    {
        <div class="medium-6 columns" style="opacity:0.5" id="AccountServicesQASummary">
            <h2 class="brand">QA Only - For testing [<a href="#" onclick="$('#AccountServicesQASummary').hide(); return false;">hide</a>]</h2>
            <ul class="summarydata">
                <li>PaymentType: {{account.PaymentType}}</li>
                <li>AccountStatus: {{account.AccountStatus}}</li>
                <li>Minimim MP: {{account.MinimumMonthlyPaymentAmount | currency}}</li>
                <li>Projected Minimim MP: {{account.ProjectedMinimumMonthlyPaymentAmount | currency}}</li>
                <li>Contract MP: {{account.ContractualMonthlyPaymentAmount | currency}}</li>
                <li>Increase MP Effective Date: {{account.MonthlyPaymentChangeEffectiveDate | date: 'longDate'}}</li>
                <li>Decrease MP Effective Date: {{account.DecreasedMonthlyPaymentEffectiveDate | date: 'longDate'}}</li>
                <li>MayBeEligibleForReamortization: {{account.MayBeEligibleForReamortization}}</li>
                <li>Queued MP Amt: {{account.QueuedMonthlyPaymentAmount | currency}}</li>
                <li>Queued MP Date: {{account.QueuedMonthlyPaymentDate | date: 'longDate'}}</li>
                <li ng-show="account.IsSecuredAuto"><a href="/account/vin?ctx={{account.Ctx}}">VIN</a></li>
            </ul>
        </div>
    }
</div>

<div class="row" ng-show="account.LoanBalanceCurrent < 0">
    <div class="medium-12 columns">
        <strong>A refund check will be mailed out 10 business days after the final payment was received.  The check will be mailed to the home address that we have on record.</strong>
    </div>
</div>

@Html.Partial("_AccordianEnd")
