@section styles {
    <style type="text/css">
        #ContactUsContent .close-reveal-modal {
            display:none;
        }
    </style>
}
<div id="ContactUsContent"><img src="@Model.CdnBaseUrl/ajax-loader.gif" /></div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#ContactUsContent').load('/modals/account-services-contact-us');
            SC.acctServices.contactUsAccountServices();
        });

    </script>
}