<div class="row">
    <div class="medium-6 columns">
	    <label><sup>*</sup>Application Type</label>
	    <p class="description">If you are relying on the income or assets of a spouse, domestic partner, or another individual, please complete a joint application. Thank you.</p>
	</div>
</div>
<div class="row">
    <div class="large-3 medium-4 columns">
        @(Html.NgDropDownEnumList(
            "LoanApp.ApplicationType",
            "ApplicationType",
            "Select application type. If you are relying on the income or assets of a spouse, domestic partner, or another individual, please complete a joint application. Thank you.",
            FirstAgain.Domain.Lookups.FirstLook.ApplicationTypeLookup.BindingSource,
            required: true))

	</div>

    <div class="large-9 medium-8 columns" ng-show="LoanApp.ApplicationType == 'Joint'" ng-cloak="">	
	<div class="forminfo aside disclaimer">	
		<p tabindex="0">By selecting "Joint," you are applying for joint credit and are relying on joint income and assets as the basis for repayment of the credit requested.</p>
	</div>
	</div>
		
    <div class="large-9 medium-8 columns" ng-show="LoanApp.ApplicationType == 'Individual'" ng-cloak="">	
	    <div class="forminfo aside disclaimer">	
		    <p tabindex="0">By selecting "Individual," you are applying for individual credit in your name and are relying on your income and 
                assets and not the income or assets of another person as the basis for repayment of the credit requested.</p>
	    </div>
	</div>
</div>

