<p>
    A Florida <a href="/partial/florida-doc-stamp-info" data-open="AjaxModal" data-reveal-ajax="true">documentary stamp tax</a>
    <span ng-show="LoanApp.FloridaDocStampTax" >, in the amount of {{LoanApp.FloridaDocStampTax | currency }}</span>  
    will be added to your loan amount then transmitted for payment on your behalf. Stamp tax is <span style="text-decoration:underline;">not</span> included when determining loan interest rate.
</p>