<h2>Loan Restrictions:</h2>

<div class="large-12">
    <p>
        Applicants are required to use the loan funds for the loan purpose that was selected in the loan application.<br /> <br />
        In addition, please note that:
    </p>
    <ul class="cms bullets" style="margin-top: -20px">
        <li>Applicants may not use the loan funds to refinance an existing LightStream loan.</li>
        <li>Loans cannot be used for the funding of college or post-secondary educational expenses, or for the refinancing of loans that were used for college or post-secondary educational expenses.</li>
        <li>Loans are made to individuals, not to businesses.</li>
        <li>Loans cannot be used for any cash-out refinance purposes.</li>
        <li>If approved for a secured auto loan, the vehicle must be registered in the client’s name and may not be registered under a business name.</li>
    </ul>
</div>
