@using FirstAgain.Domain.Lookups.FirstLook
@using LightStreamWeb.Shared.Helpers

<div class="row">
    <div class="medium-6 columns">
        @*<div>request queue: {{rateRequestQueue.length}}</div>
        <div>response queue: {{rateResponseQueue.length}}</div>*@
        
        <label><sup>*</sup>Primary Loan Purpose</label>
        <div ng-cloak>
            @(Html.NgDropDownEnumList(
            "LoanApp.PurposeOfLoan.Type",
            "PurposeOfLoan",
            "Select primary loan purpose.",
            PurposeOfLoanHelper.GetFilteredList(PurposeOfLoanLookup.FilterType.Public),
            true))
        </div>
        <div class="ng-splash" ng-cloak><select></select></div>
    </div>

    <div class="medium-6 columns" ng-show="LoanApp.PurposeOfLoan.Type == 'Other'" ng-cloak="">
        <div tabindex="0" class="forminfo aside down">
            <p>
                If other, please describe. Please note that loans are only made to individuals, <span class="underline">not</span> to businesses.
            </p>
        </div>
    </div>

    <div class="medium-6 columns" ng-show="LoanApp.PurposeOfLoan.Type == 'EducationalExpenses'" ng-cloak="">
        <div tabindex="0" class="forminfo aside down">
            <p>
                Please note that we are currently unable to 1) provide loans used to fund college or post-secondary
                education expenses, or 2) refinance previous college or post-secondary education loans.
            </p>
        </div>
    </div>

</div>

<div class="row">
    <div class="medium-6 columns" ng-show="LoanApp.PurposeOfLoan.Type == 'Other'" ng-cloak="" tabindex="0">
        <label><sup>*</sup>If other, please describe.</label>
        <input type="text" id="PurposeOfLoanOther" maxlength="100" ng-model="LoanApp.PurposeOfLoan.DescriptionIfOther" ng-required="LoanApp.PurposeOfLoan.Type == 'Other'">
    </div>
</div>