<div class="row app-rates">
    <div class="medium-4 columns" tabindex="0">
        <p class="calculated">
            Monthly Payment:
            <span ng-show="LoanAppRates.Rate && LoanAppRates.Rate.IsValid" ng-cloak="">
                {{LoanAppRates.EstimatedMonthlyPayment.Min | currency }} <span ng-show="LoanAppRates.EstimatedMonthlyPayment.Max > LoanAppRates.EstimatedMonthlyPayment.Min"> to {{LoanAppRates.EstimatedMonthlyPayment.Max | currency }} </span>
            </span>
        </p>
        <p class="calculated">
            Interest Rate/APR:
            <span ng-show="LoanAppRates.Rate && LoanAppRates.Rate.IsValid" ng-cloak="">
                {{LoanAppRates.Rate.Min * 100 | number:2 }}% <span ng-show="LoanAppRates.Rate.Max > LoanAppRates.Rate.Min">  to {{LoanAppRates.Rate.Max * 100 | number:2 }}% </span>
            </span>
        </p>
    </div>
    <div class="medium-5 columns">
        <div class="forminfo aside" tabindex="0">
            <p>
                Exact rate within this range is determined by your credit profile.
            </p>
        </div>
    </div>
    <div class="medium-3 columns">
        <div>
            @if (AppSettingsHelper.IsRatchMatchOfferEnabled())
            {
            <a href="@Url.RouteUrl("partial-RateMatch")" data-open="AjaxModal" data-reveal-ajax="true" class="rate-match">
                <img src="@Model.CdnBaseUrl/rates/rate-beat-blue.png" alt="rate match offer" />
            </a>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="medium-6 columns">	
        <div class="formalert ng-submitted" tabindex="0" ng-show="!LoanApp.InterestRate && LoanApplication.LoanAmount && (LoanApplication.LoanTermMonths.$error.min || LoanApplication.LoanTermMonths.$error.max)" ng-cloak="">	
            <p>
                Based on the loan amount entered, please enter a term between {{LoanAppRates.MinTerm}} and {{LoanAppRates.MaxTerm}} months. If you require additional information, see <a href="#" data-open="RatesModal">Rates and Terms</a>.
            </p>
        </div>
    </div>
</div>
