<div class="large-12 columns temporaryUserNameText" ng-cloak ng-show="LoanApp.UserCredentials.IsTemporary === true">
<p>We apologize, our user ID authorization system is temporarily unavailable. As a result, we need to assign 
    you the user ID <span style="color:blue;font-weight:bold">{{LoanApp.UserCredentials.UserName}}</span> instead of the one you selected. 
    Please remember and secure this information, as you will need it to Sign In to your account.</p>
<p>If your application becomes a funded account, you will be able to personalize your user ID at that time.</p>
<p>The password, security question and answer that you entered are valid. Please select "Continue" once you have remembered and secured the information below.</p>
</div>
