
<div class="large-12">
    <p>
        <b style="color:#1f5586">Your clients’ total income and assets will be taken into consideration during the application process.</b>
        Even if your client has good or excellent credit, it is important that they provide all income and asset information when applying
        so that LightStream can make a fast and informed decision.
    </p>
</div>
