<span>
    I hereby authorize SunTrust Bank, its successors and assigns, to initiate withdrawals for monies payable for loan agreement referenced above to SunTrust Bank.
    Such withdrawals shall be made from the above referenced Payment Account or such other account that I designate in the future to which I am a signatory.
    I understand that this authorization will remain in effect until I notify SunTrust Bank to cancel it
    by emailing <a href="mailto:customerservice@lightstream.com">customerservice@lightstream.com</a> and
    SunTrust Bank is given a reasonable time to effect such cancellation.
    I understand that I may stop any payment by notifying SunTrust Bank or the financial institution holding my account
    3 or more business days before my account is to be charged.  If your selected Payment Date is not a banking business day, 
    or is in a month with fewer days, the payment will be on the next business day.
</span>
