        <a href="#" class="button button-medium button-navy"  data-open="CancelNLTRModal">Cancel New Loan Terms Request</a>

        <div id="CancelNLTRModal" class="reveal small"  data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
            <h2>Cancel New Loan Terms Request?</h2>
            <p class="disclaimer">Are you sure you want to cancel your new loan terms request and continue with your previously approved loan terms?</p>
            <a href="#" class="button button-medium button-navy" data-close>No</a>
            <a href="/appstatus/cancelnltr?ctx=@Model.Ctx" class="button button-medium "  data-transition="true">Yes</a>
        </div>
