@if (Model.IsEligibleForDeclineReferralOptIn)
{
    <div class="row">
        <div class="medium-12 columns">&nbsp;</div>
    </div>

    <div class="row" ng-controller="DeclineReferralOptInController">
        <div class="medium-12 columns">
            <label for="DeclineReferralOptIn" class="cms checkbox" ng-show="!DeclineReferralOptInSubmitted">
                <input type="checkbox" id="DeclineReferralOptIn" name="DeclineReferralOptIn" ng-model="DeclineReferralOptIn" />
                <span style="font-weight:bold;">Referral Program</span>
            </label>

            <p>@Html.Raw(@Resources.FAMessages.DeclineReferralOptIn)</p>

            <input type="button" ng-disabled="!DeclineReferralOptIn" value="Submit" class="button" ng-click="declineReferralOptIn()" ng-show="!DeclineReferralOptInSubmitted"/>

            <p ng-show="DeclineReferralOptInSubmitted" ng-cloak>Thank you.</p>

        </div>
    </div>
}
