        <a class="button button-medium button-navy"  data-open="RejectCounterOfferModal">Reject Offer</a>

        <div id="RejectCounterOfferModal" class="reveal small"  data-reveal>
            <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
            <h2>Reject Counter Offer?</h2>
            <p class="disclaimer">Please note that if you reject this counter offer and then change your mind you will need to reapply.</p>
            <a href="#" class="button button-medium button-navy" data-close>Cancel</a>
            <a href="/appstatus/rejectcounter?ctx=@Model.Ctx" class="button button-medium "  data-transition="true">Reject Offer</a>
        </div>
