@model LightStreamWeb.Models.ApplicationStatus.CancelledPageModel

<section class="row">
    <div class="medium-12 columns">
        <h1>Cancelled Loan Application</h1>
    </div>
</section>

<div class="row ruled">
    <div class="medium-12 columns">
        <h3>@Model.ApplicantNamesText,</h3>        

        <p>@Html.Raw(Resources.FAMessages.LoanOfferCancelled)</p>

        <p>@Html.Raw(Resources.FAMessages.LoanOfferCancelledParagraph2)</p>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>
