@model LightStreamWeb.Models.ApplicationStatus.DeclinePageModel
@using System.Web.Security.AntiXss

<div ng-controller="ENoticesController"
        @if (Model.IsAvailabilityNotice) {
            @:ng-init="getENotices(true, 'DeclineNotice');"
        } else {
            @:ng-init="getENotices(true);"
        }
    >
<section class="row panel introrow">
    <div class="medium-12 columns">
        @if (Model.AddCoApplicantIsEnabled())
        {
        <div class="row">
            <div class="medium-12 columns">
                <p>
                    We have enabled the option for you to add a co-applicant to your application. At this
                    time you may click the Submit Joint Application button below to submit a joint application.
                </p>
            </div>
        </div>
        <div class="row tall">
            <div class="medium-12 columns">
                <a href="/apply/joint/start" class="button">Submit Joint Application</a>
            </div>
        </div>
        }
        <div class="row">
            <div class="medium-12 columns">
                <h2>@AntiXssEncoder.HtmlEncode(Model.Heading, true)</h2>
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns">
                @foreach (var statement in Model.Statements)
                {
                    <p>@Html.Raw(statement)</p>
                }
            </div>
        </div>

        <div class="row enotices">
            <hr ng-show="ENotices.Docs && ENotices.Docs.length" />
            <div ng-repeat="doc in ENotices.Docs" class="row" data-category="{{doc.Category}}" ng-cloak>
                <div class="medium-7 columns medium-push-1">
                    <h5><a ng-click="viewEDoc($index)" ng-class="{'active':ActiveENotice == $index}" >{{doc.ENoticeDate}} {{doc.ENoticeTitle}} {{doc.ApplicantName}}</a></h5>
                </div>
                <div class="medium-4 columns">
                    <h5 ng-if="doc.HasPDF"><a ng-click="downloadEDoc($index)" ng-class="{'active':ActiveENotice == $index}" >Download PDF</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="row">
    <div class="medium-10 columns push-1">
        @Html.Partial("~/Views/ENotices/_SecurityPrompt.cshtml")

        <div class="medium-12 columns" >
            <div id="ENoticesContent" ng-bind-html="ENoticeContent" ng-show="!ENotices.ShowSecurityPrompt"></div>
        </div>


    </div>
</section>
</div>



@section scripts {
    <script type="text/javascript">
        (function () {
                            // SiteCatalyst
                            @if (Model.IsAvailabilityNotice)
            {
@:SC.appStatus.declineDecision();
            }
            else
            {
                @:SC.appStatus.declineNotice();
            } 
        }());
    </script>
}

@section styles {
        <style type="text/css">
            div[data-category=CreditScoreDisclosureHtml]:first-of-type:before   {
                margin-top:2em;
            }

        </style>
}

