<div class="row">
    <div class="medium-12 columns full-mobile">
        <h2>AccountLock</h2>
    </div>
</div>

<div class="row" ng-show="alert" ng-cloak>
    <div class="medium-11 small-centered columns alert-box" ng-class="alert.type">
        <span>{{alert.message}}</span>
        <a class="close" ng-click="closeAlertMessage()">×</a>
    </div>
</div>

<section ng-if="Model.AccountLock" ng-cloak>
    <div class="row">
        <div class="medium-12 columns" ng-hide="Model.AccountLock.IsEnabled">
            <p>The AccountLock feature is currently disabled. Access to your information in Account Services only requires your user ID and password.</p>
            <p>If you would like additional account security, you may enable the AccountLock feature.</p>
            <p>With the AccountLock feature enabled, you will need to sign in using your user ID and password and request a temporary passcode. We will then email you a temporary passcode. The passcode allows you "one-time" access and expires in 24 hours.</p>
        </div>
        <div class="medium-12 columns" ng-show="Model.AccountLock.IsEnabled">
            <p>The AccountLock feature is currently enabled. To access your information in Account Services, you need to sign in with your user ID and password and then request a temporary passcode. We will then email you a temporary passcode. The passcode allows you "one-time" access and will expire in 24 hours.</p>
        </div>
    </div>

    <div class="row preference-actions">
        <div class="medium-6 columns">
            <button type="button" class="button" ng-click="enableAccountLock(Model.UserId, Model.AccountLock.IsEnabled)" style="font-size: 18px;">{{Model.AccountLock.IsEnabled ? "Disable" : "Enable"}} AccountLock</button>
            <img src="/content/images/ajax-loader.gif" ng-cloak ng-show="waiting" />
        </div>
    </div>
</section>

<section ng-if="!Model.AccountLock" ng-cloak>
    <div class="row">
        <div class="medium-12 columns">
            <p>Unable to get AccountLock data from server.</p>
        </div>
    </div>
</section>