<div class="row">
    <div class="medium-12 columns full-mobile">
        <h2>Contact Information</h2>
    </div>
</div>

<section ng-if="Model.Applicant && Model.CanUpdate" ng-cloak>
    <div class="row">
        <div class="medium-12 columns full-mobile">
            <p>We have the following contact information on file. To make changes, edit the necessary field(s), and then click Save.</p>
        </div>
    </div>

    <div class="row" ng-show="alert" ng-cloak>
        <div class="medium-11 small-centered columns alert-box" ng-class="alert.type">
            <span>{{alert.message}}</span>
            <a class="close" ng-click="closeAlertMessage()">×</a>
        </div>
    </div>

    <div class="row">
        <div id="accordion" class="medium-12 columns full-mobile" ls-accordion collapsible="Model.HasCoApplicant">
            <h3>{{Model.Applicant.ContactInformation.FullName}}</h3>
            <form name="preferenceForm" novalidate>
                <div class="row">
                    <div class="medium-6 columns">
                        <label><sup>*</sup>Email Address</label>
                        <input id="ApplicantEmailAddress" name="ApplicantEmailAddress"
                                type="email" maxlength="50"
                                ng-model="Model.Applicant.ContactInformation.EmailAddress"
                                ng-blur="validateEmail(Model.Applicant.ContactInformation.EmailAddress, preferenceForm.ApplicantEmailAddress)" 
                                required="required" ls-track-visited />   
                        <div class="formalert" ng-cloak ng-show="preferenceForm.ApplicantEmailAddress.$hasVisited && (preferenceForm.ApplicantEmailAddress.$error.required || preferenceForm.ApplicantEmailAddress.$error.pattern)">
                            <p>Please enter a valid email address.</p>
                        </div>
                    </div>
                </div>

                <div class="row preference-actions">
                    <div class="medium-6 columns">
                        <input type="submit" id="ApplicantSubmit" class="button" value="Save" ng-disabled="preferenceForm.$pristine || preferenceForm.$invalid || waiting" ng-click="save(preferenceForm, Model.UserId, Model.Applicant)" />
                        <button type="button" class="button" ng-click="cancel(preferenceForm)">Cancel</button>
                        <img src="/content/images/ajax-loader.gif" ng-cloak ng-show="waiting" alt="Waiting..." />
                    </div>
                </div>
            </form>
            <h3 ng-if="Model.CoApplicant" ng-cloak>{{Model.CoApplicant.ContactInformation.FullName}}</h3>
            <form name="coApplicantPreferenceForm" novalidate ng-if="Model.CoApplicant" ng-cloak>
                <div class="row">
                    <div class="medium-6 columns">
                        <label><sup>*</sup>Email Address</label>
                        <input id="CoApplicantEmailAddress" name="CoApplicantEmailAddress"
                                type="email" maxlength="50"
                                ng-model="Model.CoApplicant.ContactInformation.EmailAddress" 
                                ng-blur="validateEmail(Model.CoApplicant.ContactInformation.EmailAddress, coApplicantPreferenceForm.CoApplicantEmailAddress)" 
                                required="required" ls-track-visited />
                        <div class="formalert" ng-cloak ng-show="coApplicantPreferenceForm.CoApplicantEmailAddress.$hasVisited && (coApplicantPreferenceForm.CoApplicantEmailAddress.$error.required || coApplicantPreferenceForm.CoApplicantEmailAddress.$error.pattern)">
                            <p>Please enter a valid email address.</p>
                        </div>
                    </div>
                </div>

                <div class="row preference-actions">
                    <div class="medium-6 columns">
                        <input type="submit" id="CoApplicantSubmit" class="button" value="Save" ng-disabled="coApplicantPreferenceForm.$pristine || coApplicantPreferenceForm.$invalid || waiting" ng-click="save(coApplicantPreferenceForm, Model.UserId, Model.CoApplicant)" />
                        <button type="button" class="button" ng-click="cancel(coApplicantPreferenceForm)">Cancel</button>
                        <img src="/content/images/ajax-loader.gif" ng-cloak ng-show="waiting" alt="Waiting..." />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section ng-if="Model.Applicant && !Model.CanUpdate" ng-cloak>
    <div class="row">
        <div class="medium-12 columns full-mobile">
            <p>Because you have a loan application in process, you cannot change your contact information until your outstanding application has been completed. We apologize for the inconvenience.</p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <button type="button" class="button" ng-click="navigate('/')">Cancel</button>
        </div>
    </div>
</section>

<section ng-if="!Model.Applicant" ng-cloak>
    <div class="row">
        <div class="medium-12 columns">
            <p>Unable to get Contact Information data from server.</p>
        </div>
    </div>
</section>