<div class="row">
    <div class="medium-12 columns full-mobile">
        <h2>Privacy &amp; e-Preferences</h2>
    </div>
</div>

<section ng-if="Model.Applicant" ng-cloak>
    <div class="row">
        <div class="medium-12 columns full-mobile">
            <p>At LightStream, you determine how we use your personal information and how we contact you. Please make your choices below. Joint applicants must indicate their individual preferences.</p>
        </div>
    </div>

    <div class="row" ng-show="alert" ng-cloak>
        <div class="medium-11 small-centered columns alert-box" ng-class="alert.type">
            <span>{{alert.message}}</span>
            <a class="close" ng-click="closeAlertMessage()">×</a>
        </div>
    </div>

    <div class="row">
        <div id="accordion" class="medium-12 columns full-mobile" ls-accordion collapsible="Model.HasCoApplicant">
            <h3>{{Model.Applicant.FullName}}</h3>
            <form name="applicantPreferenceForm">
                <div class="row ruled">
                    <h3 class="preference-heading">Please select one or more options:</h3>
                    <ul class="medium-12 columns preference-list padded-list">
                        <li class="row list-item" data-ng-repeat="privacyOption in Model.Applicant.PrivacyPreferences" ng-show="true">
                            <label class="medium-3 columns">
                                <input id="Applicant{{privacyOption.Key}}" name="Applicant{{privacyOption.Key}}" type="checkbox" ng-model="privacyOption.IsSelected" />&nbsp;&nbsp;{{Model.PrivacyOptions[privacyOption.Key].text}}
                            </label>
                            <p class="medium-9 columns" ng-bind-html="Model.PrivacyOptions[privacyOption.Key].description"></p>
                        </li>
                    </ul>
                </div>
               
                <div class="row ruled">
                    <h3 class="preference-heading">Other e-Preferences</h3>
                    <ul class="medium-12 columns preference-list">
                        <li class="list-item" data-ng-repeat="preferenceOption in Model.Applicant.EmailPreferences">
                            <input id="Applicant{{preferenceOption.Key}}" name="Applicant{{preferenceOption.Key}}" type="checkbox" ng-model="preferenceOption.IsSelected" />
                            <label ng-bind-html="Model.PrivacyPreferenceOptions[preferenceOption.Key].text"></label>
                        </li>
                    </ul>
                </div>
                <div class="row preference-actions" ng-show="Model.CoApplicant">
                    <div class="medium-12 columns">
                        <label>
                            <input name="ApplicantSamePreferences" type="checkbox" ng-model="Model.AreApplicantPreferencesTheSame" />&nbsp;&nbsp;Click to copy preferences from co-applicant.
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <input type="submit" id="ApplicantSubmit" class="button" value="Save" ng-disabled="applicantPreferenceForm.$pristine || applicantPreferenceForm.$invalid || waiting" ng-click="save(applicantPreferenceForm, Model.UserId, Model.Applicant)" />
                        <button type="button" class="button" ng-click="cancel(applicantPreferenceForm)">Cancel</button>
                        <img src="/content/images/ajax-loader.gif" ng-cloak ng-show="waiting" />
                    </div>
                </div>
            </form>
            <h3 ng-if="Model.CoApplicant" ng-cloak>{{Model.CoApplicant.FullName}}</h3>
            <form name="coApplicantPreferenceForm" ng-if="Model.CoApplicant" ng-cloak>
                <div class="row ruled">
                    <h3 class="preference-heading">Please select one or more options:</h3>
                    <ul class="medium-12 columns preference-list padded-list">
                        <li class="row list-item" data-ng-repeat="privacyOption in Model.CoApplicant.PrivacyPreferences">
                            <label class="medium-3 columns">
                                <input id="CoApplicant{{privacyOption.Key}}" name="CoApplicant{{privacyOption.Key}}" type="checkbox" ng-model="privacyOption.IsSelected" />&nbsp;&nbsp;{{Model.PrivacyOptions[privacyOption.Key].text}}
                            </label>
                            <p class="medium-9 columns" ng-bind-html="Model.PrivacyOptions[privacyOption.Key].description"></p>
                        </li>
                    </ul>
                </div>
                <div class="row ruled">
                    <h3 class="preference-heading">Other e-Preferences</h3>
                    <ul class="medium-12 columns preference-list">
                        <li class="list-item" data-ng-repeat="preferenceOption in Model.CoApplicant.EmailPreferences">
                            <input id="CoApplicant{{preferenceOption.Key}}" name="CoApplicant{{preferenceOption.Key}}" type="checkbox" ng-model="preferenceOption.IsSelected" />
                            <label ng-bind-html="Model.PrivacyPreferenceOptions[preferenceOption.Key].text"></label>
                        </li>
                    </ul>
                </div>
                <div class="row preference-actions">
                    <div class="medium-12 columns">
                        <label>
                            <input name="CoApplicantSamePreferences" type="checkbox" ng-model="Model.AreCoApplicantPreferencesTheSame" />&nbsp;&nbsp;Click to copy preferences from applicant.
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <input type="submit" id="CoApplicantSubmit" class="button" value="Save" ng-disabled="coApplicantPreferenceForm.$pristine || coApplicantPreferenceForm.$invalid || waiting" ng-click="save(coApplicantPreferenceForm, Model.UserId, Model.CoApplicant)" />
                        <button type="button" class="button" ng-click="cancel(coApplicantPreferenceForm)">Cancel</button>
                        <img src="/content/images/ajax-loader.gif" ng-cloak ng-show="waiting" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section ng-if="!Model.Applicant" ng-cloak>
    <div class="row">
        <div class="medium-12 columns">
            <p>Unable to get Privacy Preference data from server.</p>
        </div>
    </div>
</section>