
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Layouts/_RedesignBase.cshtml";
}

<div class="reviews">
    <div class="page-container">
        <div class="page-content">
            <div class="page-body">
                <div class="row ruled">
                    <div class="columns small-12 medium-8 medium-centered">
                        <div itemscope itemtype="http://schema.org/Product">
                            <meta itemprop="name" content="LightStream Loans">
                            @*these custom attributes belong to BazaarVoice and are used by them
                                to inject reviews into this lightstream page.  it requires a BV javascript file to load (ensighten)
                                and works only in QA and Prod due to BV environment configuration limitations *@
                            <div data-bv-product-id="all" data-bv-show="reviews"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* We don't want a rate disclosure for this page,
    so, overwrite it with nothing. *@
<!--  -->
@section APRDisclosure1{
}

@section webComponents{
    <script src="~/Scripts/webcomponents/components.js?cachebust=@(Model.GetFileHash("scripts/webcomponents/components.js"))"></script>
}

@section scripts {
    <script type="text/javascript">
        SC.main.ratingsReviews();
    </script>
}