.jumpPage
{
    font-family: Helvetica;
    font-size: 11px;
    font-weight: bold;
    color: #004080;
    padding-left:12%;
    padding-right:12%;
    display:block;
    text-align:left;
}
.jumpPage .buttonContainer
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    padding-top:30px;
    width:350px;
    height:40px;
}
.jumpPage .divTitle
{
    color: #FD9E20;
    font-size: 18px;
    display: block;
    padding-bottom:30px;
    white-space:nowrap;
}
.jumpPage button
{
    float: left;
    font-family: Helvetica;
    height: 19px;
    width: 75px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: #5C9DCC;
    border: none;
    cursor: pointer;
}
.jumpPage .separator
{
    float: left;
    padding-left: 20px;
    height: 85px;
    display: block;
}
.jumpPage .returnButton
{
    width: 200px;
}
.ui-widget-content {
    border: 2px solid #000;
}