@import "../partials/css3-mixins.scss";
@import "../partials/_mixins.scss";

@mixin bannerTextShadow() {
    @include text-shadow(1px, 1px, 12px, rgba(0,0,0,1));
}

#autoLoanCentral {
    position: relative;
    top: -20px;
}

#autoLoanCentral img {
    float: left;
    width: 160px;
}

#autoLoanCentral h3 {
    color: white;
    font-weight: 700;
    margin-bottom: 4px;
}

#autoLoanCentral h6 {
    color: white;
    overflow: auto;
}

.autoLoanCentralDesc {
    margin-left: 5px;
}

#autoLoanCentral img {
    margin-right: 10px;
}

#autoSelect {
    width: 400px;
    font-weight: 800;
    font-size: 20px;
}

#heroBanner {
    display: block !important;
    float: right;
    left: 0 !important;
}

#ctaBarMobile {
    bottom: 60px;
}

header img.banner {
    margin-top: 0;
}

#lsAppDiv {
    padding-top: 0;
}

#ctaDescriptionsMobile {
    bottom: 108px;
    padding: 20px 0 20px 0 !important;
}

@media screen and (max-width: 725px) {
    #autoLoanCentral img {
        float: none;
    }

    #autoLoanCentral {
        text-align: center;
    }

    #autoLoanCentral img {
        width: 160px;
        height: 160px;
    }

    #autoLoanCentral h3, h6 {
        text-align: left;
    }
}

#purposeOfLoanDesktop, #purposeOfLoanMobile {
    width: 310px;
    font-weight: 800;
    font-size: 15px;
}

#header > div.headline.show-for-small-only > h3 {
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}

.banner-container, #heroBanner {
    height: 100%;
}

body.home #header img.banner {
    top: 0px !important;
}

#header > div.headline.show-for-small-only {
    position: absolute !important;
    top: 60px !important;
}

#rates {
    div.row.apr-disclosure-row {
        padding-top: 16px;
    }
}

@media screen and (max-width: 725px) {
    #rates > div.row.ruled.panel {
        margin-top: 31px;
    }

    #header {
        height: auto;
    }
}

#header > div.headline.hide-for-small-only.home3Headline {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    left: 0 !important;
    top: 128px !important;
    height: 100%;
}

#header > div.headline.show-for-small-only > div.mobile-banner-text > h2:nth-child(2) {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

@media screen and (max-width: 460px) {
    #header > div.headline.show-for-small-only > div.mobile-banner-text > h2:nth-child(2) {
        margin-top: 0 !important;
    }
}


@media screen and (max-width: 760px) and (min-width: 642px) {
    #LoanCalculator > div.input-values.medium-8.columns > div:nth-child(5) > div:nth-child(2) > label {
        font-size: 14px;
        margin-bottom: 3px;
    }

    #LoanCalculator > div.input-values.medium-8.columns > div:nth-child(5) > div:nth-child(3) > label {
        font-size: 13px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 680px) and (min-width: 642px) {
    #LoanCalculator > div.input-values.medium-8.columns > div:nth-child(5) > div:nth-child(2) > label {
        font-size: 13px;
    }
}

header.affixed .desktop-nav nav {
    padding-top: 32px !important;
}

#header nav {
    padding-top: 18px;
}

@media screen and (max-width: 330px) {
    #purposeOfLoanDesktop, #purposeOfLoanMobile {
        width: 262px;
        font-size: 13px;
    }
}

.multipurpose-auto-page {
    #header {
        h2 {
            color: white !important;
            font-size: 5vw !important;
            text-shadow: 1px 1px 10px #2e2e2e !important;


            @include mq('ultra-wide') {
                font-size: 3vw !important;
            }
        }

        h3 {
            color: white;
            text-shadow: none;
            font-size: 1.8vw;
            font-weight: 600;

            @include mq('ultra-wide') {
                font-size: 1vw;
            }
        }

        div.headline.show-for-small-only {
            max-width: 100%;
            z-index: 0 !important;

            h2 {
                color: white !important;
                line-height: initial;
                text-align: center;
                font-weight: 700;
                text-shadow: 1px 1px 10px #2e2e2e !important;
            }

            h3 {
                font-size: 20px;
            }
        }

        @import "../partials/_banner-mobile.scss";
    }

    #apr-disclosure > article {
        padding: 10px 10px 20px 10px;

        /*@include mq('ls-desktop'){
            padding-top: 0;
        }*/
    }

    #rates {
        div.row.apr-disclosure-row.legalcopy {
            padding-left: 20px;
            padding-right: 20px;

            @include mq('ls-desktop') {
                padding: 10px 0 0 0;
            }
        }

        div.row.apr-disclosure-row.legalcopy > div > p {
            padding: 10px 0 0 0;

            @include mq('ls-desktop') {
                padding: 0 20px 0 20px;
            }
        }

        div.row.ruled.panel {
            margin-top: 0 !important;
        }

        section.row.applyInMinutesBig {
            position: static;
        }
    }

    #LSExperienceLarge {
        text-align: center;

        a.mobile-view {
            display: none;
        }
    }

    #LSExperienceSmall {
        text-align: center;


        .experienceImage {
            height: 202px;
        }

        #videoColumn, #mediaCoverage {
            padding-left: 0;
            padding-right: 0;
        }
    }

    #mediaCoverage {
        img.mobile-view.experienceImage.cms {
            display: block;
            width: 100%;
            height: 50vw;

            @include mq('ls-desktop') {
                display: none;
            }
        }

        img.large-view.experienceImage.cms {
            display: none;

            @include mq('ls-desktop') {
                display: block;
            }
        }
    }

    #heroBanner {
        position: relative !important;
    }

    #customerComments > a.large-view {
        display: none;

        @include mq('ls-desktop') {
            display: block;
        }
    }
}

@import "../partials/_loan-aggregator-page.scss";
@import "../partials/_feature-bullets.scss";
@import "../partials/_component-template.scss";

#lightstreamVideo {
    height: -webkit-calc(100% - 90px);
    height: -moz-calc(100% - 90px);
    height: calc(100% - 90px);
}

@media only screen and (max-width: 375px) {
    #lightstreamVideo {
        height: calc(100% - 45px);
    }
}