#paid-search-banner-container div.headline.desktop.home3Headline {
  left: 0 !important;
  top: 130px !important; }
  #paid-search-banner-container div.headline.desktop.home3Headline sup {
    top: -20px !important; }

#paid-search-banner-container div.headline.mobile sup {
  top: -10px !important; }

#paid-search-banner-container > div.headline.mobile {
  top: 0 !important; }

#paid-search-banner-container .headline h2 {
  text-align: center; }

#paid-search-banner-container > div.headline.mobile > div.row.title > div > h2 {
  font-size: 7vw !important; }

#paid-search-banner-container > div.headline.mobile .banner-text {
  font-size: 8vw !important; }

#paid-search-banner-container > div.headline.mobile .rate-banner-apr {
  font-size: 55px !important; }

header .row-bullets.desktop {
  top: -8em !important; }

header .row-bullets.mobile {
  top: -11.062em !important; }
  @media only screen and (min-width: 560px) {
    header .row-bullets.mobile {
      top: -10.062em !important; } }

.mobile-nav .ls-logo {
  width: 9.375rem !important;
  height: 1.68rem !important; }
