@import "../partials/_mixins.scss";

#paid-search-banner-container {
    div.headline.desktop.home3Headline {
        left: 0 !important;
        top: 130px !important;

        sup {
            top: -20px !important;
        }
    }

    div.headline.mobile {
        sup {
            top: -10px !important;
        }
    }

    > div.headline.mobile {
        top: 0 !important;
    }

    .headline h2 {
        text-align: center;
    }

    > div.headline.mobile {
        > div.row.title > div > h2 {
            font-size: 7vw !important;
        }

        .banner-text {
            font-size: 8vw !important;
        }

        .rate-banner-apr {
            font-size: 55px !important;
        }
    }
}

    header .row-bullets.desktop {
        top: -8em !important;
    }

    header .row-bullets.mobile {
        top: -11.062em !important;

        @include mq('phablet') {
            top: -10.062em !important;
        }
    }

    .mobile-nav .ls-logo {
        width: 9.375rem !important;
        height: 1.68rem !important;
    }
