#ahipmodal {
  text-align: center;
  width: 90%;
  top: 20% !important;
  min-height: 0;
  height: initial; }
  @media screen and (max-width: 641px) {
    #ahipmodal {
      margin-left: 5%;
      padding: 14px; } }
  @media only screen and (min-width: 726px) {
    #ahipmodal {
      width: 70%; } }
  #ahipmodal a {
    border-radius: 4px; }
  #ahipmodal .button-container {
    padding: 0; }
    @media only screen and (min-width: 480px) {
      #ahipmodal .button-container {
        padding-left: 20%;
        padding-right: 20%; } }
    @media only screen and (min-width: 1248px) {
      #ahipmodal .button-container {
        padding-left: 35%;
        padding-right: 35%; } }
    #ahipmodal .button-container #JumpPageModalTarget {
      border-radius: 4px !important;
      width: 100%;
      margin: 0;
      box-shadow: 0px 0 1px 1px #888888; }

.reveal-modal-bg {
  z-index: 2000 !important; }
