#feature-bullets {
    text-align: center;

    div.row {
        padding-bottom: 20px;
    }

    img {
        float: none !important;
        padding-right: 0;
        margin-right: 0;
    }

    h6{
        text-align: center;
    }
}
