#feature-bullets {
  text-align: center; }
  #feature-bullets div.row {
    padding-bottom: 20px; }
  #feature-bullets img {
    float: none !important;
    padding-right: 0;
    margin-right: 0; }
  #feature-bullets h6 {
    text-align: center; }
