<div class="row">
    <div class="medium-12 columns full-mobile">
        <h2>Change Password</h2>
    </div>
</div>

<section ng-if="Model.Applications" ng-cloak>
    <div class="row" ng-show="Model.alert" ng-cloak>
        <div class="medium-11 small-centered columns alert-box" ng-class="Model.alert.type">
            <span>{{Model.alert.message}}</span>
            <a class="close" ng-click="closeAlertMessage()">×</a>
        </div>
    </div>

    <form name="changePasswordForm">
        <div class="row">
            <div class="medium-4 columns">
                <label>"Old" Password</label>
                <input type="password"
                       autocomplete="off"
                       id="OldPassword"
                       name="OldPassword"
                       ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9!&amp;$,-._ ]{8,20}$/"
                       ng-model="Model.SecurityInformation.OldPassword"
                       ls-track-visited
                       required="required" maxlength="20" minlength="8">

                <div ng-show="changePasswordForm.OldPassword.$hasVisited && changePasswordForm.OldPassword.$error.pattern" ng-cloak="">
                    <div class="formalert hide-no-js">
                        <p>{{Model.PasswordErrorHint}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                <label>"New" Password (8-20 characters)</label>
                <input type="password"
                       id="Password"
                       name="Password"
                       ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9!&amp;$,-._ ]{8,20}$/"
                       ng-model="Model.SecurityInformation.Password"
                       ng-focus="Model.PasswordGainedFocus = true"
                       ls-track-visited
                       required="required" maxlength="20" minlength="8">

                <div ng-show="changePasswordForm.Password.$hasVisited && changePasswordForm.Password.$error.pattern" ng-cloak="">
                    <div class="formalert hide-no-js">
                        <p>{{Model.PasswordErrorHint}}</p>
                    </div>
                </div>
            </div>
            <div class="medium-8 columns" ng-show="Model.PasswordGainedFocus" ng-cloak="">
                <div class="forminfo aside">
                    <p ng-bind-html="getPasswordHint()"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="medium-4 columns">
                <label>Re-enter "New" Password</label>
                <input type="password"
                       id="PasswordConfirm"
                       autocomplete="off"
                       name="PasswordConfirm"
                       ls-track-visited
                       ls-password-match="Model.SecurityInformation.Password"
                       ng-model="Model.SecurityInformation.PasswordConfirm"
                       required="required" maxlength="20" minlength="8">

                <div ng-show="changePasswordForm.PasswordConfirm.$error.match && changePasswordForm.PasswordConfirm.$hasVisited && !changePasswordForm.Password.$error.pattern" ng-cloak="">
                    <div class="formalert hide-no-js">
                        <p>{{Model.PasswordNoMatchHint}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row preference-actions">
            <div class="medium-6 columns">
                <input type="submit" id="ChangePasswordSubmit" class="button" value="Save" ng-disabled="changePasswordForm.$invalid || waiting" ng-click="savePassword(changePasswordForm, Model.UserId, Model.SecurityInformation)" />
                <button type="button" class="button" ng-click="cancel(changePasswordForm)">Cancel</button>
                <img src="/content/images/ajax-loader.gif" ng-cloak ng-show="waiting" />
            </div>
        </div>
    </form>
</section>

<section ng-if="!Model.Applications" ng-cloak>
    <div class="row">
        <div class="medium-12 columns">
            <p>Unable to get Security Information data from server.</p>
        </div>
    </div>
</section>