<div class="row">
    <div class="medium-12 columns full-mobile">
        <h2>Change User ID > <span class="subTitle">{{Model.Applications && Model.Applications.length > 1 ? 'Move Accounts' : 'Move Account'}}</span></h2>
    </div>
</div>

<section id="move-accounts-container" ng-if="Model.Applications && Model.CanUpdate" ng-cloak>
    <div class="row" ng-show="Model.alert" ng-cloak>
        <div class="medium-11 small-centered columns alert-box" ng-class="Model.alert.type">
            <span>{{Model.alert.message}}</span>
            <a class="close" ng-click="closeAlertMessage()">×</a>
        </div>
    </div>
    
    <div ng-show="Model.ShowContactSyncForm" class="row medium-11 small-centered columns">
        <div ng-include="'scripts/templates/securityInformation/changeUserId-accountsync.html'" ></div>
    </div>

    <div ng-hide="Model.ShowContactSyncForm">
        <div class="row">
            <div class="medium-12 columns full-mobile">
                <p ng-show="Model.Applications.length > 1">Your current user ID contains the accounts listed below. Please select those that you wish to move to another already established user ID by checking the Yes, Move box.</p>
                <p ng-show="Model.Applications.length == 1">Please provide the user ID and password where you want to move your account.</p>
            </div>
        </div>

        <form name="moveAccountsForm">
            <div class="row" ng-show="Model.Applications.length > 1">
                <table class="small-6 small-offset-1 columns end account-table">
                    <thead>
                        <tr>
                            <th class="account-cell">Loan Amount</th>
                            <th class="account-cell">Funding Date</th>
                            <th class="account-cell">Yes, Move</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="app in Model.Applications">
                            <td class="account-cell">{{app.LoanAmount}}</td>
                            <td class="account-cell">{{app.FundingDate}}</td>
                            <td class="account-cell">
                                <input type="checkbox" value="{{app.ApplicationId}}"
                                       ng-checked="Model.SecurityInformation.SelectedApplications.indexOf(app.ApplicationId) > -1"
                                       ng-click="toggleApplicationSelected(app.ApplicationId)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="medium-4 columns">
                    <label>Established User ID</label>
                    <input type="text" id="EstablishedUserName"
                           name="EstablishedUserName"
                           ng-model="Model.SecurityInformation.UserName"
                           required="required"
                           maxlength="20"
                           ng-minlength="6"
                           ng-pattern="/^[A-Za-z0-9!&$,-._@]+$/"
                           ls-track-visited />
                </div>
                <div ng-show="moveAccountsForm.EstablishedUserName.$hasVisited && moveAccountsForm.EstablishedUserName.$error.pattern" ng-cloak="">
                    <div class="formalert hide-no-js">
                        <p>The user name you entered is invalid. Please re-enter.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-4 columns">
                    <label>Established Password</label>
                    <input type="password"
                           autocomplete="off"
                           id="EstablishedPassword"
                           name="EstablishedPassword"
                           ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])[a-zA-Z0-9!&amp;$,-._ ]{8,20}$/"
                           ng-model="Model.SecurityInformation.Password"
                           ls-track-visited
                           required="required" maxlength="20" minlength="8">
                    <div ng-show="moveAccountsForm.EstablishedPassword.$hasVisited && moveAccountsForm.EstablishedPassword.$error.pattern" ng-cloak="">
                        <div class="formalert hide-no-js" tabindex="0">
                            <p>The password you entered is invalid. Please re-enter.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row preference-actions">
                <div class="medium-6 columns">
                    <input type="submit"
                           id="MoveAccountSubmit"
                           class="button"
                           value="Save"
                           ng-disabled="moveAccountsForm.$invalid || !isApplicationSelected || waiting"
                           ng-click="saveMoveAccounts(moveAccountsForm, Model.UserId, Model.SecurityInformation)" />

                    <button type="button" class="button" ng-click="cancel(moveAccountsForm)">Cancel</button>
                    <img src="/content/images/ajax-loader.gif" ng-cloak ng-show="waiting" />
                </div>
            </div>
        </form>

        <div class="row">
            <div class="medium-12 columns full-mobile">
                <p>Tip: Forgot your established user ID and/or password? If so, <a href="/signin/signout">sign out</a> and use the Forgot your user ID or Forgot your password help functions.</p>
            </div>
        </div>
    </div>
</section>

<section ng-if="Model.Applications && !Model.CanUpdate" ng-cloak>
    <div class="row">
        <div class="medium-12 columns full-mobile">
            <p>Because you have a loan application in process, you cannot move your user ID until your outstanding application has been completed. We apologize for the inconvenience.</p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <button type="button" class="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</section>

<section ng-if="!Model.Applications" ng-cloak>
    <div class="row">
        <div class="medium-12 columns">
            <p>Unable to get Security Information data from server.</p>
        </div>
    </div>
</section>