<section id="accountSync">
    <div>
        <style>
            tbody tr:nth-child(even) {
                background-color: #ffffff !important;
            }

            .different {
                color: #cd0010;
            }
        </style>
        <p class="medium-12 columns full-mobile">Please select the correct infromation listed below.</p>

        <form name="accountSyncForm">
            <div ng-repeat="accountInfo in Model.SourceAccount track by $index">
                <p class="medium-12 columns full-mobile" style="font-weight:bold">Use selected contact information for {{accountInfo.Name}}:</p>
                <table class="columns end">
                    <tbody>
                        <tr>
                            <td>
                                <label for="emailAddress{{$index}}2">
                                    <span ng-class="accountInfo.Differences.Email? 'different':''">
                                        {{Model.DestAccount[$index].Email}}
                                    </span>
                                </label>
                            </td>
                            <td>
                                <div ng-show="accountInfo.Differences.Email">
                                    <input type="radio" id="emailAddress{{$index}}2"
                                           name="emailAddress{{$index}}" ng-click="handleRadioClick('emailAddress', $index, '2')" />

                                </div>
                            </td>
                            <td>
                                <label for="emailAddress{{$index}}1">
                                    <span ng-class="accountInfo.Differences.Email? 'different':''">
                                        {{accountInfo.Email}}
                                    </span>
                                </label>
                            </td>
                            <td>
                                <div ng-show="accountInfo.Differences.Email">
                                    <input type="radio" id="emailAddress{{$index}}1"
                                           name="emailAddress{{$index}}" ng-click="handleRadioClick('emailAddress', $index, '1')" />
                                </div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="address{{$index}}2">
                                    <span ng-class="accountInfo.AddressLine1 != Model.DestAccount[$index].AddressLine1 ? 'different':''">
                                        {{Model.DestAccount[$index].AddressLine1}},
                                    </span>
                                    <span ng-show="Model.DestAccount[$index].SecondaryUnitType != 'NotSelected'" ng-class="accountInfo.SecondaryUnitType != Model.DestAccount[$index].SecondaryUnitType? 'different':''">
                                        {{Model.DestAccount[$index].SecondaryUnitType}}
                                    </span>
                                    <span ng-class="accountInfo.SecondaryUnit != Model.DestAccount[$index].SecondaryUnit ? 'different':''">
                                        {{Model.DestAccount[$index].SecondaryUnit}}
                                    </span>
                                    <br />
                                    <span ng-class="accountInfo.City != Model.DestAccount[$index].City? 'different':''">
                                        {{Model.DestAccount[$index].City}},
                                    </span>
                                    <span ng-class="accountInfo.State != Model.DestAccount[$index].State? 'different':''">
                                        {{Model.DestAccount[$index].State}},
                                    </span>
                                    <span ng-class="accountInfo.ZipCode != Model.DestAccount[$index].ZipCode? 'different':''">
                                        {{Model.DestAccount[$index].ZipCode}}
                                    </span>
                                </label>
                            </td>
                            <td>
                                <div ng-show="accountInfo.Differences.Address"><input type="radio" id="address{{$index}}2" name="address{{$index}}" ng-click="handleRadioClick('address', $index, '2')" /></div>
                            </td>
                            <td>
                                <label for="address{{$index}}1">
                                    <span ng-class="accountInfo.AddressLine1 != Model.DestAccount[$index].AddressLine1 ? 'different':''">
                                        {{accountInfo.AddressLine1}},
                                    </span>
                                    <span ng-show="accountInfo.SecondaryUnitType!= 'NotSelected'" ng-class="accountInfo.SecondaryUnitType != Model.DestAccount[$index].SecondaryUnitType? 'different':''">
                                        {{accountInfo.SecondaryUnitType}}
                                    </span>
                                    <span ng-class="accountInfo.SecondaryUnit != Model.DestAccount[$index].SecondaryUnit ? 'different':''">
                                        {{accountInfo.SecondaryUnit}}
                                    </span>
                                    <br />
                                    <span ng-class="accountInfo.City != Model.DestAccount[$index].City? 'different':''">
                                        {{accountInfo.City}},
                                    </span>
                                    <span ng-class="accountInfo.State != Model.DestAccount[$index].State? 'different':''">
                                        {{accountInfo.State}},
                                    </span>
                                    <span ng-class="accountInfo.ZipCode != Model.DestAccount[$index].ZipCode? 'different':''">
                                        {{accountInfo.ZipCode}}
                                    </span>
                                </label>
                            </td>
                            <td>
                                <div ng-show="accountInfo.Differences.Address"><input type="radio" id="address{{$index}}1" name="address{{$index}}" ng-click="handleRadioClick('address', $index, '1')" /></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="phone{{$index}}2">
                                    <span ng-class="accountInfo.Differences.Phone? 'different':''">{{Model.DestAccount[$index].Phone}} (Home)</span>
                                </label>
                            </td>
                            <td>
                                <div ng-show="accountInfo.Differences.Phone"><input type="radio" id="phone{{$index}}2" name="phone{{$index}}" ng-click="handleRadioClick('homePhone', $index, '2')" /></div>

                            </td>
                            <td>
                                <label for="phone{{$index}}1">
                                    <span ng-class="accountInfo.Differences.Phone? 'different':''">{{accountInfo.Phone}} (Home)</span>
                                </label>
                            </td>
                            <td>
                                <div ng-show="accountInfo.Differences.Phone"><input type="radio" id="phone{{$index}}1" name="phone{{$index}}" ng-click="handleRadioClick('homePhone', $index, '1')" /></div>
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label for="workPhone{{$index}}2">
                                    <span ng-show="Model.DestAccount[$index].WorkPhone" ng-class="accountInfo.Differences.WorkPhone? 'different':''">{{Model.DestAccount[$index].WorkPhone}} (Work)</span>
                                </label>
                            </td>
                            <td>
                                <div ng-show="accountInfo.Differences.WorkPhone"><input type="radio" id="workPhone{{$index}}2" name="workPhone{{$index}}" ng-click="handleRadioClick('workPhone', $index, '2')" /></div>
                            </td>
                            <td>
                                <label for="workPhone{{$index}}1">
                                    <span ng-class="accountInfo.Differences.WorkPhone? 'different':''">{{accountInfo.WorkPhone}} (Work)</span>
                                </label>
                            </td>
                            <td>
                                <div ng-show="accountInfo.Differences.WorkPhone"><input type="radio" id="workPhone{{$index}}1" name="workPhone{{$index}}" ng-click="handleRadioClick('workPhone', $index, '1')" /></div>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="columns" style="outline: none; text-align: center;">

                <input type="submit" id="AccountSyncSubmit" class="button" value="Submit" style="float: inside"
                       ng-disabled="accountSettingsInvalid ||waiting"
                       ng-click="saveAccountSyncAndMove(accountSyncForm, Model.UserId, Model.SecurityInformation)">

                <button type="button" class="button" ng-click="cancel(moveAccountsForm)" style="float: inside">Cancel</button>
                <img src="/content/images/ajax-loader.gif" ng-cloak ng-show="waiting" />
            </div>
        </form>
    </div>
</section>