<div class="row">
    <div class="medium-12 columns full-mobile">
        <h2>Change User ID</h2>
    </div>
</div>

<section ng-if="Model.Applications && Model.CanUpdate" ng-cloak>
    <div class="row">
        <div class="medium-12 columns full-mobile">
            <p>You may create a new user ID for some or all of your accounts and applications, or, if you already have another user ID, you may move one or more of your accounts to that user ID. (However, you may not move an application to another user ID until such application has funded.)</p>
        </div>
    </div>
    
    <div class="row" ng-show="Model.alert" ng-cloak>
        <div class="medium-11 small-centered columns alert-box" ng-class="Model.alert.type">
            <span>{{Model.alert.message}}</span>
            <a class="close" ng-click="closeAlertMessage()">×</a>
        </div>
    </div>
    
    <form id="changeUserIdForm">
        <div class="row">
            <div class="medium-12 columns">
                <div style="display:table-cell;padding:0 10px;">
                    <input type="radio" id="ChangeUserIdTypeAll"
                           ng-model="Model.ChangeUserIdType"
                           value="new" />

                </div>
                <div style="display:table-cell;">
                    <label for="ChangeUserIdTypeAll" style="padding: 0;">Create a new User ID for some or all of my accounts and applications.</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div style="display:table-cell;padding:0 10px;">
                    <input type="radio" id="ChangeUserIdTypeMove"
                           ng-model="Model.ChangeUserIdType"
                           value="move" />
                    
                </div>
                <div style="display:table-cell;">
                    <label style="padding: 0;" for="ChangeUserIdTypeMove">Move one or more of my accounts to another user ID that I have already established.</label>
                    (Please note that, for privacy purposes, we cannot allow a user ID to have more than two individuals associated with it).
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <button type="button" class="button" ng-click="submitChangeUserIdType()">Next</button>
            </div>
        </div>
    </form>
</section>

<section ng-if="Model.Applications && !Model.CanUpdate" ng-cloak>
    <div class="row">
        <div class="medium-12 columns full-mobile">
            <p>Because you have a loan application in process, you cannot change your user ID until your outstanding application has been completed. We apologize for the inconvenience.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="small-12 columns">
            <button type="button" class="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</section>

<section ng-if="!Model.Applications" ng-cloak>
    <div class="row">
        <div class="medium-12 columns">
            <p>Unable to get Security Information data from server.</p>
        </div>
    </div>
</section>