@*//callmenick.com/post/css-transitions-transforms-animations-flipping-card*@

@{ 
    Html.RegisterScriptFile("~/bundles/ratedatacontroller");
}
<div ng-controller="RateDataController as tiles"  ng-cloak>
    <div class="row" id="carouselHeader">
        <div class="columns medium-12">
            <h2 class="sectionHeader" tabindex="0">What do you want to fund?</h2>
        </div>
    </div>
    <div class="row" id="carouselRow" style="touch-action: none">
        <div class="columns medium-12" style="height: 100%">

            <div id="carouselLeft" class="carouselArrow">
                <i class="fa fa-angle-double-left arrowDisabled" aria-hidden="true"
                   style="cursor: pointer; color: #10497C;"
                   onclick="doPrevious()"></i>
            </div>

            <div id="card-carousel" class="owl-carousel" style="height: 100%">

                <div class="card effect__hover" touch-event="none">
                    <div class="thatBlueTho cardFront">
                        <span class="cardText"><img src="~/Content/images/tiles/Auto.svg" alt="" role="presentation" /><em tabindex="0">Auto</em></span>
                    </div>
                    <div class="cardBack" id="autoBack" tabindex="0">
                        Fixed rates as low as
                        <div class="cardRate">{{autoMinRate | percentage: 2}}%<sup>*</sup></div>
                        <div style="line-height: 100%" >APR with AutoPay.</div>
                        <div>Dealer new auto purchase</div>
                        <div>
                            <a href="/auto-loans" aria-label="Learn More">
                                <button class="learnMoreButton" tabindex="-1" >Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card effect__hover" touch-event="none">
                    <div class="thatBlueTho cardFront">
                        <span class="cardText"><img src="~/Content/images/tiles/Kitchen.svg" alt="" role="presentation" /><em tabindex="0" class="twoLine">Kitchen or Bath Remodel</em></span>
                    </div>
                    <div class="cardBack" tabindex="0">
                        Fixed rates as low as
                        <div class="cardRate">{{rateDataByPurpose('HomeImprovement').minRate | percentage: 2}}%<sup>*</sup></div>
                        <div style="line-height: 10%" >APR with AutoPay.</div>
                        <div class="learnButtonDiv">
                            <a href="/kitchen-remodel-financing" aria-label="Learn More">
                                <button class="learnMoreButton" tabindex="-1" >Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card effect__hover" touch-event="none">
                    <div class="thatBlueTho cardFront">
                        <span class="cardText"><img src="~/Content/images/tiles/Debt.svg" alt="" role="presentation" /><em tabindex="0" class="twoLine">Debt<br />Consolidation</em></span>
                    </div>
                    <div class="cardBack" tabindex="0">
                        Fixed rates as low as
                        <div class="cardRate">{{rateDataByPurpose('CreditCardConsolidation').minRate | percentage: 2}}%<sup>*</sup></div>
                        <div style="line-height: 10%" >APR with AutoPay.</div>
                        <div class="learnButtonDiv">
                            <a href="/debt-consolidation" aria-label="Learn More">
                                <button class="learnMoreButton" tabindex="-1" >Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card effect__hover" touch-event="none">
                    <div class="thatBlueTho cardFront">
                        <span class="cardText"><img src="~/Content/images/tiles/Swimmingpool.svg" alt="" role="presentation" /><em tabindex="0">Swimming Pool</em></span>
                    </div>
                    <div class="cardBack" tabindex="0">
                        Fixed rates as low as
                        <div class="cardRate">{{rateDataByPurpose('HomeImprovement').minRate | percentage: 2}}%<sup>*</sup></div>
                        <div style="line-height: 10%" >APR with AutoPay.</div>
                        <div class="learnButtonDiv">
                            <a href="/swimming-pool-financing" aria-label="Learn More">
                                <button class="learnMoreButton" tabindex="-1" >Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card effect__hover" touch-event="none">
                    <div class="thatBlueTho cardFront">
                        <span class="cardText"><img src="~/Content/images/tiles/Medical.svg" alt="" role="presentation" /><em tabindex="0">Medical</em></span>
                    </div>
                    <div class="cardBack" tabindex="0">
                        Fixed rates as low as
                        <div class="cardRate">{{rateDataByPurpose('MedicalExpense').minRate | percentage: 2}}%<sup>*</sup></div>
                        <div style="line-height: 10%" >APR with AutoPay.</div>
                        <div class="learnButtonDiv">
                            <a href="/medical-financing" aria-label="Learn More">
                                <button class="learnMoreButton" tabindex="-1" >Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card effect__hover" touch-event="none">
                    <div class="thatBlueTho cardFront">
                        <span class="cardText"><img src="~/Content/images/tiles/Wedding.svg" alt="" role="presentation" /><em tabindex="0">Wedding</em></span>
                    </div>
                    <div class="cardBack" tabindex="0">
                        Fixed rates as low as
                        <div class="cardRate">{{rateDataByPurpose('Other').minRate | percentage: 2}}%<sup>*</sup></div>
                        <div style="line-height: 10%" >APR with AutoPay.</div>
                        <div class="learnButtonDiv">
                            <a href="/wedding-loan" aria-label="Learn More">
                                <button class="learnMoreButton" tabindex="-1" >Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card effect__hover" touch-event="none">
                    <div class="thatBlueTho cardFront">
                        <span class="cardText"><img src="~/Content/images/tiles/Timeshare.svg" alt="" role="presentation" /><em tabindex="0">Timeshare</em></span>
                    </div>
                    <div class="cardBack" tabindex="0">
                        Fixed rates as low as
                        <div class="cardRate">{{rateDataByPurpose('TimeSharePurchase').minRate | percentage: 2}}%<sup>*</sup></div>
                        <div style="line-height: 10%" >APR with AutoPay.</div>
                        <div class="learnButtonDiv">
                            <a href="/timeshare-loans" aria-label="Learn More">
                                <button class="learnMoreButton" tabindex="-1" >Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card effect__hover" touch-event="none">
                    <div class="thatBlueTho cardFront">
                        <span class="cardText"><img src="~/Content/images/tiles/Boat.svg" alt="" role="presentation" /><em tabindex="0">Boat</em></span>
                    </div>
                    <div class="cardBack" tabindex="0">
                        Fixed rates as low as
                        <div class="cardRate">{{rateDataByPurpose('BoatRvPurchase').minRate | percentage: 2}}%<sup>*</sup></div>
                        <div style="line-height: 10%" >APR with AutoPay.</div>
                        <div class="learnButtonDiv">
                            <a href="/boat-loan" aria-label="Learn More">
                                <button class="learnMoreButton" tabindex="-1" >Learn More</button>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div id="carouselRight" class="carouselArrow" onclick="SC.main.tiles.scroll()">
                <i class="fa fa-angle-double-right" aria-hidden="true"
                   style="cursor: pointer; color: #10497C" onclick="doNext()"></i>
            </div>
        </div>
    </div>
</div>
