<div class="large reveal" id="PrintableModal" data-reveal>

    <div>
        <button id="PrintButton" type="button">Print</button>
    </div>

    <iframe id="PrintContaniner" class="ui-iframe-seamless"></iframe>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>