@using FirstAgain.Domain.SharedTypes.ContentManagement;
@model string

<form action="#" Name="RateTable" ng-cloak="" id="RateTable">
    <div class="row" id="RateTablePurposeOfLoanRow">

        <div class="medium-12 columns">
            <p class="legalcopy" ng-bind-html="rates.Disclosure | trusted"></p>
        </div>
    </div>

@if (!Model.Equals(LandingPageContent.RateTableCalculatorDisplayType.CalculatorOnly.ToString()))
{
        <div class="row rateTableHeaderRow">
            <div class="medium-12 columns">
                <div class="rateTableHeader thatBlueFontTho">
                    Annual Percentage Rates (APR)
                    <div class="ratesDate">
                        <time>{{rates.RatesDate}}</time>
                    </div>
                </div>
            </div>
        </div>


    <div itemscope itemtype="https://schema.org/LoanOrCredit" id="rate-grid" class="row" style="margin: 0px;" ng-show="rates.LoanTerms">
        <meta itemprop="name" content="{{ PurposeOfLoan }}" />
        <p class="screen-reader-only">
            Based on your selected loan purpose, below is a table of loan terms and available rates.
        </p>
        <div class="medium-12 columns table" style="padding-bottom: 1px;">
            <table class="loanrates records">
                <thead class="theadlabel">
                    <tr>
                        <th colspan="7" aria-label="Loan Term">Loan Term (months) <sup>*</sup></th>
                    </tr>
                </thead>

                <thead>
                    <tr>
                        <th style="">Loan Amount</th>
                        <th ng-repeat="term in rates.LoanTerms" aria-hidden="true">
                            <span itemprop="loanTerm" itemscope itemtype="https://schema.org/QuantitativeValue">
                                <span itemprop="minValue" content="{{term.Min}}">{{term.Min}}</span> -
                                <span itemprop="maxValue" content="{{term.Max}}">{{term.Max}}</span>
                                <meta itemprop="unitCode" content="MON" />
                            </span>
                        </th>
                    </tr>

                </thead>
                <tbody>
                    <tr ng-repeat="row in rates.RateTable" ng-class="{'expanded': rates.RateTableRows[$index], item: true}" ng-click="rates.RateTableRows[$index] = !rates.RateTableRows[$index]" ls-enter-pressed-toggle>
                        <td class="first">
                            <span itemprop="amount" itemscope itemtype="https://schema.org/MonetaryAmount" aria-hidden="true">
                                <meta itemprop="currency" content="USD" />
                                <meta itemprop="minValue" content="{{row.LoanAmount.Min | lsLoanAmountMin}}" />
                                <meta itemprop="maxValue" content="{{row.LoanAmount.Max | lsLoanAmountMax}}" />
                                <span onfocus="AdaFunctions.rateTableIndicatorChange($(this).parent().parent());" onblur="AdaFunctions.rateTableIndicatorClear();">{{row.LoanAmount.Min | lsLoanAmountMin}} to {{row.LoanAmount.Max | lsLoanAmountMax}}</span>
                            </span>
                            <span class="screen-reader-only">Loan Amount {{row.LoanAmount.Min | lsLoanAmountMin}} to {{row.LoanAmount.Max | lsLoanAmountMax}}</span>
                        </td>
                        <td ng-repeat="term in rates.LoanTerms">
                            <span class="rate-range-large" itemprop="annualPercentageRate" itemscope itemtype="https://schema.org/QuantitativeValue">
                                <meta itemprop="name" content="Interest Rates" />
                                <span aria-hidden="true" ng-bind-html="row.Rates[$index] | rateRange:rates.PurposeOfLoan" onfocus="AdaFunctions.rateTableIndicatorChange($(this).parent().parent());" onblur="AdaFunctions.rateTableIndicatorClear();"></span>
                                <span class="screen-reader-only" onfocus="AdaFunctions.rateTableIndicatorChange($(this).parent().parent());" onblur="AdaFunctions.rateTableIndicatorClear();">{{term.Min}} to {{term.Max}} months, {{ (row.Rates[$index] | rateRange:rates.PurposeOfLoan) == 'N/A' && 'rates not available for this amount.' || 'at '+(row.Rates[$index] | rateRange:rates.PurposeOfLoan) }}</span>
                            </span>

                            <div class="rate-range-small">
                                <div class="small-6 columns">{{term.Min}}-{{term.Max}} months:</div>
                                <div class="small-6 columns" itemprop="annualPercentageRate" itemscope itemtype="https://schema.org/QuantitativeValue">
                                    <meta itemprop="name" content="Interest Rates" />
                                    <div class="rate-range-amount" ng-bind-html="row.Rates[$index] | rateRange:rates.PurposeOfLoan"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

    <div class="row content">
        <div class="medium-9 columns terms-container">
            <p><strong>Loan Terms:</strong></p>
            <ul class="cms legalcopy loan-term-disclosures ">
                <li ng-repeat="item in rates.LoanTermDisclosures" ng-bind-html="item | trusted" ></li>
            </ul>
        </div>
        <div class="medium-3 columns">
                <a class="rate-match" href="/partials/rate-match" data-open="AjaxModal" data-popup=true data-reveal-ajax="true" onclick="SC.main.rateCalculator.rateBeat()">
                    <img data-src="@(AppSettingsHelper.GetCDNBaseUrl())/rates/rate-beat-blue.png" alt="rate beat offer" class="lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=">
                </a>
            </div>
    </div>
</form>

