<section class="row" id="guarantee">
    <div class="large-12 headertoggle">
        <a href="javascript:void(0);" id="show_how">Your best loan experience guaranteed <br class="hide-for-medium"> or $100 is yours! <i class="fa fa-caret-down fa-lg"></i></a>
    </div>

    <div class="large-12 headertoggle_reveal">
        <div class="row cms">
            @{Html.RenderAction("CustomerExperienceGuarantee", "Components");}
        </div>
    </div>
</section>
