<section class="row" id="guarantee">
    <div class="large-12 headertoggle mobile">
        <div class="row">
            <a id="show_how_mobile" href="javascript:void(0);">
                <div class="small-8 small-push-2 columns">
                    <div >Your best loan experience <br class="hide-for-medium"> guaranteed  or $100 is yours!</div>
                </div>
                <div class="small-2 columns"><i class="ls ls-expander ls-plus"></i></div>
            </a>
        </div>
    </div>

    <div class="large-12 headertoggle desktop">
        <a href="javascript:void(0);" id="show_how">Your best loan experience guaranteed <br class="hide-for-medium"> or $100 is yours! <i class="fa fa-caret-down fa-lg"></i></a>
    </div>

    <div class="large-12 headertoggle_reveal">
        <div class="row cms">
            @{Html.RenderAction("CustomerExperienceGuarantee", "Components");}
        </div>
    </div>
</section>