<!-- During Business Hours Modal -->
<div>
    <H4>Business hours are @FirstAgain.Domain.Common.BusinessConstants.Instance.BusinessHours.ToString(FirstAgain.Common.TimeZoneUS.EasternStandardTime).</H4>
    
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
</div>