@{
    Layout = "~/Views/Layouts/_Base.cshtml";
}

@model LightStreamWeb.Models.PublicSite.RatesPageModel

<base target="_parent" />
@Html.Partial("~/Views/Components/RateCalculator.cshtml", Model.Calculator)

<div ng-controller="WidgetController"></div>

@section styles {
    <style>
        div[ng-controller=RateCalculator].row.ruled {
            border-bottom-color: #fff;
        }

        body {
            background-color: rgb(245,245,245);
        }

        .panel {
            background: rgb(245,245,245);
            border: none;
            padding: 0;
        }

        form label {
            padding: 10px 0 0;
            font-size: 15px;
            color: black;
        }

        form p.calculated {
            color: black;
        }

            form p.calculated span {
                color: #00467e;
            }

        table.loanrates td.first, table.loanrates th, body.rates time {
            color: #00467e;
        }

        .button,  a.button {
            background-color: #F8A130 !important;
            box-shadow: none !important;
            color: white !important;
        }
    </style>
}
@section header {}
@section footer {}
@section QATools {}
