@{
    Layout = "~/Views/Layouts/_EmptyScriptPage.cshtml";
}

<style type="text/css">
    .center {
        text-align: center;
    }
    .flex-container {
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox; /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
        justify-content: center;
        align-items: center;
    }

    .inner-element {
        padding: 0px 30px;
        display: inline-block;
    }
</style>

<h2 class="center">@Model.Title</h2>

 @*center the content in modal*@
<div class="flex-container">
    <div class="inner-element">
        @Html.Raw(Model.Content)
    </div>
</div>



