<script type="text/javascript">
    $('.navbar-container .navbar-navigation-header-actions .sign-out-action a').on('click', function () {
        $('#ConfirmSignOut').foundation('open');
        return false;
    }).attr('href', '');

</script>

<div id="ConfirmSignOut" class="reveal small"  data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
    <h2>New Loan Terms Request Incomplete</h2>

    <p>You have not completed or cancelled your new loan terms request. If you sign out now, your funding will not proceed and your loan application will expire on @Model.ExpirationDate.</p>

    <p>Do you still wish to sign out?</p>
    <a href="#" class="button button-medium button-navy" data-close>No</a>
    <a href="/signin/logout" class="button button-medium "  data-transition="true">Yes</a>
</div>
