@model LightStreamWeb.Models.PreFunding.AccountInformationChangeModel    
<div class="row ruled" ng-cloak ng-form="Act_PreFunding_ActNmbrFlds">
        <div class="medium-6 columns">
            <div class="row">
                <div class="medium-12 columns">
                    @if (Model.IsJoint)
                    {
                        <label>Authorized Signer(s) on Account</label>
                    }
                    else
                    {
                        <label>Authorized Signer on Account</label>
                    }
                    @Html.NgDropDownList(
                            ngModel: "Model.PaymentAccount.AuthorizedSigner", 
                            name: "PaymentAccountAuthorizedSigner", 
                            ariaLabel: "Select Authorized Signers on Account",
                            items: Model.AuthorizedSignerList,
                            attributes: new { @ng_disabled = (Model.ApplicationType == FirstAgain.Domain.Lookups.FirstLook.ApplicationTypeLookup.ApplicationType.Individual).ToString().ToLower() } )

                    
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <label>9 Digit Institution Routing Number</label>
                    @LSForm.NumberString("PaymentAccountRoutingNumber", "Model.PaymentAccount.RoutingNumber", true, minLength:9, maxLength:9, attributes: "ls-routing-number")
                </div>
                <div class="large-9 medium-8 columns" ng-show="Model.PaymentAccount.RoutingNumberIsNotValidForACHDebits" ng-cloak="">
                    <div class="forminfo aside disclaimer">
                        <p>The institution routing number that you have entered is for wire transfers. For your monthly loan payments we require an ACH routing number, which is different. This can generally be found on your check (see example above). If you are not sure, please contact your financial institution to get the appropriate ACH routing number of your designated payment account. Please correct the number to avoid a returned payment.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <label>Account Number </label>
                    @LSForm.BankAccountNumber("PaymentAccountNumber", "Model.PaymentAccount.AccountNumber", true, formName: "Act_PreFunding_ActNmbrFlds")
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <label>Re-enter Account Number</label>
                    @LSForm.BankAccountNumber("ConfirmPaymentAccountNumber", "Model.PaymentAccount.ConfirmAccountNumber", true, formName: "Act_PreFunding_ActNmbrFlds", attributes: "ls-password-match='Model.PaymentAccount.AccountNumber'")
                </div>
            </div>
            <div class="row">
                <div class="medium-3 columns">
                    <label>Account Type</label> 
                </div>
                <div class="medium-9 columns">

                    <input type="radio" name="PaymentAccountType" id="PaymentAccountTypeChecking" ng-required="true" ng-model="Model.PaymentAccount.IsCheckingAccount" ng-value="true"><label for="FundingAccountTypeChecking">Checking</label>
                    <input type="radio" name="PaymentAccountType" id="PaymentAccountTypeSavings" ng-required="true" ng-model="Model.PaymentAccount.IsCheckingAccount" ng-value="false"><label for="FundingAccountTypeSavings">Savings</label>

                </div>
            </div>
        </div>
