@model LightStreamWeb.Models.PreFunding.RescheduleFundingDateModel

<section class="row panel">
<div class="large-12 columns">
<form method="post" action="/appstatus/prefunding/nltrreschedulefundingdate" 
    novalidate 
    ls-validate-on-submit="ls-validate-on-submit" 
    name="RescheduleFundingDateForm" 
    ng-controller="RescheduleFundingDateController">
    <fieldset ng-disabled="OnFormSuccess">
        <div class="row">
	        <div class="large-12 columns">
                <h2 class="brand">Reschedule Funding Date</h2>
            </div>
        </div>
        @if (TempData["ErrorMessage"] != null) {
        <div class="row">
            <div class="medium-12 columns">
                <div class="formalert">
                    <p>@TempData["ErrorMessage"]</p>                    
                </div>
            </div>
        </div>
        }


        <div class="row">
            <div class="medium-12 columns">
                <p>Your previously selected funding date has expired, please choose a new funding date by selecting an eligible date from the calendar. Thank you. </p>                    
            </div>
        </div>

        @Html.Partial("~/Views/ApplicationStatus/PreFunding/_Calendar.cshtml")
            
        
        <div class="row" ng-cloak>
            <div class="medium-12 columns">
                <br />
                <input type="submit" class="button button-medium " value="Submit"  ng-disabled="!FundingDate || FundingDate == CurrentFundingDate"/>
            </div>
        </div>
    </fieldset>
</form>
</div>

</section>


<section class="row ruled">

</section>

@section scripts {
<script type="text/javascript">
    angular.module('ApplicationStatusModule')
        .controller('RescheduleFundingDateController', function ($scope) {
            $scope.CalendarFundingDates = @Html.Raw(Model.GetCalendarFundingDatesJson());
            $scope.CurrentFundingDate = '@(Model.FundingDate.ToString("yyyy-M-d"))';

            var initCalendar = function () {
                // show two months
                $scope.dateOptions = {
                    numberOfMonths: 2,
                    setDate: 0,
                    beforeShowDay: function (date) {
                        if (!$scope.CalendarFundingDates) {
                            return [true];
                        }
                        var dateKey = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
                        if (dateKey === $scope.CurrentFundingDate) {
                            return [false, 'current', ''];
                        }
                        var fd = $scope.CalendarFundingDates[dateKey];
                        if (fd && fd === 'Wire') {
                            return [true, 'wire', ''];
                        }
                        if (fd && fd === 'ACH') {
                            return [true, 'ach', ''];
                        }
                        return [false, '', ''];
                    }
                };
            };
            $scope.$watch('FundingDate', function () {
                if (!$scope.CalendarFundingDates) {
                    return;
                }
                var date = new Date($scope.FundingDate),
                    fd = $scope.CalendarFundingDates[date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate()];

                $scope.IsWire = (fd === 'Wire');
            });

            // trigger date refresh
            initCalendar();
        });

    SC.prefunding.rescheduleFundingDate();
</script>
}