@{   
    Layout = "~/Views/Layouts/_Base.cshtml";
}

@section styles {
<script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.css" type="text/css">    
}
@model LightStreamWeb.Models.PublicSite.PublicSiteWithBannerModel

<section class="row ruled">
    <div class="medium-12 columns">
        <h3 class="brand">Introduction</h3>
        <p>The style and grid framework used throughout the LightStream responsive redesign effort is built on top of <a href="https://foundation.zurb.com/">Foundation</a>, a responsive front-end framework developed by Zurb. We are currently using version 4.3.2, but may upgrade to version 5 in the new year. </p>

        <p>A front-end grid system (like Foundation) handles most of the "grunt work" of resizing elements at different screen resolutions. 
            All frameworks also come with "widgets" or UI elements that can be added to a page easily by adding certain classes to elements on a page. 
            The complete Foundation documentation, along with some examples that may be useful on pages managed by CMS, are listed below.</p>
    </div>
</section>

<section class="row ruled">
    <div class="medium-12 columns">
        <h3 class="brand">Responsive "Visibility" Classes</h3>
        <p>Foundation provices several classes to show or hide elements based upon screen size. 
            If you want some contet to be displayed only for small screens, and other content only to be shown on larger resolutions, just use the appropriate classes on the items in question.
            The complete documentation is <a href="https://foundation.zurb.com/docs/components/visibility.html">here</a>, but a couple examples are listed below.
        </p>

        <h5>Example: Changing images / text at different resolutions</h5>
        <div class="panel">
        <p>Welcome! Looks like you're using the following screen size:</p>
        <p class="show-for-large-up">big screen</p>
        <p class="show-for-medium-only">medium screen</p>
        <p class="show-for-small-only">small screen</p> 

        <img class="show-for-large-up" src="//placekitten.com/g/800/400" alt="" />
        <img class="show-for-medium-only" src="//placekitten.com/g/400/200" alt=""  />
        <img class="show-for-small-only" src="//placekitten.com/g/200/150" alt=""  />

        </div>

        <label>HTML:</label>
        <pre class="prettyprint">
&lt;p&gt;Welcome! Looks like you're using the following screen size:&lt;/p&gt;
&lt;p class="show-for-large-up"&gt;big screen&lt;/p&gt;
&lt;p class="show-for-medium-only"&gt;medium screen&lt;/p&gt;
&lt;p class="show-for-small-only"&gt;small screen&lt;/p&gt; 
&lt;img class="show-for-large-up" src="//placekitten.com/g/800/400" alt="" /&gt;
&lt;img class="show-for-medium-only" src="//placekitten.com/g/400/200" alt=""  /&gt;
&lt;img class="show-for-small-only" src="//placekitten.com/g/200/150" alt=""  /&gt;
        </pre>

    </div>
</section>

<section class="row ruled">
    <div class="medium-12 columns">
        <h3 class="brand">Modals</h3>
        <p>Modals can be displayed with nothing more than HTML. In Foundation, these are described as "reveal modals", so look for "reveal" in the documentation. </p>
        <p>In order to display a modal, create a DIV with an ID, add the reveal modal class, then create another link on the page referring to that modal to open it. Like so:</p>

        <div class="panel">
            <div id="DemoModal" class="reveal small"  data-reveal>
                <button class="close-button" data-close aria-label="Close modal" type="button"><span aria-hidden="true" class="close-reveal-modal no-print">&times;</span></button>
                <h1>Confirm What You Were Just Trying To Do</h1>
                <p>You just clicked a link to do something. What do you want to do?</p>
                <a href="https://www.google.com" class="button button-medium first">Go to google</a>
                <a href="" class="button button-medium" onclick="$('#DemoModal').foundation('close');return false;" >Close this modal</a>
            </div>

            <div><a href="#" data-open="DemoModal">Show it</a></div>
        </div>

        <pre class="prettyprint">
&lt;div id="DemoModal" class="reveal small"  data-reveal&gt;
	&lt;a class="close-reveal-modal"&gt;&#215;&lt;/a&gt;
	&lt;h1&gt;Confirm What You Were Just Trying To Do&lt;/h1&gt;
	&lt;p&gt;You just clicked a link to do something. What do you want to do?&lt;/p&gt;
	&lt;a href="https://www.google.com" class="button button-medium first"&gt;Go to google&lt;/a&gt;
	&lt;a href="" class="button button-medium" onclick="$('#DemoModal').foundation('close');return false;" &gt;Close this modal&lt;/a&gt;
&lt;/div&gt;

&lt;div&gt;&lt;a href="#" data-open="DemoModal"&gt;Show it&lt;/a&gt;&lt;/div&gt;

        </pre>
    </div>
</section>

<section class="row ruled">
    <div class="medium-12 columns">
        <h3 class="brand">Tooltips</h3>
        <p>Tooltips are an easy way to show extra content on hover for desktops, or when clicked for mobile devices. The complete documentation is <a href="https://foundation.zurb.com/docs/components/tooltips.html">here</a>, and the example follows below.</p>

        <div class="panel">
            <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">Show me a tooltip</span>, or not....
        </div>

        <pre class="prettyprint">
&lt;span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!"&gt;Show me a tooltip&lt;/span&gt;, or not....
         </pre>
    </div>
</section>

<section class="row ruled">
    <div class="medium-12 columns">
        <h3 class="brand">Dropdowns</h3>
        <p>Dropdowns are similar to tooltips, but allow for rich content, and require a user to click or touch the element before displayed. Dropdowns are what we use on the home page and landing pages for the "feature bullet" extended information. The complete documentation is <a href="https://foundation.zurb.com/docs/components/tooltips.html">here</a>, and the example follows below.</p>

        <div class="panel">
            <a class="button" data-toggle="drop2" aria-controls="drop2" aria-expanded="false">Has Content Dropdown</a>
            <div id="drop2" data-dropdown class="f-dropdown content" aria-hidden="true" tabindex="-1">
              <p>Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!</p>
            </div>
        </div>

        <pre class="prettyprint">
&lt;a class="button" data-toggle="drop2" aria-controls="drop2" aria-expanded="false"&gt;Has Content Dropdown&lt;/a&gt;
&lt;div id="drop2" data-dropdown class="f-dropdown content" aria-hidden="true" tabindex="-1"&gt;
  &lt;p&gt;Some text that people will think is awesome! Some text that people will think is awesome! Some text that people will think is awesome!&lt;/p&gt;
&lt;/div&gt;
         </pre>
    </div>
</section>

<section class="row ruled">
    <div class="medium-12 columns">
        <h3 class="brand">Documentation</h3>
        <ul>
            <li><a href="https://foundation.zurb.com/">Foundation Home Page</a></li>
            <li><a href="https://foundation.zurb.com/docs/">Foundation Documentation Home</a></li>
            <li><a href="https://foundation.zurb.com/docs/components/visibility.html">Responsive "Visibility" classes</a></li>
            <li><a href="https://foundation.zurb.com/docs/utility-classes.html">Utility classes (text alignmnent, visibility, etc)</a></li>
            <li><a href="https://foundation.zurb.com/docs/components/reveal.html">Modals</a></li>
            <li><a href="https://foundation.zurb.com/docs/components/tooltips.html">Tooltips</a></li>
            <li><a href="https://foundation.zurb.com/docs/components/breadcrumbs.html">Breadcrumbs</a></li>
            <li><a href="https://foundation.zurb.com/docs/components/dropdown.html">Dropdowns</a></li>
            <li><a href="https://foundation.zurb.com/docs/components/orbit.html">Orbit Slider</a></li>
        </ul>
    </div>
</section>
