@{
    ViewBag.Title = "InProcessApp";
    Layout = "~/Views/Layouts/_EmptyScriptPage.cshtml";
}

@{Html.RegisterScriptFile("~/scripts/app/init-loan-application.js");}

<div ng-app="InitializeLoanAppModule" ng-controller="InitializeLoanApplicationController" ng-init="init('@ViewBag.DataURL', '@ViewBag.NextPage')">

</div>

    @Html.Partial("~/Views/Apply/Partials/_Applicant.cshtml", FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Primary)
