@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Content/foundation.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/style-lightstream.css" rel="stylesheet" />

    <style>
        body {
            background-image: url("/content/images/home/home_desktop_dandelion.jpg");
            background-repeat: no-repeat;
        }

        #subscribe-modal-container {
            margin-top: 1rem;
        }

            #subscribe-modal-container .brown-transparent {
                background: rgba(91, 51, 29, 0.6);
                box-shadow: none;
                border: 0.3em solid #5b331d;
                color: #fff !important;
            }

        #subscribe-form-modal-btn {
            font-size: 1.2em;
        }

        #subscribe-form-container .heading {
            font-size: 1.5rem;
        }
    </style>
</head>
<body ng-app="LightStreamApp">
    <div class="row">
        <div class="small-12 columns center" id="subscribe-modal-container">
            <a href="#" id="subscribe-form-modal-btn" data-open="subscribe-form-modal" class="button brown-transparent">
                Not ready to apply?
                <br />
                Keep in touch.
            </a>
        </div>
    </div>

    @Html.Partial("~/Views/Components/_SubscribeForm.cshtml")

    <script src="~/Scripts/modernizr-custom-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/foundation.min.js"></script>
    <script src="~/Scripts/foundation/foundation.alert.js"></script>@* Add to bundles when fully implemented, if still using built in close functionality *@
    <script src="~/Scripts/angular/angular.min.js"></script>
    <script src="~/Scripts/angular/angular-webstorage.js"></script>
    <script src="~/Scripts/app/ls.directives.js"></script>
    <script src="~/Scripts/app/ls.services.js"></script>
    <script src="~/Scripts/app/ls.filters.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    <script src="~/Scripts/app/subscribe/subscribe-service.js"></script>
    <script src="~/Scripts/app/subscribe/subscribe-controller.js"></script>

    <script type="text/javascript">
        $(document).foundation();
    </script>
</body>
</html>
