<style>
    @@media only screen and (max-width: 500px) {
        #TimeoutModal {
            width: auto !important;
        }
    }
</style>

<div class="reveal small" data-reveal id="TimeoutModal" style="width: 480px; top: 200px; padding-left: 15px; padding-right: 15px;">
    <img src="@Model.CdnBaseUrl/icon-alert.png" style="position: absolute; left: 30px; top: 40px" />
    <div class="row">
        <div class="small-12 medium-12 columns">
            <h2 style="color: black; padding-left: 60px;">As a security precaution, your session will expire due to inactivity in</h2>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 columns" style="text-align: center">
            <h2 id="Countdown" style="font-size: 60px; margin-top: 20px; margin-bottom: 20px">2:00</h2>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 columns">
            <p style="padding-left: 20px; padding-right: 20px; text-align: center">If you are still working in your online session, please click OK to continue.</p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-12 columns" style="text-align: center">
            <button id="btnExtend" data-close style="padding: 5px 15px 5px 15px; border-radius: 4px;">OK</button>
        </div>
    </div>
</div>