<div class="lightstream-arrow-container">
    <div class="columns lightstream-arrow align-center-outer">
        <span class="lightstream-arrow-badge">1</span>
        <div>
            <p class="lightstream-arrow-title">
                Apply Online
            </p>
            <div class="lightstream-arrow-description">
                You will receive a response shortly during business hours.
            </div>
        </div>
    </div>
    <div class="lightstream-arrow-end"></div>

    <div class="columns lightstream-arrow align-center-outer">
        <span class="lightstream-arrow-badge">2</span>
        <div>
            <p class="lightstream-arrow-title">
                Accept Loan Agreement
            </p>
            <div class="lightstream-arrow-description">
                Once approved, e-sign your loan agreement and set-up your loan for funding.
            </div>
        </div>
    </div>
    <div class="lightstream-arrow-end"></div>

    <div class="columns lightstream-arrow lightstream-last-arrow align-center-outer">
        <span class="lightstream-arrow-badge">3</span>
        <div>
            <p class="lightstream-arrow-title">
                That's it! Use Your Loan
            </p>
            <div class="lightstream-arrow-description">
                Receive your funds as soon as today! <sup>3</sup>
            </div>
        </div>
    </div>
    <div class="lightstream-arrow-end"></div>
</div>