<section class="row applyInMinutesSmall" style="background-color: #10497C;">
    <div style="padding: 20px">
        <h3>Apply in minutes.<br />Have funds in your account as soon as today.<sup>3</sup></h3>
    </div>
    <div>
        <dl class="small-12 medium-12 large-12 columns">
            <dt class="threeStepsImage">
                @Html.Partial("~/Views/PublicSite/Partials/_ApplyInMinutesArrows.cshtml")
            </dt>
        </dl>
    </div>
</section>
