<section class="row applyInMinutesBig" style="background-color: #10497C;">
    <div class="applyInMinuteHeader">
        <h2 class="sectionHeader" tabindex="0">Apply in minutes.<br />Have funds in your account as soon as today. <sup>3</sup></h2>
    </div>
    <div class="row">
        <dl class="small-3 medium-3 large-3 columns mobile_123">
            <dt>
                <img data-src="@Model.CdnBaseUrl/mobile-1-2-3.png" alt="" role="presentation" id="aim-phone" class="lazy">
            </dt>
        </dl>
        <dl class="small-8 medium-8 large-8 columns">
            <dt class="threeStepsImage">
                @Html.Partial("~/Views/PublicSite/Partials/_ApplyInMinutesArrows.cshtml")
            </dt>
        </dl>
    </div>
</section>
