@model LightStreamWeb.Models.PublicSite.CTABarModel


@{ Html.RegisterScriptFile("~/bundles/stacked-cta-bar");}

<section id="cta-bar-mobile">
    <div class="row thatBlueTho ctaBar">
        <div class="cta-outer-container columns medium-12">
            <div class="cta-inner-container">
                <div class="cta-icon-container">
                    <div class="cta-ls ctaIcon"></div>
                </div>
                <div class="cta-item-container">
                    <div class="cta-item-left">
                        <div class="cta-item-text" style="z-index: 10;">
                            Why LightStream?
                        </div>
                        <div class="cta-item-text-left">
                            @if (Model.ShowCTAWhyLightStreamLink)
                            {
                                <small id="watchVideo" onclick="$('#video-modal').foundation('open'); event.stopPropagation();">Watch our video</small>
                            }
                        </div>
                    </div>
                 </div>
                <div class="pull-right"></div>
            </div>
            <div class="cta-description">
                @Html.Raw(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 0 ? Model.CTABarDescriptions[0] : "") : "")
            </div>
        </div>
    </div>
    <div class="row thatBlueTho ctaBar">
        <div class="cta-outer-container columns medium-12">
            <div class="cta-inner-container">
                <div class="cta-icon-container">
                    <div class="cta-dollar ctaIcon"></div>
                </div>
                <div class="cta-item-text">
                    $100 Loan Experience Guarantee<sup>1</sup>
                </div>
                <div class="pull-right"></div>
            </div>
            <div class="cta-description">
                @Html.Raw(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 1 ? Model.CTABarDescriptions[1] : "") : "")
            </div>
        </div>
    </div>
    <div class="row thatBlueTho ctaBar">
        <div class="cta-outer-container columns medium-12 last">
            <div class="cta-inner-container">
                <div class="cta-icon-container">
                    <div class="cta-check ctaIcon"></div>
                </div>
                <div class="cta-item-text">
                    We will beat any qualifying rate.<sup>2</sup>
                </div>
                <div class="pull-right"></div>
            </div>
            <div class="cta-description">
                @Html.Raw(Model.CTABarDescriptions != null ? (Model.CTABarDescriptions.Count > 2 ? Model.CTABarDescriptions[2] : "") : "")
            </div>
        </div>
    </div>
</section>
