<div class="row" id="lendingUncomplicatedSection">
    <div class="columns large-12">
        <img data-src="@Model.CdnBaseUrl/sky-smaller.jpg" alt="" role="presentation" class="lazy" />
        <div id="ludiv">
            <h1 tabindex="0">Lending Uncomplicated<sup class="noLinkSup">®</sup></h1>
            <h2 tabindex="0">Only from LightStream.</h2>
            <form method="post" action="/apply">
                <input type="submit" class="button" value="Get Started" onclick="SC.main.banner.lendingUncomplicated()"/>
            </form>
        </div>
    </div>
</div>