@model LightStreamWeb.ContentManager
@{
    var content = Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.OurMission>();
}
<h3>@content.SubHeading</h3>

@Html.Raw(content.OurMissionCopy)

<a href="/misc/plant-a-tree" data-open="PlantATreeModal" onclick="SC.main.plantaTree();"><img src="@Model.CdnBaseUrl/plant-a-tree-small.png" alt="We plant a tree with every loan" width="106" height="32" class="no-track" /></a>

<script type="text/javascript">
    $(function () {
        SC.main.aboutUs();
    });
</script>
