@model LightStreamWeb.ContentManager
@{
    var content = Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.AffiliateProgram>();
}
<h3>@content.SubHeading</h3>

@Html.Raw(content.AffiliateProgramCopy)

<script type="text/javascript">
    $(function () {
        SC.main.affiliateProgram();
    });
</script>
