@model LightStreamWeb.ContentManager
@{
    var content = Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.BusinessPartners>();
}
<h3>@content.SubHeading</h3>

@Html.Raw(content.BusinessPartnersCopy)

<script type="text/javascript">
    $(function () {
        SC.main.businessPartners();
    });
</script>
