@model LightStreamWeb.ContentManager

@if (!string.IsNullOrEmpty(Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.CustomerExperienceGuarantee>().Column1Copy)) {
    <p>
    @Html.Raw(Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.CustomerExperienceGuarantee>().Column1Copy)
    </p>

    <p>
    @Html.Raw(Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.CustomerExperienceGuarantee>().Column2Copy)
    </p>
} else {
    @Html.Raw(Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.CustomerExperienceGuarantee>().GuaranteeCopy)
}

@{ 
    Html.RegisterScriptFile("~/Scripts/app/partial-standalone-styling.js");
}