@model LightStreamWeb.ContentManager
<a href="#" onclick="window.print()" class="no-print no-track">print</a>

<div id="ElectronicDisclosuresCopy">
@Html.Raw(Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.ElectronicDisclosure>().ElectronicDisclosureCopy)
</div>

<script type="text/javascript">
    $(function () {
        SC.main.electronicDisclosure();
    });
</script>