@model LightStreamWeb.ContentManager
@{
    var page = Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.ExcellentCreditPage>();
}
<h2>@page.PageTitle</h2>
<p>
    @Html.Raw(page.ExcellentCreditCopy)
</p>

<script type="text/javascript">
    $(function () {
        SC.main.excellentCredit();
    });
</script>