<p class="cms" id="PreDisclosuresFooter"></p>
<div class="ada-container" id="footerdisclosure-1" tabindex="0">
    <sup class="footerSup">1</sup> After receiving your loan from us, if you are not completely satisfied with your experience, please contact us. We will email you a questionnaire so we can improve our services. When we receive your completed questionnaire, we will send you $100. Our guarantee expires 30 days after you receive your loan. We reserve the right to change or discontinue our guarantee at any time. Limited to one $100 payment per funded loan. LightStream and SunTrust teammates do not qualify for the Loan Experience Guarantee.
    <br>
    <br>
</div>
<div class="ada-container" id="footerdisclosure-2" tabindex="0">
    <sup class="footerSup">2</sup> We are so confident in the competitiveness of our interest rates that we will beat an interest rate (APR) presented by any other lender by .10 percentage points, if the other lender’s rate meets the terms and conditions
    described below:
    <br>
    <br>Terms:
    <br>
    <ul>
        <li>
            The lender’s interest rate (APR) must not be supported by any third-party arrangements such as vehicle manufacturer subvention payments (with rates as low as 0.0% APR), other manufacturer discounts, rate buy-downs by car-buying services, or any other similar third-party subsidized rate offerings.
        </li>
        <li>
            The lender’s interest rate offer must be generally available to all of its customers who share a similar credit risk profile (so that employee-discount programs or other special, limited lending programs would not qualify).
        </li>
        <li>
            LightStream will offer a rate that is .10 percentage points below the specific rate offered by a competing lender.
        </li>
    </ul>
    <br> Conditions:
    <br>
    <ul>
        <li>
            The interest rate (APR) must be for the same loan amount, loan term, loan purpose and payment method (auto debit or invoice) that are being offered by LightStream. The offer applies to fixed-rate loans only. Variable-rate loans do not qualify.
        </li>
        <li>
            You need to be approved for the other lender’s interest rate (APR).
        </li>
        <li>
            If requested by us, you will need to supply LightStream with evidence, to its satisfaction, that the other lender’s interest rate (APR) meets the Rate Beat program terms and conditions described here. This could include an approval letter, loan document containing the APR, or other documentation that LightStream finds sufficient.
        </li>
        <li>
            This offer expires if the terms and conditions are not satisfied prior to 2 p.m. Eastern time on the business day prior to loan funding.
        </li>
    </ul> These terms and conditions are subject to change at any time.
    <br>
    <br>
</div>
<div class="ada-container" id="footerdisclosure-3" tabindex="0">
    <sup class="footerSup">3</sup> You can fund your loan today if today is a banking business day, your application is approved, and you complete the following steps by 2:30 p.m. Eastern time: (1) review and electronically sign your loan agreement; (2) provide
    us with your funding preferences and relevant banking information; and (3) complete the final verification process.
    <br>
</div>
