@model LightStreamWeb.ContentManager
@{
    var page = Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.SiteContent.RatesTerms.GoodCreditPage>();
    if (page == null)
    {
        // default, for now
        page = new FirstAgain.Domain.SharedTypes.ContentManagement.SiteContent.RatesTerms.GoodCreditPage();
        var excellentPage = Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.ExcellentCreditPage>();
        page.PageTitle = excellentPage.PageTitle;
        page.GoodCreditCopy = excellentPage.ExcellentCreditCopy;
    }
}
<h2>@page.PageTitle</h2>
<p>
    @Html.Raw(page.GoodCreditCopy)
</p>


<script type="text/javascript">
    $(function () {
        SC.main.goodCredit();
    });
</script>