<p>
LightStream is a tradename utilized by SunTrust Bank, a Georgia banking corporation
    with its principal place of business at 303 Peachtree Street, NE, Atlanta, Georgia 30308
    ("SunTrust"). SunTrust conducts certain business activities using the LightStream
    tradename in Arizona, Arkansas, California, Colorado,
    Delaware, Florida, Georgia, Idaho, Indiana, Kentucky, Louisiana, Maine, Maryland,
    Massachusetts, Michigan, Mississippi, Missouri, Nevada, North Carolina, Ohio, Oklahoma,
    Oregon, Pennsylvania, Tennessee, Texas, Utah, Vermont, Virginia, Washington, West
    Virginia and Wyoming. SunTrust conducts these activities in the name of SunTrust
    Bank in Alabama, Alaska, Connecticut, Washington DC, Hawaii, Illinois, Iowa, Kansas,
    Minnesota, Montana, Nebraska, New Hampshire, New Jersey, New Mexico, New York, North
    Dakota, Rhode Island, South Carolina, South Dakota and Wisconsin.
</p>

<script type="text/javascript">
    $(function () {
        SC.main.licensing();
    });
</script>
