

<p>
    <b>TRUIST DISCLOSURE</b>
</p>

<p>
    <b>Keeping you informed</b>
</p>

<p class="ruled">
    Our goal is to keep you fully informed as SunTrust and BB&T move forward as Truist. In the coming months, you will receive additional information regarding how any changes will impact you. For now, please read the following information concerning your accounts.
</p>

<p>
    As you are aware, SunTrust Bank (“SunTrust”) merged with Branch Banking and Trust Company, a North Carolina banking corporation (“BB&T”) and the combined bank is now known as Truist Bank (“Truist”). Although now Truist, we will continue to operate under the SunTrust name for some period of time until our operating systems convert to Truist systems. While we continue to operate under the SunTrust name, you will receive correspondence and notices from SunTrust regarding your SunTrust accounts.
</p>

<p>
    <b>AMENDMENT TO DOCUMENTS</b>
</p>

<p>
    Effective on the date of the merger, any agreement, disclosure, form or instrument naming SunTrust as a party, constitutes a valid and binding obligation with Truist even though the documents reference SunTrust as the party in interest. The documents shall be read with Truist in place of SunTrust.
</p>   
 
<p>    
    The terms and conditions of any agreement, disclosure, form or instrument shall remain in effect unless modified or amended in accordance with any such provision contained therein.
</p>

<p><b>Consumer Privacy</b></p>

<p>
    Your privacy is important at Truist and we are committed to maintaining and protecting your personal information. After the merger date, accounts opened at SunTrust will continue to be governed by the SunTrust privacy policy up to the date of conversion of the operating systems to Truist. We will keep you informed as to any changes to the privacy policy that may occur upon conversion to Truist.
</p>  
  
<p>    
    For any account opened after the merger date, you will still be able to manage your privacy choices for Truist to fit your particular needs.
</p>

<p><b>Fraud Protection</b></p>
<p>
    Protecting your information and identity is our priority. SunTrust will never send unsolicited emails, phone calls or texts asking you to provide, update or verify your personal or account information, such as passwords, Social Security numbers, personal identification numbers (PINs), credit or debit card numbers. If you receive a suspicious call or if you believe your account security has been compromised, call us immediately at 800.447.8994.
</p>

<p>
    Discover what you can do to avoid scams with the help of our security tools, tips, and resources on suntrust.com/security.
</p>

<p>
    <img src="https://www.suntrust.com/content/dam/lightstream/us/en/content/images/tiny-house.png" style="display:inline-block;" alt="E H L" /> SunTrust Bank now Truist Bank is an Equal Housing Lender. © @DateTime.Now.Year Truist Financial Corporation. SunTrust®, LightStream®, the SunTrust logo and Truist are service marks of Truist Financial Corporation. All rights reserved.
</p>