<p>
    For press or blogger inquiries, please contact @FirstAgain.Domain.Common.BusinessConstants.Instance.MarketingContactName, 
    at <a href="mailto:@FirstAgain.Domain.Common.BusinessConstants.Instance.MarketingContactEmail">@FirstAgain.Domain.Common.BusinessConstants.Instance.MarketingContactEmail</a>.
</p>

<p>
    For customer inquiries, please <a href="/contact-us/">click here</a>.
</p>

<script type="text/javascript">
    $(function () {
        SC.main.mediaRoom();
    });
</script>
