@model LightStreamWeb.ContentManager

<p>
    @Html.Raw(Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.PressKit>().ProfileCopy)
</p>

@*TODO: CMS PDF file*@


<script type="text/javascript">
    $(function () {
        SC.main.pressKit();
    });
</script>
