@using FirstAgain.Domain.SharedTypes.ContentManagement
@model LightStreamWeb.ContentManager
@{
    var page = Model.Get<RateMatchOfferPopup>() ?? new RateMatchOfferPopup();
}

<div class="show-on-modal">
    <h2>@page.Header</h2>
</div>
<div class="rate-match-features">
    @Html.Raw(page.RateMatchCopy)
</div>