@model LightStreamWeb.ContentManager

@Html.Raw(Model.Get<FirstAgain.Domain.SharedTypes.ContentManagement.WhoWeAre>().WhoWeAreCopy)


<a href="/misc/plant-a-tree" data-open="PlantATreeModal" onclick="SC.main.plantaTree();"><img src="@Model.CdnBaseUrl/plant-a-tree-small.png" alt="We plant a tree with every loan" width="106" height="32" class="no-track" /></a>



<div class="row">
    <br/>
    <p class="legalcopy">
        @Html.Partial("~/Views/Components/SameDayFundingDisclosure.cshtml")
    </p>
</div>


<script type="text/javascript">
    $(function () {
        SC.main.whoWeAre();
    });
</script>
