@model string

<a href="/customer-testimonials">
    <img src="~/Content/tnt/29082/customer_comments.png" class="experienceImage" />
</a>
<h3 class="thatBlueFontTho characteristicTitle">Unsolicited customer comments</h3>
<div id="@Model" class="owl-carousel owl-theme">
    <div>
        <p class="characteristicDescription">
            “I was amazed at how easy everything was. It was great to actually feel trusted by a bank, and I loved having the power of a cash buyer… “
        </p>
        <div class="customerLocation">— D. A. from Silverdale, WA</div>
    </div>
    <div>
        <p class="characteristicDescription">
            "I would like to say what an awesome and easy process this has been so far. I've been able to purchase the vehicle I have always wanted because of you guys, so thank you."
        </p>
        <div class="customerLocation">— A. L. from Orlando, FL</div>
    </div>
    <div>
        <p class="characteristicDescription">
            "It was a pleasure to borrow money with no hassles and low interest. Amazing. Why don't other companies (banks) behave in this civilized way?"
        </p>
        <div class="customerLocation">— S. C. & R. C. from Denver, CO</div>
    </div>
    <div>
        <p class="characteristicDescription">
            "First I want to say this was in fact the EASIEST loan transaction ever! I have truly found a new lender. Thank you for making my dream of owning a pool come true in just one day!"
        </p>
        <div class="customerLocation">— B. W. from Philadelphia, PA</div>
    </div>
</div>

<a href="/customer-testimonials" class="readmore">Read more...</a>
