@model string

<a href="/customer-testimonials">
    <img src="~/Content/tnt/29082/customer_comments.png" class="experienceImage" />
</a>
<h3 class="thatBlueFontTho characteristicTitle">Unsolicited customer comments</h3>
<div id="@Model" class="owl-carousel owl-theme">
    <div>
        <p class="characteristicDescription">
            "I would like to say what an awesome and easy process this has been so far. I've been able to purchase the vehicle I have always wanted because of you guys, so thank you."
        </p>
        <div class="customerLocation">— A. L. from Orlando, FL</div>
    </div>
    <div>
        <p class="characteristicDescription">
            “I was amazed at how easy everything was. It was great to actually feel trusted by a bank, and I loved having the power of a cash buyer… “
        </p>
        <div class="customerLocation">— D. A. from Silverdale, WA</div>
    </div>
    <div>
        <p class="characteristicDescription">
            "I absolutely LOVED your used car loan process. Your concept is perfect and I just can't stop telling friends about it. The dealer told me there was no way I could beat his best interest rate from one of 10 companies. You helped me prove him wrong….”
        </p>
        <div class="customerLocation">— M. S. from Olathe, KS</div>
    </div>
    <div>
        <p class="characteristicDescription">
            "Your business model is amazing. Admittedly, my credit is spotless but to get a $17,000 unsecured car loan in 15 minutes is truly almost beyond belief. At a regular bank I would still be waiting for the proper person to talk after 15 minutes. Very well done! Thanks."
        </p>
        <div class="customerLocation">— A. H. from Wooster, OH</div>
    </div>
</div>

<a href="/customer-testimonials" class="readmore">Read more...</a>
