@model string

<div class="thatBlueTho">
    <img src="~/Content/tnt/29082/media_coverage.png" class="experienceImage" />
</div>
<h3 class="thatBlueFontTho characteristicTitle">Media coverage</h3>
<div id="@Model" class="owl-carousel  owl-theme">
    <div>
        <p class="characteristicDescription">
            “You may find the best rates on the internet. There are an increasing number of digital lenders out there, and their lack of overhead often means they can offer better terms than their brick-and-mortar counterparts… Of course, you need to do due diligence on these types and their terms; it doesn't hurt if one is affiliated with a physical institution, as LightStream is.”
        </p>
        <div class="customerLocation">— Investopedia</div>
    </div>
    <div>
        <p class="characteristicDescription">
            “LightStream:  New options in unsecured personal loans offer financing for almost anything, with far better rates than traditional credit cards.”
        </p>
        <div class="customerLocation">— Money Under 30</div>
    </div>
    <div>
        <p class="characteristicDescription">
            LightStream has “launched a special loan designed to help parents fund their child’s education from pre-K through high school.”
        </p>
        <div class="customerLocation">— U.S. News & World Report</div>
    </div>
    <div>
        <p class="characteristicDescription">
            “As I researched the best auto loan providers, I looked for ones that offered a wide range of loan types, quick approval, solid customer support and resources, and — of course — competitive interest rates. A lender such as LightStream fits the bill for those with excellent credit…”
        </p>
        <div class="customerLocation">— The Simple Dollar, “Best Auto Loans for 2016”</div>
    </div>
</div>