<div class="large-12 columns navbar affix">
    <div class="row bluetint headerbar" style="max-width: 120.063rem; margin-right: auto; padding-right: 0">
        <a href="javascript:void(0);" class="small-1 columns brand navtoggle" id="show_menu"><i class="fa fa-bars"></i></a>

        <!-- PBI 20071 BEGIN -->
        <div class="small-6 medium-3 columns branding">
            <!-- <div class="small-0 medium-3 columns">&nbsp;</div> -->
            <!-- <div class="small-9 medium-2 columns branding"> -->
            <!-- PBI 20071 END -->
            <h1 id="logoH1">
                <a href="/">LightStream</a>
            </h1>
        </div>

        <div class="small-1 medium-1 mini-columns" 
             style="width: 20px;margin-left: 5px;margin-right: 5px;" onclick="showRadioDialog(false, true)">
            <i class="ls ls-radio ls-radio-mobile"></i>
            <div>
                <h2 class="radioLabel">Radio</h2>
            </div>
        </div>

        <div class="small-1 medium-1 mini-columns">
            <a class="round alert label signin" href="/customer-sign-in">Sign In</a>
        </div>

        <div class="small-1 medium-1 mini-columns">
            <a class="round alert label apply-now" href="/apply">Apply Now</a>
        </div>




        <!-- PBI 20071 BEGIN -->
        <div class="medium-9 columns">
            <!-- <div class="medium-4 columns"> -->
            <!-- PBI 20071 END -->
            <nav class="mainmenu">
                <ul>
                    <li data-nav="home" class="show-for-small-only"><a id="HomeLink" href="/">Home</a></li>
                    <li data-nav="rates"><a id="RatesTermsNavLink" href="/rates-loan-calculator">Rates</a></li>
                    <li data-nav="about-us"><a id="AboutNavLink" href="/who-we-are">About</a></li>
                    <li data-nav="contact-us"><a id="QuestionsNavLink" href="/contact-us">Questions</a></li>
                    <li data-nav="privacy"><a id="PrivacySecurityNavLink" href="/privacy-security">Security</a></li>
                    <li data-nav="apply"><a id="ApplyNavLink" href="/apply">APPLY NOW</a></li>
                    <li data-nav="sign-in" style="margin-right: 10px"><a id="SignInNavLink" href="/customer-sign-in">Sign in</a></li>
                    <li style="margin-right: 10px" id="navRadioIcon" onclick="showRadioDialog(false)">
                        <i class="ls ls-desktop ls-radio-white"></i>
                    </li>
                </ul>
                <ul class="hide-for-small-only">
                    <li class="menu-container-item">
                        <span>Auto</span>
                        <ul class="m-dropdown">
                            <li><a href="/vehicle-refinancing">Auto Refinance</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/dealer-classic-car">Classic Car</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/vehicle-loans">New Car</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/used-auto-dealer">Used Car</a></li>
                        </ul>
                    </li>
                    <li class="menu-container-item">
                        <span>Home Improvement</span>
                        <ul class="m-dropdown" style="width: 260px">
                            <li><a href="/improvement-remodel-loan">Home Improvement</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/kit-ba-loans">Kitchen & Bath Remodeling</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/landscaping-loan">Landscaping</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/solar-loans">Solar</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/pool-financing">Swimming Pool</a></li>
                        </ul>
                    </li>
                    <li class="menu-container-item">
                        <span>Recreation</span>
                        <ul class="m-dropdown" style="width: 290px">
                            <li><a href="/aircraft-loans">Aircraft Loans & Refinancing</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/boat-financing">Boat Loans & Refinancing</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/fractional-investment-loan">Fractional Loans & Refinancing</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/timeshare-financing">Timeshare Loans & Refinancing</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/moto-loans">Motorcycle Loans & Refinancing</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/rv-financing">RV/Trailer Loans & Refinancing</a></li>
                        </ul>
                    </li>
                    <li class="menu-container-item">
                        <span>Family Life</span>
                        <ul class="m-dropdown" style="width: 240px;left:-100px;">
                            <li><a href="/adoption-loans">Adoption</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/prek-12-ed-loan">Education (PreK-12 Only)</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/fertility-financing">Fertility</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/med-loans">Medical</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/wedding-financing">Wedding</a></li>
                        </ul>
                    </li>
                    <li class="menu-container-item">
                        <span>Almost Anything Else</span>
                        <ul class="m-dropdown" style="width: 288px;left:-125px;">
                            <li><a href="/aircraft-loans">Aircraft Loans & Refinancing</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/debt-refinancing">Credit Card/Debt Consolidation</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/horse-financing">Horse</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/med-loans">Medical & Dental</a></li>
                            <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                            <li><a href="/other-loan">Other Loan & Refinance</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- PBI 20071 BEGIN -->
        <!-- <div class="small-0 medium-3 columns">&nbsp;</div> -->
        <!-- PBI 20071 END -->
    </div> <!-- End headerbar -->
</div> <!-- End navbar large-12 columns -->


