    #guarantee, #guarantee a {
        color:white;
        font-style:italic;
        font-weight:bold;
        opacity:1;
    }
    #guarantee {
        height:auto;
    }
    #guarantee img {
        height:40px;
    }
    #guarantee span {
        padding-bottom:0.5em;
    }
    #guarantee .large-4.separator-left {
        border-left:white 1px solid;
    }
    #guarantee, .headertoggle {
        background-image:none;
        background-color:rgba(0,70,126,0.9);
        box-shadow:none;
        margin:0;
    }
    #guarantee .headertoggle_reveal {
        background-color:#e2e0e0;
        margin-top:30px;
    }
    #guarantee .headertoggle_reveal p {
        background-color:#e2e0e0;
        color:black;
        font-style:normal;
        font-size:0.9em;
        padding-left:1em;
        padding-right:1em;
        margin-top:1.5em;
    }
    body.home header {
        margin-bottom:-60px;
    }
