@model LightStreamWeb.Models.SignIn.AccountLockPageModel
           
@if (TempData["Alert"] != null)
{
    <div class="row">
        <div class="small-12 columns panel" id="alertPanel" role="alert" tabindex="0">
            @TempData["Alert"]
        </div>
    </div>
}

<div class="row">
    <div class="small-12 columns">
        <h2 class="pageTitle">
            Customer Sign In > <span class="subTitle">AccountLock</span>
        </h2>
    </div>
</div>

<section class="row ruled">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns">
                <p>Your account has been locked with our AccountLock feature. In order to gain access to your account, please confirm the email address we have on file for you. We will then email you a temporary passcode allowing you one-time access to your account.</p>
            </div>
        </div>
        
        <form action="@Url.Action("AccountLock", "SignIn")" name="accountLockForm" novalidate method="post" ng-app="AccountLock" ng-controller="AccountLockController" ls-validate-on-submit>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Email Address</label>
                    <input id="EmailAddress" name="EmailAddress"
                           type="email" maxlength="50"
                           ng-model="EmailAddress"
                           ng-pattern="/^[a-z0-9_\-\.\+]{2,}&#64;[a-z0-9_\-\.]{2,}\.[a-z]{2,}$/i"
                           required="required" ls-track-visited />
                    <div class="formalert" tabindex="0" ng-cloak ng-show="accountLockForm.EmailAddress.$hasVisited && (accountLockForm.EmailAddress.$error.required || accountLockForm.EmailAddress.$error.pattern)">
                        <p>Please enter a valid email address.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <input type="submit" id="AccountLockSubmit" class="button" value="Submit" />
                </div>
            </div>
        </form>
    </div>
</section>

<section class="row ruled">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns">
                <p>Did you update your email address and forget to notify us? If so, then select Update Email Address below in order to provide us with your new email address.</p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 columns">
                @*TODO - The style for anchors in forms needs to be fixed so the inline style can be removed*@
                @Html.ActionLink("Update Email Address", "UpdateEmail", "SignIn", null, new { @class = "button", style = "font-size: 18px;" })
            </div>
        </div>
    </div>
</section>

<section class="row ruled homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>

@section scripts {
    <script type="text/javascript">
        angular.module('AccountLock', []).controller('AccountLockController', function ($scope) {
        });
        $(function () {
            if ($("#alertPanel").length) {
                setTimeout(function () { $("#alertPanel").focus(); }, 800);
            }
        });
    </script>
}