<section class="row ruled">

	<div class="large-10 columns medium-push-1">
	    <h1>Customer Sign In</h1>

        <p>Application information is no longer available for this user ID.</p>

                @switch ((LightStreamWeb.Models.SignIn.SignInModel.LoginAccountStatusType)ViewData["LoginAccountStatusType"])
        {
            case LightStreamWeb.Models.SignIn.SignInModel.LoginAccountStatusType.Fraud:
                @* #9689 - Don't show fraud # for apps with fraud alert *@                
                <p>Access to your account(s) is not available. If you have any questions regarding this matter, please
                contact us at <a href="tel:@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain">@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain</a>.</p>
                <p>Thank you.</p>
                break;
            case LightStreamWeb.Models.SignIn.SignInModel.LoginAccountStatusType.Freeze:
                <p>Access to your account(s) is not available at this time.
                If you have not already done so, please contact us at your earliest convenience at  
                    <a href="tel:@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain">@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain</a>.</p>
                <p>Thank you.</p>
                break;
            case LightStreamWeb.Models.SignIn.SignInModel.LoginAccountStatusType.BoardingFailed:
                <p>Access to your account(s) is not available at this time.
                If you have not already done so, please contact us at your earliest convenience at 
                    <a href="tel:@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain">@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain</a>.</p>
                <p>Thank you.</p>
                        break;
            case LightStreamWeb.Models.SignIn.SignInModel.LoginAccountStatusType.HasInactiveFundedAccount:
                <p>
                    Access to your account(s) is not available. If you have any questions regarding this matter, please
                    contact us at <a href="tel:@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain">@FirstAgain.Domain.Common.BusinessConstants.Instance.PhoneNumberMain</a>.
                </p>
                <p>Thank you.</p>
                break;
        }

    </div>
</section>