@model LightStreamWeb.Models.SignIn.SignInModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Base.cshtml";
}

@section styles {
    <style type="text/css">
        @@media (max-width: 600px) {
            h1 {
                font-size: 34px;
                padding-top: 0;
                padding-bottom: 0.125rem;
            }

            .ls-no-js {
                display: none;
            }
        }

        /* for in-process (partner) */
        .show-in-process {
            display: none;
        }

        body.in-process .show-in-process {
            display: block;
        }

        body.in-process .hide-in-process {
            display: none;
        }
    </style>

}

    <section class="row ruled">
        <div class="ls-no-js panel" ng-cloak>
            For security purposes (yours and ours), you need to enable javascript in order to sign in.  Thank you.
        </div>

        <div class="row pre-ie8-warning">
            <p>We have detected that you are either running an older version of Internet Explorer, or are running in 'Compatibility Mode'. </p>
            <p>
                If you are running Internet Explorer 8, de-select the 'Compatibility Mode' button next to your browser's address bar, as indicated below: <br />
                <img src="@Model.CdnBaseUrl/ie-compatibility-warning.png" />
            </p>
            <p>&nbsp;</p>
        </div>

        @if (TempData["Alert"] != null)
    {
        <div class="panel">
            @TempData["Alert"]
        </div>
}

        <div class="large-10 columns">
            <div class="medium-8 medium-push-1 columns" >
                <h1 tabindex="0">Customer Sign In</h1>

                @Html.Partial("~/Views/SignIn/Partials/_SignIn.cshtml")
            </div>
        </div>
</section>


<section class="row ruled homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>