@using FirstAgain.Domain.Common
@model LightStreamWeb.Models.SignIn.InvalidSecurityInfoModel
@{
    ViewBag.Title = Model.PageTitle;
    Layout = "~/Views/Layouts/_Base.cshtml";
}
<section class="row ruled">
    <div style="margin-bottom:2rem">
        <div class="large-10 columns medium-push-1">
	        <h1>@Model.PageTitle</h1>
            <p style="color:red">Unfortunately, we cannot find any records matching the data entered.</p>
            <p>	You may retrieve your user ID by selecting <a href="/customer-sign-in/recoveruserid">Forgot user ID</a>. 
                To reset your password, select <a href="/customer-sign-in/forgotpassword">Forgot password</a>.</p>
            <p>If we can be of further assistance, please contact customer service at <span class="nobreak"> @BusinessConstants.Instance.PhoneNumberMain.</span></p>
            <p>Thank you.</p>
        </div>
    </div>
</section>

<section class="row ruled homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>
