@model LightStreamWeb.Models.SignIn.SignInModel

@section metaTags {
    <meta name="robots" content="noindex">
    <link rel="canonical" href="https://www.lightstream.com/customer-sign-in" />
}

<section class="row ruled">

    <div class="large-10 columns medium-push-1">
        <h1>We apologize for the inconvenience</h1>

        <div class="row panel">
            <p>@Html.Raw(Model.MaintenanceMessage())</p>
        </div>
    </div>
</section>


@section scripts {
    <script type="text/javascript">
        // refresh until we're back
        setTimeout(function () {
            document.location = '/customer-sign-in';
        }, 300000);
    </script>
}