@model LightStreamWeb.Models.SignIn.PassCodeLockPageModel

@if (TempData["Alert"] != null)
{
    <div class="row">
        <div class="small-12 columns panel" id="alertPanel" role="alert" tabindex="0">
            @TempData["Alert"]
        </div>
    </div>
}

<div class="row">
    <div class="small-12 columns">
        <h2 class="pageTitle">
            Customer Sign In > <span class="subTitle">AccountLock</span>
        </h2>
    </div>
</div>

<section class="row ruled">
    <div class="small-12 columns">
        <div class="row">
            <div class="small-12 columns">
                <p>We have emailed your passcode to you. You may enter it below or sign in with it later. Please remember that your passcode can only be used once to sign in and expires in 24 hours.</p>
            </div>
        </div>

        <form action="@Url.Action("PassCodeLock", "SignIn")" name="passCodeLockForm" novalidate method="post" ng-app="AccountLock" ng-controller="AccountLockController" ls-validate-on-submit>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <label>Passcode</label>
                    <input id="PassCode" name="PassCode"
                           type="password" maxlength="50"
                           autocomplete="off"
                           ng-model="PassCode"
                           required="required" ls-track-visited />
                    <div class="formalert" tabindex="0" ng-cloak ng-show="passCodeLockForm.PassCode.$hasVisited && passCodeLockForm.PassCode.$error.required">
                        <p>Please enter a valid passcode.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-12 columns">
                    <input type="submit" id="PassCodeLockSubmit" name="PassCodeSubmit" class="button" value="Submit" />
                    @*TODO - The style for anchors in forms needs to be fixed so the inline style can be removed*@
                    <a href="@Url.Action("AccountLock", "SignIn")" class="button" style="font-size:18px;">Request A New Passcode</a>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="row ruled homeloanuses">
    @Html.Partial("~/Views/Components/LandingPageLinks.cshtml", new LightStreamWeb.Models.Components.LandingPageLinksModel())
</section>

@section scripts {
    <script type="text/javascript">
        angular.module('AccountLock', []).controller('AccountLockController', function ($scope) {
        });
        $(function () {
            if ($("#alertPanel").length) {
                setTimeout(function () { $("#alertPanel").focus(); }, 800);
            }
        });
    </script>
}