@model FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType
<section class="row">
    <div class="large-12 columns">
        @if (Model != FirstAgain.Domain.Lookups.FirstLook.ApplicantTypeLookup.ApplicantType.Secondary) {
		    <h3>Applicant</h3>
        } else {
		    <h3>Co-Applicant</h3>
        }
        <p class="teammate-alert"><label><input type="checkbox" name="HMDABasedOnObservation" ng-model="LoanApp.HMDABasedOnObservation"/> Completed based on observation</label></p>
    </div>
</section>

@Html.Partial("~/Views/Apply/Partials/_HMDA_Questions.cshtml", Model)