<div class="row">
	<div class="medium-3 columns">
	    <label for="LoanAmount"><sup>*</sup>Loan Amount</label>
        @LSForm.Currency(nameAndId: "LoanAmount",
                         ariaLabel: "Enter loan ammount.",
                         ngModel: "LoanApp.LoanAmount",
                         ngMin: "{{rates.MinLoanAmount}}",
                         ngMax: "{{rates.MaxLoanAmount}}",
                         maxLength: 12)

        <div class="formalert" tabindex="0" ng-show='LoanApplication.LoanAmount.$hasVisited && (LoanApplication.LoanAmount.$error.max || LoanApplication.LoanAmount.$error.min)' ng-cloak="">
            <p>Please enter an amount between {{rates.MinLoanAmountHint | currency}} and {{rates.MaxLoanAmountHint | currency}}</p>
        </div>

        <div class="formalert" tabindex="0" ng-show="LoanApplication.LoanAmount.$hasVisited && (LoanApplication.LoanAmount.$error.max && LoanApplication.LoanAmount.$error.min && LoanApp.PurposeOfLoan.Type === 'NotSelected')" ng-cloak="">
            <p>Please select a loan purpose</p>
        </div>
	</div>

	<div class="medium-9 columns">
        <div class="forminfo aside down" tabindex="0" ng-cloak>
            <p>Loan Amount must be from {{rates.MinLoanAmount | currency}} to {{rates.MaxLoanAmount | currency}}</p>
        </div>
    </div>
</div>

<div ng-cloak class="row" ng-show='LoanApplication.LoanAmount.$hasVisited && LoanApplication.LoanAmount.$error.min && !LoanApplication.LoanAmount.$error.required'>
    <div class="medium-12 columns">
        <div class="teammate-alert" tabindex="0">
            <p>
                Currently LightStream does not have a solution for clients
                requesting a loan below {{rates.MinLoanAmount | currency}}.
                Please partner with the client to determine other SunTrust solutions
                that will help meet his or her needs.
            </p>
        </div>
    </div>
</div>



		
