<div class="row">
    <div class="medium-4 columns">
        <label><sup>*</sup>Originating Officer ID</label>
        @LSForm.NumberString(nameAndId: "TeammateEmployeeId",
                                  minLength: 5,
                                  maxLength: 9,
                                  ngModel: "LoanApp.TeammateEmployeeId",
                                  required: true,
                                  attributes: "ls-officer-id='true'")
        <div class="formalert" tabindex="0" ng-show='LoanApplication.TeammateEmployeeId.$hasVisited && LoanApplication.TeammateEmployeeId.$error.minlength' ng-cloak>
            <p>Please enter at least five digits for the Originating Officer ID</p>
        </div>
        <div class="formalert" tabindex="0" ng-show="LoanApplication.TeammateEmployeeId.$hasVisited && !LoanApplication.TeammateEmployeeId.$error.minlength && LoanApplication.TeammateEmployeeId.$error.notFound" ng-cloak>
            <p>Please enter a valid Officer ID.</p>
        </div>
    </div>

    <div class="medium-4 columns">
        <label>Teammate Email Address</label>
        <input id="TeammateEmailAddress"
               name="TeammateEmailAddress"
               type="email" maxlength="150"
               ng-model="LoanApp.TeammateEmailAddress"
               ng-required="!LoanApplication.RelationshipManagerEmailAddress.$valid"
               ls-track-visited
               ng-pattern="/@(@"^(?!.*([\.])\1{1})([0-9a-zA-Z]([-\.\+\w]*[0-9a-zA-Z_])*@(lightstream|suntrust)\.com)$/")" />
        <div ng-show="LoanApplication.TeammateEmailAddress.$hasVisited && LoanApplication.TeammateEmailAddress.$error.pattern" tabindex="0" ng-cloak>
            <div class="formalert">
                <p>Please enter a valid suntrust.com email address.</p>
            </div>
        </div>
    </div>

    <div class="medium-4 columns">
        <label>Teammate Phone (with area code)</label>
        <input type="text"
               id="BranchEmployeePhoneNumber"
               name="BranchEmployeePhoneNumber"
               ng-model="LoanApp.BranchEmployeePhoneNumber"
               ng-required="!(LoanApp.BranchEmployeePhoneNumber.AreaCode.length === 3 || LoanApp.RelationshipManagerPhoneNumber.AreaCode.length === 3)"
               ls-phone-number
               ls-track-visited
               maxlength="14"
               required pattern="\d*" />
    </div>
</div>

<div class="row">
    <div class="medium-4 columns">
        <label><sup>*</sup>Relationship Manager Officer ID</label>
        @LSForm.NumberString(nameAndId: "RelationshipManagerId",
                      minLength: 5,
                      maxLength: 9,
                      ngModel: "LoanApp.RelationshipManagerId",
                      required: true,
                      attributes: "ls-officer-id")
        <div class="formalert" tabindex="0" ng-show='LoanApplication.RelationshipManagerId.$hasVisited && LoanApplication.RelationshipManagerId.$error.minlength' ng-cloak>
            <p>Please enter at least five digits for the Relationship Manager ID</p>
        </div>
        <div class="formalert" tabindex="0" ng-show="LoanApplication.RelationshipManagerId.$hasVisited && !LoanApplication.RelationshipManagerId.$error.minlength && LoanApplication.RelationshipManagerId.$error.notFound" ng-cloak>
            <p>Please enter a valid Officer ID.</p>
        </div>
    </div>

    <div class="medium-4 columns">

        <label>Teammate Email Address</label>
        <input id="RelationshipManagerEmailAddress"
               name="RelationshipManagerEmailAddress"
               type="email" maxlength="150"
               ng-model="LoanApp.RelationshipManagerEmailAddress"
               ng-required="!LoanApplication.TeammateEmailAddress.$valid"
               ls-track-visited
               ng-pattern="/@(@"^(?!.*([\.])\1{1})([0-9a-zA-Z]([-\.\+\w]*[0-9a-zA-Z_])*@(lightstream|suntrust)\.com)$/")" />
        <div tabindex="0" ng-show="LoanApplication.RelationshipManagerEmailAddress.$hasVisited && LoanApplication.RelationshipManagerEmailAddress.$error.pattern" ng-cloak>
            <div class="formalert">
                <p>Please enter a valid suntrust.com email address.</p>
            </div>
        </div>
    </div>

    <div class="medium-4 columns">
        <label>Teammate Phone (with area code)</label>
        <input type="text"
               id="RelationshipManagerPhoneNumber"
               name="RelationshipManagerPhoneNumber"
               ng-model="LoanApp.RelationshipManagerPhoneNumber"
               ng-required="!(LoanApp.BranchEmployeePhoneNumber.AreaCode.length === 3 || LoanApp.RelationshipManagerPhoneNumber.AreaCode.length === 3)"
               ls-phone-number
               ls-track-visited
               maxlength="14"
               required pattern="\d*" />

        <div class="formalert" tabindex="0" ng-show="(!LoanApplication.BranchEmployeePhoneNumber.$valid && !LoanApplication.RelationshipManagerPhoneNumber.$valid
                                    && (LoanApplication.BranchEmployeePhoneNumber.$hasVisited || LoanApplication.RelationshipManagerPhoneNumber.$hasVisited))" ng-cloak=''>
            <p>{{LoanApplication.RelationshipManagerPhoneNumber.$mulitPhoneValidationMessage}}</p>
        </div>
    </div>
</div>

<div class="row">

    <div class="medium-4 columns">
        <label><sup>*</sup>Cost Center</label>
        @LSForm.NumberString(nameAndId: "BranchCostCenter",
                      minLength: 7,
                      maxLength: 7,
                      ngModel: "LoanApp.BranchCostCenter",
                      required: true,
                      attributes: "ls-branch-cost-center")

        <div class="formalert" tabindex="0" ng-show='LoanApplication.BranchCostCenter.$hasVisited && LoanApplication.BranchCostCenter.$error.minlength' ng-cloak>
            <p>Please enter the seven digit branch cost center.</p>
        </div>
        <div class="formalert" tabindex="0" ng-show="LoanApplication.BranchCostCenter.$hasVisited && !LoanApplication.BranchCostCenter.$error.minlength && LoanApplication.BranchCostCenter.$error.notFound" ng-cloak>
            <p>Invalid branch cost center. Please try again.</p>
        </div>
    </div>
</div>