@model LightStreamWeb.Models.Apply.SunTrustApplyPageModel

@{Html.RegisterScriptFile("~/scripts/app/loan-application.js");}

<section class="row">
	<div class="large-10 columns medium-push-1">
	    <h1>Thank You!</h1>

        <div class="panel">
            <div class="teammate-alert">
                <p><i class="fa fa-comment"></i> Hello Your referral id is: @Model.TeammateReferralId and your token is: @Model.TeammateReferralToken</p>
                <p>Email is @Model.EmailAddress</p>
            </div>
        </div>

        <p>&nbsp;</p>
	</div>
</section>