@model LightStreamWeb.Models.Apply.SunTrustApplyPageModel

@{Html.RegisterScriptFile("~/scripts/app/loan-application.js");}

<section class="row">
    <div class="large-10 columns medium-push-1">
        <h1>Thank You!</h1>


        @if (string.IsNullOrEmpty(Model.TeammateEmailAddress))
        {
            <div class="panel">
                <div class="teammate-alert">
                    <p><i class="fa fa-comment"></i> Teammate, please let the client know:</p>
                </div>

                <div>
                    <ul class="bullets">
                        <li>The LightStream application link has been emailed to you. You can now use it.</li>
                        <li>The email contains instructions to complete the LightStream application and submit it for consideration.</li>
                        <li>You can choose to complete the LightStream application from any computer or mobile device you use to access your email account.</li>
                        <li>Once you have submitted your LightStream application online via this link, we will be able to review it for consideration.</li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="panel">
                <div class="teammate-alert">
                    <p><i class="fa fa-comment"></i> Teammate, please note:</p>
                </div>

                <div>
                    <ul class="bullets">
                        <li class="existing-referral-alert">There is an existing active referral for your client.</li>
                        <li>The active referral was submitted by @Model.TeammateEmailAddress.</li>
                        <li>Your client will receive the original LightStream application link via email and will be able to apply using that link.</li>
                    </ul>
                </div>
            </div>
        }



        <p>&nbsp;</p>
    </div>
</section>


