@model BaseLightstreamPageModel

@* 
    ----------------------------- MAKING NAV BAR CHANGES? ------------------------------
    Side note to devs - /redesign and /auto-loans have videos in the banner section --
    any change to the height of the nav bar will cause the video not
    to be lined up. If you need to make changes to the height of the nav bar, you must also
    fix the video positioning on redesign and auto-loans for all widths >= 726 and all the
    browsers. I know it's not ideal design wise but that's how it works currently until
    it can be refactored. -brett 3/27/2017
    ------------------------------------------------------------------------------------------------
*@

<div class="large-12 desktop-nav columns navbar affix">
    <div class="row @Model.NavClass headerbar">
        <a href="javascript:void(0);" class="small-1 columns brand navtoggle" id="show_menu">
            <i class="fa fa-bars"></i>
            <i class="fa fa-times"></i>
        </a>

        <!-- PBI 20071 BEGIN -->
        <div class="small-7 medium-2 columns branding">
            <h1>
                <a itemprop="url" href="@Model.LogoUrl">LightStream</a>
            </h1>
        </div>

        <div class="medium-10 columns navItems">
            <nav class="mainmenu">
                <ul>
                    <li data-nav="home" class="show-for-small-only"><a id="HomeLink" href="/">Home</a></li>
                    <li data-nav="rates"><a id="RatesTermsNavLink" href="/rates-loan-calculator">Rates</a></li>
                    <li data-nav="about-us"><a id="AboutNavLink" href="/who-we-are">About</a></li>
                    <li data-nav="contact-us"><a id="QuestionsNavLink" href="/contact-us">Questions</a></li>
                    <li data-nav="privacy"><a id="PrivacySecurityNavLink" href="/privacy-security">Security</a></li>
                    <li data-nav="apply" class="nav-button"><a id="ApplyNavLink" href="/apply" onclick="SC.main.navbar.applyNow();">APPLY NOW</a></li>                    
                    <li data-nav="sign-in" class="nav-button" style="margin-right: 18px !important"><a id="SignInNavLink" href="/customer-sign-in" onclick="SC.main.navbar.signIn()">Sign in</a></li>
                </ul>
                <div id="sub-menu">
                    <ul class="hide-for-small-only">
                        <li class="menu-container-item">
                            <span aria-haspopup="true" class="unselectable">Auto</span>
                            <ul class="m-dropdown">
                                <li><a href="/auto-refinance">Auto Refinance</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/classic-car-financing">Classic Car</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/new-car-loan">New Car</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/used-car-loans">Used Car</a></li>
                            </ul>
                        </li>
                        <li class="menu-container-item">
                            <span aria-haspopup="true" class="unselectable">Home Improvement</span>
                            <ul class="m-dropdown" style="width: 260px">
                                <li><a href="/home-improvement-loan">Home Improvement</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/kitchen-remodel-financing">Kitchen & Bath Remodeling</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/landscape-financing">Landscaping</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/solar-financing">Solar</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/swimming-pool-financing">Swimming Pool</a></li>
                            </ul>
                        </li>
                        <li class="menu-container-item">
                            <span aria-haspopup="true" class="unselectable">Recreation</span>
                            <ul class="m-dropdown" style="width: 290px">
                                <li><a href="/aircraft-financing">Aircraft Loans & Refinancing</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/boat-loan">Boat Loans & Refinancing</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/destination-club-financing">Destination Club Financing</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/timeshare-loans">Timeshare Loans & Refinancing</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/motorcycle-loan">Motorcycle Loans & Refinancing</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/rv-loan">RV/Trailer Loans & Refinancing</a></li>
                            </ul>
                        </li>
                        <li class="menu-container-item">
                            <span aria-haspopup="true" class="unselectable">Family Life</span>
                            <ul class="m-dropdown" style="width: 240px;left:-100px;">
                                <li><a href="/adoption-financing">Adoption</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/k12-student-loans">Education (PreK–12 Only)</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/ivf-financing">Fertility</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/medical-financing">Medical</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/wedding-loan">Wedding</a></li>
                            </ul>
                        </li>
                        <li class="menu-container-item">
                            <span aria-haspopup="true" class="unselectable">Debt Consolidation & Other</span>
                            <ul class="m-dropdown" style="width: 288px;left:-125px;">
                                <li><a href="/aircraft-financing">Aircraft Loans & Refinancing</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/debt-consolidation">Credit Card/Debt Consolidation</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/horse-loan">Horse</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/medical-financing">Medical & Dental</a></li>
                                <li class="row-break-item"><span class="row-break">&nbsp;</span></li>
                                <li><a href="/other-loans-refinancing">Other</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Components/Navbar/DefaultMobileNav.cshtml", Model)