@model BaseLightstreamPageModel

<div class="mobile-menu">
    <ul>
        <li class="menu">
            <div class="large-12 medium-12 columns">
                <nav>
                    <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="false" data-slide-speed="0">
                        <li class="accordion-item root-nav-item rates-nav accordion-item">
                            <a href="/rates-loan-calculator">
                                <i class="ls ls-rate ls-pull-left"></i>
                                <span class="title">
                                    Rates
                                </span>
                            </a>
                        </li>
                        <li class="accordion-item root-nav-item loan-purpose-nav" data-accordion-item>
                            <a href="#panel-loan-purpose">
                                <i class="ls ls-loan ls-pull-left"></i>
                                <span class="title">
                                    Loan Purpose
                                </span>
                            </a>
                            <div id="panel-loan-purpose" class="accordion-content" data-tab-content>
                                <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="false" data-slide-speed="0">
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#panel-car"  class="accordion-title ls-pull-left">
                                            <i class="ls ls-car ls-pull-left"></i>
                                            <span class="ls-pull-left title">
                                                Auto
                                            </span>
                                            <i class="fa fa-plus ls-pull-right"></i>
                                            <i class="fa fa-minus ls-pull-right"></i>
                                        </a>
                                        <div id="panel-car" class="accordion-content" data-tab-content>
                                            <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="false" data-slide-speed="0">
                                                <li class="accordion-item">
                                                    <a href="/auto-refinance" class="accordion-title">
                                                        <span class="title">
                                                            Auto Refinancing
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/classic-car-financing" class="accordion-title">
                                                        <span class="title">
                                                            Classic Car
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/new-car-loan" class="accordion-title">
                                                        <span class="title">
                                                            New Car
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/used-car-loans" class="accordion-title">
                                                        <span class="title">
                                                            Used Car
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#panel-home-improvement" class="accordion-title ls-pull-left">
                                            <i class="ls ls-home-improvement ls-pull-left"></i>
                                            <span class="ls-pull-left title">
                                                Home Improvement
                                            </span>
                                            <i class="fa fa-plus ls-pull-right"></i>
                                            <i class="fa fa-minus ls-pull-right"></i>
                                        </a>
                                        <div id="panel-home-improvement" class="accordion-content" data-tab-content>
                                            <ul class="accordion" data-accordion>
                                                <li class="accordion-item">
                                                    <a href="/home-improvement-loan" class="accordion-title">
                                                        <span class="title">
                                                            Home Improvement
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/kitchen-remodel-financing" class="accordion-title">
                                                        <span class="title">
                                                            Kitchen and Bath Remodeling
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/landscape-financing" class="accordion-title">
                                                        <span class="title">
                                                            Landscaping
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/solar-financing" class="accordion-title">
                                                        <span class="title">
                                                            Solar
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/swimming-pool-financing" class="accordion-title">
                                                        <span class="title">
                                                            Swimming Pool
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#panel-recreation" class="accordion-title ls-pull-left">
                                            <i class="ls ls-jet-ski ls-pull-left"></i>
                                            <span class="ls-pull-left  title">
                                                Recreation
                                            </span>
                                            <i class="fa fa-plus ls-pull-right"></i>
                                            <i class="fa fa-minus ls-pull-right"></i>
                                        </a>
                                        <div id="panel-recreation" class="accordion-content" data-tab-content>
                                            <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="false" data-slide-speed="0">
                                                <li class="accordion-item">
                                                    <a href="/aircraft-financing" class="accordion-title">
                                                        <span class="title">
                                                            Aircraft Loans &amp; Refinancing
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/boat-loan" class="accordion-title">
                                                        <span class="title">
                                                            Boat Loans &amp; Refinancing
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/destination-club-financing" class="accordion-title">
                                                        <span class="title">
                                                            Fractional Loans &amp; Refinancing
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/timeshare-loans" class="accordion-title">
                                                        <span class="title">
                                                            Timeshare Loans &amp; Refinancing
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/motorcycle-loan" class="accordion-title">
                                                        <span class="title">
                                                            Motorcycle Loans &amp; Refinancing
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/rv-loan" class="accordion-title">
                                                        <span class="title">
                                                            RV/Trailer Loans &amp; Refinancing
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#panel-family-life" class="accordion-title ls-pull-left">
                                            <i class="ls ls-family ls-pull-left"></i>
                                            <span class="ls-pull-left  title">
                                                Family Life
                                            </span>
                                            <i class="fa fa-plus ls-pull-right"></i>
                                            <i class="fa fa-minus ls-pull-right"></i>
                                        </a>
                                        <div id="panel-family-life" class="accordion-content" data-tab-content>
                                            <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="false" data-slide-speed="0">
                                                <li class="accordion-item">
                                                    <a href="/adoption-financing">
                                                        <span class="title">
                                                            Adoption
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/k12-student-loans" class="accordion-title">
                                                        <span class="title">
                                                            Education (PreK–12 Only)
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/ivf-financing" class="accordion-title">
                                                        <span class="title">
                                                            Fertility
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/medical-financing" class="accordion-title">
                                                        <span class="title">
                                                            Medical
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/wedding-loan" class="accordion-title">
                                                        <span class="title">
                                                            Wedding
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="accordion-item" data-accordion-item>
                                        <a href="#panel-almost-everything-else" class="accordion-title ls-pull-left">
                                            <i class="ls ls-stuffed-wallet ls-pull-left"></i>
                                            <span class="ls-pull-left  title">
                                                Debt Consolidation & Other
                                            </span>
                                            <i class="fa fa-plus ls-pull-right"></i>
                                            <i class="fa fa-minus ls-pull-right"></i>
                                        </a>
                                        <div id="panel-almost-everything-else" class="accordion-content" data-tab-content>
                                            <ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="false" data-slide-speed="0">
                                                <li class="accordion-item">
                                                    <a href="/aircraft-financing" class="accordion-title">
                                                        <span class="title">
                                                            Aircraft Loans &amp; Refinancing
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/debt-consolidation" class="accordion-title">
                                                        <span class="title">
                                                            Credit/Card Consolidation
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/horse-loan" class="accordion-title">
                                                        <span class="title">
                                                            Horse
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/medical-financing" class="accordion-title">
                                                        <span class="title">
                                                            Medical &amp; Dental
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="accordion-item">
                                                    <a href="/other-loans-refinancing" class="accordion-title">
                                                        <span class="title">
                                                            Other
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="accordion-item root-nav-item about-nav">
                            <a href="/who-we-are">
                                <i class="ls ls-lightstream ls-pull-left"></i>
                                <span class="title">
                                    About
                                </span>
                            </a>
                        </li>
                        <li class="accordion-item root-nav-item questions-nav">
                            <a href="/contact-us">
                                <i class="ls ls-comment ls-pull-left"></i>
                                <span class="title">
                                    Questions
                                </span>
                            </a>
                        </li>
                        <li class="accordion-item root-nav-item security-nav">
                            <a href="/privacy-security">
                                <i class="ls ls-app-lock ls-pull-left"></i>
                                <span class="title">
                                    Security
                                </span>
                            </a>
                        </li>
                        <li class="accordion-item">
                            <div class="social">
                                <ul>
                                    <li><a href="@Model.BloggerURL" target="_blank" data-jump="true" data-tracking="e-Journal" aria-label="LightStream Blog"><i class="ls ls-blogger ls-1x"></i></a></li>
                                    <li><a href="@Model.YoutubeURL" target="_blank" data-jump="true" data-tracking="YouTube" aria-label="LightStream YouTube"><i class="ls ls-youtube ls-1x"></i></a></li>
                                    <li><a href="@Model.FacebookURL" target="_blank" data-jump="true" data-tracking="Facebook" aria-label="LightStream Facebook"><i class="ls ls-facebook ls-1x"></i></a></li>
                                    <li><a href="@Model.TwitterURL" target="_blank" data-jump="true" data-tracking="Twitter" aria-label="LightStream Twitter"><i class="ls ls-twitter ls-1x"></i></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </li>
    </ul>
</div>