<?xml version="1.0"?>
<configuration>

	<appSettings>
  <add key="IsInMaintenanceMode" value="False" />
  <add key="IsTemporarilyUnavailable" value="False"/>
   <!-- Message displayed on the sign in page, once maintenance mode is enabled -->
  <add key="SignInMaintenanceMessage" value="Due to scheduled maintenance, our customer service area will be unavailable until approximately 11:00 p.m., Pacific time. We apologize for any inconvenience.  &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;LightStream&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;" />
  <add key="ScheduledMaintenanceStartTime" value="" />
  <!-- Message displayed before maintenance starts, on the sign in page -->
  <add key="ScheduledMaintenanceMessage" value="Due to scheduled maintenance, our customer service area will be unavailable starting at {0}, Pacific time. We apologize for any inconvenience." />
  <!-- displayed if an error is detected in global asax if we're in maintenance mode -->
  <add key="TemporarilyUnavailableMessage" value="Our customer service area is temporarily unavailable. Please try to sign in later. We apologize for any inconvenience. &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;LightStream&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;" />
 </appSettings>
  
</configuration>
