body {
}
.ui-datepicker-prev {
    display:none;
}
.ui-datepicker-next {
    display:none;
}

.datepicker .ui-datepicker-today a.ui-state-highlight {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(/content/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555;
}
.datepicker-example.ach a.ui-state-default,.datepicker .ach a.ui-state-default { 
    border: 1px solid #b0b0b0; 
    background: #FFE6BF url(/content/images/ui-bg_glass_75_FFE6BF_1x400.png) 50% 50% repeat-x;
}
.datepicker-example.wire a.ui-state-default, .datepicker .wire a.ui-state-default { 
    border: 1px solid #b0b0b0;
    background:#CCE5FF url(/content/images/ui-bg_glass_75_CCE5FF_1x400.png) 50% 50% repeat-x;
}
.datepicker a.ui-state-active, .datepicker .wire a.ui-state-active, .datepicker .ach a.ui-state-active  { 
    background:#53df46 url(/content/images/ui-bg_glass_75_53df46_1x400.png) 50% 50% repeat-x;
}
.datepicker-example.current a.ui-state-default, .datepicker .ui-state-disabled.current span.ui-state-default, .datepicker td.current a { 
    border:1px solid black;
    font-weight:bold;
}
.datepicker .ui-state-disabled.current  { 
    opacity:0.95;
}
.datepicker-example.current a.ui-state-default, .datepicker .ui-state-disabled.current span.ui-state-default  { 
    border:1px solid black;
    font-weight:bold;
}
.datepicker-example {
    margin:0.5rem;
}
.datepicker-example a.ui-state-default {
    display:inline-block;
    width:20px;
}
span + input[type=radio] {
    margin-left:1em;
}
input[type=checkbox].ng-invalid.ng-dirty + span, form.ng-submitted input[type=checkbox].ng-invalid + span {
    color:red;
}

.tabs-content > .content {
    float:none;
}

@media all and (max-width: 480px) {
  /* table.account-history.records td:nth-of-type(1):before { content: 'Date:' } */
  table.account-history.records td:nth-of-type(2):before { content: 'Starting Principal Balance:' }
  table.account-history.records td:nth-of-type(3):before { content: 'Payment Amount:' }
  table.account-history.records td:nth-of-type(4):before { content: 'Allocated to Interest:' }
  table.account-history.records td:nth-of-type(5):before { content: 'Allocated to Principal:' }
  table.account-history.records td:nth-of-type(6):before { content: 'Ending Principal Balance:' }
}

body.account ul.accordian {
    list-style:none;
}

body.account ul.accordian p.note {
    width: 30%;
    margin-left: 1em;
    float: left;
    padding:16px 16px;
    font-size:14px;
}

@media all and (max-width: 800px) {
    body.account ul.accordian p.note {
        margin-left: 1em;
        margin-right: 1em;
        width:97%;
        float: left;
    }
}

/* Tabs */

ul.tabs {
  border-bottom: 4px solid #00467e;
  margin: 0;
  padding: 0;
  border-top-style: none;
}

ul.tabs li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  position:inherit;
}

ul.tabs li:last-child {
  margin-right: 0;
}

ul.tabs li a {
  background: #ebebeb;
  color: #888;
  display: block;
  font-family: 'proxima-nova', arial, helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
}

ul.tabs li.active a {
  background: #00467e;
  color: #fff;
}
.tabs-content {
    margin-bottom:0;
}

/* Tabs - Responsiveness */
@media all and (max-width: 870px) {

			  ul.tabs {
			    border-bottom: 2px solid #00467e;
			  }
			
			  ul.tabs dd {
			    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
			    float: none;
			    margin: 0;
			  }
			
			  ul.tabs dd:last-child {
			    border: 0;
			  }
			
			  ul.tabs dd a {
			    height: 36px;
			    line-height: 36px;
			  }
}

@media screen and (min-width: 726px) {
    body.account div.main.row {
        padding-top: 0px;
    }
}
body.account div.main {
    margin-bottom:2em;
}
body.account div.supporting {
    margin-bottom:2em;
}

body.account .intro {
    background:#d9eeff;
    margin-bottom:1rem;
}

div.offset form .formwarning p {
    line-height:normal;
    padding-top:0.25em;
}
#AmortizationScheduleModal {
    min-width:700px;
}

.account-services-blue-button {
    background-color: #00467e;
    white-space:nowrap;
    font-size: small;
    padding: 1px 6px 1px 6px;
    font-weight: bold;
    border-radius: 2px;
    text-decoration: none;
    color: white;
}

.account-services-blue-button:hover{
    color: white;
    text-decoration:none;
}

.account-services-blue-button.large {
    font-size:medium;
    padding:0.5em 1em;
    margin-top:1em;
    line-height: 4em;
}

div.tab a.desc.account-services-blue-button {
    display:inline;
    color:white;
}

div.tab a.btn-darkyellow {
    display:inline;
}

body.account .customer-note {
    font-size: larger;
    color: red;
    font-weight: bold;
    margin-top: 0.875em;
}
div.boxed h3 {
    font-size:16px;
}
@media all and (max-width: 960px) {
    div.tab a.btn-darkyellow, div.tab a.desc.account-services-blue-button {
        width:150px;
        white-space:normal;
        display:inline-block;
    }
}
body.account #VerificationList .panel {
    margin-left:0.9375rem;
    margin-right:0.9375rem;
}

.rate-range-small {
    display: none;
}

/* rate table */
@media all and (min-width: 380px) {
    .rate-range-small .rate-range-amount {
        padding-left: 20%;
    }
}

@media all and (max-width: 480px) {

    .rate-range-small {
        display: block;
    }

    .medium-12.table {
        margin-bottom: 24px;
        padding: 0;
    }

    table.records tr td:before {
        top: 14px;
    }

    table.records tr td {
        padding-top: 14px;
        padding-bottom: 14px;
        min-height: 50px;
    }

    table.loanrates tr:nth-of-type(even) {
        background: #ffffff;
    }

    table.records td.first {
        position: relative;
    }

        table.records td.first:before {
            content: "\f0dd";
            display: block;
            float: right;
            font-family: FontAwesome;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            position: absolute;
            right: 18px;
            text-align: right;
            top: 9px;
            width: auto;
        }

    table.records tr.expanded td.first:before {
        content: "\f0de";
        top: 17px;
    }
}


@media all and (min-width:481px) and (max-width:500px) {
    table.records td.first span[itemprop="amount"] {
        font-size: 13px;
    }

    .rate-range-large span {
        font-size: 13px;
    }
}