@charset "UTF-8";

@import 'partials//global-variables';
@import 'partials/_colors.scss';
@import 'partials/_icons.scss';
@import 'partials/_buttons.scss';
@import "partials/_mixins.scss";

.show {
    display: block !important;
}

.remove {
    display: none !important;
}

.affix {
    z-index: 1002;
    position: fixed;
    right: 0;
    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-perspective: 1000;
    -moz-transform: translateZ(0);
    -moz-transform: translate3d(0, 0, 0);
    -moz-backface-visibility: hidden;
    -ms-perspective: 1000;
    -ms-transform: translateZ(0);
    -ms-transform: translate3d(0, 0, 0);
    -ms-backface-visibility: hidden;
    -o-transform: translateZ(0);
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

.backdrop {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background-color: #000;
    opacity: .5;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 2045px;
    -webkit-perspective: 1000;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-perspective: 1000;
    -moz-transform: translateZ(0);
    -moz-transform: translate3d(0, 0, 0);
    -moz-backface-visibility: hidden;
    -ms-perspective: 1000;
    -ms-transform: translateZ(0);
    -ms-transform: translate3d(0, 0, 0);
    -ms-backface-visibility: hidden;
    -o-transform: translateZ(0);
    transform: translateZ(0);
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

#teststyle {
    color: black;
}



body.rates time {
    font-size: 11px;
}

@media screen and (min-width: 769px) {
    body.rates time {
        font-size: 16px;
    }
}

select {
    font-size: 0.875rem;
}

/*------------------------------------*\
  BASE MEDIA QUERY
\*------------------------------------*/

@media screen and (min-width: 0) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/
    .sign-in header {
        margin-bottom: 30px !important;
        min-height: 30px !important;
    }

    header {
        margin-bottom: 0px !important;
    }

    /*logo*/

    header .branding a {
        background-repeat: no-repeat;
    }

    /*banner*/

    header img.banner {
        min-width: 840px;
        top: 0;
        margin-top: 40px;
        margin-bottom: 0;
    }

    /*header bar*/

    header .headerbar h1 a {
        background: no-repeat;
    }

    /*headline*/

    header .headline {
        padding-top: 18px !important;
    }

    header .headline.show-for-small-only,
    .landing-page header .headline {
        margin-top: 40px !important;
    }

    header .headline.show-for-small-only h2,
    .landing-page header .headline h2 {
        margin: 0px !important;
        padding: 10px 0 !important;
    }

    body.home.home-page #header .headline h2 {
        text-align: left;
    }

    header .headline.hide-for-small-only {
        top: 45px !important;
    }

    header .headline.hide-for-small-only h2 {
        margin: 0px 0 10px !important;
        padding: 10px 0;
    }

    /*--------NAV BAR--------*/

    /*desktop*/

    header .desktop-nav {
        display: none;
        z-index: 1012;
    }

    header.affixed .desktop-nav .headerbar {
        padding-bottom: 5px;
    }

    /*mobile*/
    .mobile-nav {
        display: block;
        background: white;
    }

    .mobile-nav .nav-bar {
        z-index: 1002;
        min-width: 317px;
        height: 50px;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
    }

    .mobile-nav .nav-bar ul.pull-left {
        padding-top: 0.7375rem;
        padding-bottom: 0.4375rem;
        padding-right: 0;
        padding-left: 0.4375rem;
    }

    .mobile-nav .nav-bar ul.pull-right {
        padding-top: 0.7375rem;
        padding-bottom: 0.4375rem;
        padding-right: 0.4375rem;
        padding-left: 0;
    }

    .mobile-nav .nav-bar li {
        float: left;
    }

    .mobile-nav .nav-bar li:first-child {
        float: left;
    }

    .mobile-nav .nav-bar li i.fa.fa-bars,
    .mobile-nav .nav-bar li i.fa.fa-times {
        min-width: 19px;
    }

    .mobile-nav .nav-bar li i.fa.fa-bars {
        font-size: 1.4rem;
        color: #0c477c;
    }

    .mobile-nav .nav-bar li i.fa.fa-times {
        font-size: 1.4rem;
        color: #0c477c;
    }

    .mobile-nav .nav-bar li.logo {
        padding-left: 1.125rem;
    }

    .mobile-nav .nav-bar li.logo h2 {
        width: 102px;
        height: 19px;
        padding: 0;
        display: block;
    }

    .mobile-nav .nav-bar li.logo a {
        width: 102px;
        height: 19px;
        padding: 0;
        display: block;
        background-size: contain;
        font-size: 24px;
        font-weight: 600;
    }

    .apply .mobile-nav .nav-bar li.logo a {
        cursor: initial;
    }

    .mobile-nav .nav-bar li.logo a i {
        font-size: 24px;
        font-weight: 600;
    }

    .mobile-nav .nav-bar li a.btn-round {
        font-family: 'proxima-nova', arial, helvetica, sans-serif;
        text-align: center;
        text-decoration: none;
        line-height: 1.5;
        white-space: nowrap;
        display: inline-block;
        position: relative;
        padding-top: 0.188em;
        padding-right: 0.1rem;
        padding-bottom: 0.188em;
        padding-left: 0.10rem;
        font-size: 14px;
        font-weight: 900;
        border-radius: 5px;
        width: 6rem;
        color: #16436c;
    }

    .mobile-nav .nav-bar li.apply-now,
    .mobile-nav .nav-bar li.sign-in {
        margin-top: -2px !important;
    }

    .mobile-nav .nav-bar li.apply-now a {
        background-color: #e8bf0b;
    }

    .mobile-nav .nav-bar li.sign-in {
        padding-left: .5rem;
    }

    .mobile-nav .nav-bar li.sign-in a {
        background-color: #daedfb;
        color: #16436c;
    }
    /*--------MULTIPLE PAGES--------*/

    .landing-page #header .desktop-nav .mainmenu {
        padding-top: 14px;
    }

    .home-page .headline.show-for-small-only,
    .landing-page .headline.show-for-small-only {
        margin-left: 15px !important;
        padding: 20px 10px 10px 10px !important;
    }

    .home-page .rates.show-for-small-only,
    .landing-page .rates.show-for-small-only {
        background-color: #d6ebff;
    }

    .home-page .rates.show-for-small-only .rates-container,
    .landing-page .rates.show-for-small-only .rates-container {
        text-align: left !important;
    }

    .home-page .rates.show-for-small-only .rates-container:first-child,
    .landing-page .rates.show-for-small-only .rates-container:first-child {
        text-align: left;
        margin-left: 15px;
        margin-top: 20px;
    }

    .home-page .rates.show-for-small-only .rates-container:last-child,
    .landing-page .rates.show-for-small-only .rates-container:last-child {
        background-color: #51575c;
        right: 22px;
        text-align: center !important;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-right: 22px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 135px;
    }

    .home-page .rates.show-for-small-only .rates-container:last-child a.button,
    .landing-page .rates.show-for-small-only .rates-container:last-child a.button {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        text-align: center;
        width: 124px !important;
        font-size: 14px !important;
        padding: 5px;
        width: 100% !important;
    }

    .home-page .rates.show-for-small-only .rates-container:last-child a.rates-link,
    .landing-page .rates.show-for-small-only .rates-container:last-child a.rates-link {
        position: relative !important;
        top: 0 !important;
        width: 100%;
        display: block;
        left: 0 !important;
        border: 1px solid white;
        margin-top: 6px;
        color: white !important;
    }

    .home-page .rates.show-for-small-only .rates-container:last-child a.rate-match,
    .landing-page .rates.show-for-small-only .rates-container:last-child a.rate-match {
        position: relative;
        top: 0;
        width: 100%;
        display: block;
    }

    .home-page .rates.show-for-small-only .rates-container .rates-percentage,
    .landing-page .rates.show-for-small-only .rates-container .rates-percentage {
        font-size: 3em;
        font-weight: 800;
        line-height: 45px;
        color: #1f5587;
    }

    .home-page .rates.show-for-small-only .rates-container .rates-details,
    .landing-page .rates.show-for-small-only .rates-container .rates-details {
        font-size: 1em;
        font-weight: 700;
        padding: 0;
        color: #1f5587;
        line-height: 1.3;
    }

    .home-page .rates.show-for-small-only .rates-container .rates-details.discounted-rate,
    .landing-page .rates.show-for-small-only .rates-container .rates-details.discounted-rate {
        font-size: 14px;
    }


    /*--------SUB PAGES--------*/

    .privacy header .headline,
    .questions header .headline,
    .about header .headline,
    .rate-calculator header .headline {
        margin-top: 40px;
    }

    /*--------LANDING PAGES--------*/

    /*banner*/

    .landing-page header img.banner {
        min-width: 0;
    }

    /*headline*/

    .landing-page header .headline {
        margin-top: 40px !important;
    }

    .landing-page header .headline h2 {
        margin: 0px;
    }

    /*--------NO HEADER PAGES--------*/

    .landing-page.no-header header {
        min-height: 0;
    }

    .landing-page.no-header header img.banner {
        min-width: 0 !important;
    }

    .landing-page.no-header header .headline {
        margin-top: 0 !important;
    }

    /*--------RESPONSIVE REDESIGN V2 PAGES--------*/

    .responsive-redesign-v2-page header .headline {
        margin-top: 40px !important;
        margin-left: 0 !important;
    }

    .responsive-redesign-v2-page header .headline h2 {
        margin: 0px;
    }

    .responsive-redesign-v2-page .mobile-nav .nav-bar li.logo a {
        font-size: 16px;
    }

    /*--------RESPONSIVE PARTNER OPTION 1 PAGE--------*/
    .landing-page.responsive-partner-option-1-page a:not([href]) {
        cursor: initial;
    }

    .landing-page.responsive-partner-option-1-page.menu-opened header > div.partner-logo {
        display: none;
    }

    .landing-page.responsive-partner-option-1-page header .partner-logo {
        margin-top: 30px;
        float: right;
    }

    .landing-page.responsive-partner-option-1-page .mobile-menu .menu > div {
        padding-top: 0;
    }

    /*--------PRE FUNDING page--------*/

    .pre-funding section.msg-section {
        margin-top: 40px;
    }
/*------------------------------------*\
  MAIN PAGE
\*------------------------------------*/

    div.main.row {
        padding-top: 40px;
    }

    section.style-guide.row {
        padding-top: 40px;
    }

    /* Three media queries for custom pages in BackOffice */

    @media only screen and (max-width: 641px) {
        .custom-copy {
            padding-top: 40px;
        }
    }

    @media only screen and (max-width: 725px) {
        img.banner {
            margin-top: 40px;
        }

        .row.custom-page {
            padding-top: 40px;
        }
    }

    @media only screen and (min-width: 726px) {
        img.banner {
            margin-top: 90px;
        }

        .row.custom-page {
            padding-top: 90px;
        }
    }


    /*------------------------------------*\
  LEGAL COPY
\*------------------------------------*/


    /*------------------------------------*\
 RATE CALCULATOR
\*------------------------------------*/

    body.responsive-redesign-v1-page .rate-calculator #aprRow,
    body.responsive-partner-option-1-page .rate-calculator #aprRow {
        background: #d9eeff;
    }

    body.responsive-redesign-v1-page .rate-calculator.show-for-small-only #aprRow time,
    body.responsive-partner-option-1-page .rate-calculator.show-for-small-only #aprRow time {
        padding-top: 10px;
    }

    body.responsive-redesign-v1-page .rate-calculator.show-for-small-only div.row.ruled.panel,
    body.responsive-partner-option-1-page .rate-calculator.show-for-small-only div.row.ruled.panel {
        border: none;
    }

    /*------------------------------------*\
 HOME LOAN FEATURES
\*------------------------------------*/

    body.home-page section.homefeatures.show-for-small-only .accordion,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion {
        padding: 0;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        border: solid 1px gray;
        box-shadow: 1px 1px 5px #888888;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li a img,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li a img,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li a img {
        width: 50px;
        height: 50px;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander {
        color: #1f5587;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-plus,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-plus,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-plus {
        margin-top: 0.8em;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-minus,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-minus,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-minus {
        margin-top: 0.6em;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-minus,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-minus,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li a div.ls-expander.ls-minus {
        display: none;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li.active a div.ls-expander.ls-plus,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li.active a div.ls-expander.ls-plus,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li.active a div.ls-expander.ls-plus {
        display: none;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li.active a div.ls-expander.ls-minus,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li.active a div.ls-expander.ls-minus,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li.active a div.ls-expander.ls-minus {
        display: block;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion .title,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion .title,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion .title {
        display: block;
        padding: 9px 0 0px 20px !important;
        color: #1f5587;
        font-size: 14px;
        font-weight: 600;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion a[href^="#"],
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion a[href^="#"],
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion a[href^="#"] {
        width: 100%;
        padding: 5px !important;
        background: white;
        border-bottom: 1px solid gray;
        display: block;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion .content p,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion .content p,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion .content p {
        line-height: 13px;
        font-size: 12px;
        font-weight: 600;
        color: gray;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li {
        border-bottom: 1px solid gray;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion li.active a[href^="#"],
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion li.active a[href^="#"],
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion li.active a[href^="#"] {
        border-bottom: none;
    }

    body.home-page section.homefeatures.show-for-small-only .accordion .accordion-item .close-reveal-modal,
    body.responsive-redesign-v1-page section.homefeatures.show-for-small-only .accordion .accordion-item .close-reveal-modal,
    body.responsive-partner-option-1-page section.homefeatures.show-for-small-only .accordion .accordion-item .close-reveal-modal {
        display: none;
    }

    /*------------------------------------*\
 TESTIMONIALS
\*------------------------------------*/

    body:not(.home-page):not(.landing-page):not(.responsive-partner-option-1-page) section.featured_testimonial.show-for-small-only {
        display: none;
    }

    body.home-page section.featured_testimonial.show-for-small-only h2,
    body.landing-page section.featured_testimonial.show-for-small-only h2,
    body.responsive-partner-option-1-page section.featured_testimonial.show-for-small-only h2 {
        font-weight: bolder;
        font-size: 15px;
        padding: 0;
    }

    body.home-page section.featured_testimonial.show-for-small-only blockquote,
    body.landing-page section.featured_testimonial.show-for-small-only blockquote,
    body.responsive-partner-option-1-page section.featured_testimonial.show-for-small-only blockquote {
        padding: 0;
        font-size: 12px;
        color: #a8a8a8;
    }

    body.home-page section.featured_testimonial.show-for-small-only div div:last-child div,
    body.landing-page section.featured_testimonial.show-for-small-only div div:last-child div,
    body.responsive-partner-option-1-page section.featured_testimonial.show-for-small-only div div:last-child div {
        text-align: right;
    }

    body.home-page section.featured_testimonial.show-for-small-only i,
    body.landing-page section.featured_testimonial.show-for-small-only i,
    body.responsive-partner-option-1-page section.featured_testimonial.show-for-small-only i {
        color: #00467e;
    }

    /*------------------------------------*\
 General Ad Mobile
\*------------------------------------*/

    body.home.landing-page.responsive-partner-option-1-page .general-ad-mobile,
    body.home.landing-page.responsive-redesign-v1-page .general-ad-mobile {
        background: url(/content/images/sky.jpg) center;
        background-size: cover;
        text-align: center;
    }

    body.home.landing-page.responsive-partner-option-1-page .general-ad-mobile p,
    body.home.landing-page.responsive-redesign-v1-page .general-ad-mobile p {
        font-weight: bold;
        font-size: 1.7em;
        line-height: 22px;
        color: #fff;
        padding-top: .7em;
    }

    body.home.landing-page.responsive-partner-option-1-page .general-ad-mobile a.button,
    body.home.landing-page.responsive-redesign-v1-page .general-ad-mobile a.button {
        font-size: 1.3em;
        max-height: 35px;
        padding: 5px 25px !important;
    }

    /*------------------------------------*\
 HOME LOAN USES
\*------------------------------------*/

    /*update from /\ to + and \/ to - */

    body.home-page section.homeloanuses ul ul li.title:before,
    body.landing-page section.homeloanuses ul ul li.title:before,
    body.accessibility-page section.homeloanuses ul ul li.title:before {
        content: "+";
        padding: 5px 0;
        font-size: 16px;
    }

    body.home-page section.homeloanuses ul ul.expanded li.title:before,
    body.landing-page section.homeloanuses ul ul.expanded li.title:before,
    body.accessibility-page section.homeloanuses ul ul.expanded li.title:before {
        content: "\2013";
        padding: 0;
        top: 0.4em;
    }

    /*------------------------------------*\
  FOOTER
\*------------------------------------*/
    /*
      PBI-41964: They want the new blue footer social icons to show up on mobile. 
      It use to be that new icons only showed up on desktop. This change should 
      only apply to the home page. The rest of the the pages should act as usual, 
      shold old social icons on mobile, show new icons on desktop.
    */
    body.home-page footer .social.show-for-large-up {
        display: block !important;
    }

    body.home-page footer .social.hide-for-large-up {
        display: none !important;
    }
}

/*------------------------------------*\
  EXPANDERS
\*------------------------------------*/
@media screen and (max-width: 480px) {
    body.responsive-redesign-v1-page .rate-calculator table.records tr td.first:before,
    body.responsive-partner-option-1-page .rate-calculator table.records tr td.first:before {
        content: "+";
    }

    body.responsive-redesign-v1-page .rate-calculator table.records tr.expanded td.first:before,
    body.responsive-partner-option-1-page .rate-calculator table.records tr.expanded td.first:before {
        content: "\2013";
        top: 11px;
    }
}

/*------------------------------------*\
  IPHONE 4 AND ABOVE
\*------------------------------------*/

@media screen and (min-device-width : 480px) and (orientation : landscape) {

    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    /*--------NAV BAR--------*/

    /*mobile*/

    .mobile-nav .nav-bar li.logo {
        padding-left: 1.25rem;
    }

    .mobile-nav .nav-bar li.sign-in {
        padding-left: .5rem;
    }

    /*------------------------------------*\
  MOBILE MENU
\*------------------------------------*/

    /*accordion*/

    /*second level menu*/

    .mobile-menu .accordion .accordion {
        margin-right: 120px !important;
    }
}

/*------------------------------------*\
  IPHONE 5 AND ABOVE
\*------------------------------------*/

@media screen and (min-device-width : 568px) and (orientation : landscape) {

    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    /*--------NAV BAR--------*/

    /*mobile*/

    .mobile-nav .nav-bar li.logo {
        padding-left: .5rem;
    }

    /*second level menu*/

    .mobile-menu .accordion .accordion {
        margin-right: 115px !important;
    }
}

/*------------------------------------*\
  IPHONE 6 AND ABOVE
\*------------------------------------*/

@media only screen and (min-width: 375px) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    header img.banner {
        margin-top: 0;
    }

    /*--------NAV BAR--------*/

    /*mobile*/

    .mobile-nav .nav-bar li.logo {
        padding-left: 1.3125rem;
    }

    .mobile-nav .nav-bar li.sign-in {
        padding-left: .5rem;
    }


    /*second level menu*/

    .mobile-menu .accordion .accordion {
        margin-right: 10px !important;
    }

    body.home.home-page #header .headline h2 {
        text-align: left;
    }

    /*--------LANDING PAGES--------*/

    /*banner*/
    .landing-page header img.banner {
        min-width: 0 !important;
    }
}



@media screen and (min-device-width : 667px) and (orientation : landscape) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    /*--------NAV BAR--------*/

    /*mobile*/

    .mobile-nav .nav-bar li.logo {
        padding-left: 1.25rem;
    }



    /*------------------------------------*\
  Mobile Menu
\*------------------------------------*/

    /*accordion*/

    /*second level menu*/

    .mobile-menu .accordion .accordion {
        margin-right: 155px !important;
    }
}

/*------------------------------------*\
  IPHONE 6+ AND ABOVE
\*------------------------------------*/

@media only screen and (min-device-width: 414px) and (orientation : portrait) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    /*--------NAV BAR--------*/

    /*mobile*/
    .mobile-nav .nav-bar li.logo {
        padding-left: 0.3125rem;
    }

    .mobile-nav .nav-bar li.sign-in {
        padding-left: .5rem;
    }

    /*------------------------------------*\
  Mobile Menu
\*------------------------------------*/

    /*accordion*/

    /*second level menu*/

    .mobile-menu .accordion .accordion {
        margin-right: 30px !important;
    }
}

@media only screen and (min-device-width: 736px) and (orientation : landscape) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    /*--------NAV BAR--------*/

    /*mobile*/

    .mobile-nav .nav-bar li.logo {
        padding-left: 1.4375rem;
    }

    .mobile-nav .nav-bar li.sign-in {
        padding-left: .5rem;
    }

    /*desktop*/

    header .desktop-nav nav > ul:first-child li {
        margin-right: 5px !important;
    }
}

/*------------------------------------*\
  IN BETWEEN FIXES
\*------------------------------------*/

@media screen and (min-device-width : 481px) {
    /*------------------------------------*\
 RATE CALCULATOR
\*------------------------------------*/

    /*.landing-page .rate-calculator table.records tr td.first:before {
        content: none;
    }

    .landing-page .rate-calculator table.records tr.expanded td.first:before {
        content: none;
    }*/
}

@include mq('tablet-small') {

    /*------------------------------------*\
    HOME LOAN USES
    \*------------------------------------*/
    /*update from /\ to + and \/ to - */
    body.home-page section.homeloanuses ul ul li.title:before,
    body.landing-page section.homeloanuses ul ul li.title:before,
    body.accessibility-page section.homeloanuses ul ul li.title:before {
        display: none;
    }

    body.home-page section.homeloanuses ul ul.expanded li.title:before,
    body.landing-page section.homeloanuses ul ul.expanded li.title:before,
    body.accessibility-page section.homeloanuses ul ul.expanded li.title:before {
        display: none;
    }
}

@media screen and (min-width: 643px) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    header {
        margin-bottom: 0px;
    }

    /*banner*/
    header img.banner {
        margin-top: 0;
        min-width: 0;
        top: 0 !important;
        margin-bottom: 0 !important;
    }

    /*headline*/
    header .headline {
        margin-top: 0;
    }

    header .headline.hide-for-small-only h2 {
        margin: 0;
    }

    /*--------SUB PAGES--------*/

    .privacy header .headline,
    .questions header .headline,
    .about header .headline,
    .rate-calculator header .headline {
        margin-top: 0;
    }

    /*--------LANDING PAGES--------*/

    /*header*/
    .landing-page header img.banner {
        min-width: 805px !important;
    }

    /*headline*/

    .landing-page header .headline {
        margin-top: 0 !important;
        top: 50px;
    }

    .landing-page header .headline h2 {
        margin-top: 0 !important;
        line-height: .8 !important;
    }

    /*--------RESPONSIVE PARTNER OPTION 1 PAGE--------*/

    /*banner*/

    .landing-page.responsive-partner-option-1-page img.banner {
        min-width: 0 !important;
    }

    /*headline*/

    .landing-page.responsive-partner-option-1-page .headline h2 {
        line-height: .7 !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }

    /*--------RESPONSIVE REDESIGN V2 PAGES--------*/

    .responsive-redesign-v2-page header .headline {
        margin-top: 0 !important;
    }
}

@media screen and (min-width: 726px) {
    /*------------------------------------*\
  GENERIC
\*------------------------------------*/

    .backdrop {
        display: none !important;
    }

    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    /*banner*/

    header img.banner,
    .landing-page header img.banner {
        min-width: 1190px !important;
    }

    /*headline*/

    .sign-in header {
        min-height: 83px !important;
    }

    header .headline,
    header .headline.hide-for-small-only,
    .landing-page header .headline {
        top: 100px !important;
    }

    .landing-page.no-header header .headline {
        top: 20px !important;
    }



    /*--------NAV BAR--------*/

    /*desktop*/

    header .desktop-nav {
        display: block !important;
    }

    /*mobile*/

    .mobile-nav {
        display: none !important;
    }

    /*--------RESPONSIVE PARTNER OPTION 1 PAGE--------*/

    /*mobile*/

    /*partner logo*/

    .landing-page.responsive-partner-option-1-page header .partner-logo {
        display: none;
    }

    /*------------------------------------*\
  MOBILE MENU
\*------------------------------------*/

    .mobile-menu {
        display: none !important;
    }

    /*------------------------------------*\
  MAIN PAGE
\*------------------------------------*/

    div.main.row {
        padding-top: 119px;
    }

    section.style-guide.row {
        padding-top: 119px;
    }

    /*------------------------------------*\
  PREFUNDING PAGE
\*------------------------------------*/

    .pre-funding section.msg-section {
        margin-top: 80px;
    }
}

@media screen and (min-width: 729px) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    header {
        height: auto;
        margin-bottom: 0px !important;
    }

    /*banner*/

    header img.banner {
        min-width: 1090px !important;
    }

    /*--------LANDING PAGES--------*/

    /*--------RESPONSIVE PARTNER OPTION 1 PAGE--------*/
    /*banner*/

    .responsive-redesign-v2-page header img.banner {
        min-width: 0 !important;
    }
}

/*------------------------------------*\
  IPAD AND ABOVE
\*------------------------------------*/
@media screen and (min-width: 768px) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    .account header .headline {
        left: 0 !important;
    }

    /*banner*/

    header img.banner {
        margin-top: 0 !important;
        min-width: 1190px !important;
    }

    /*headline*/

    header .headline.hide-for-small-only {
        top: 105px !important;
    }

    header .desktop-nav nav > ul:first-child li {
        margin-right: 10px !important;
    }

    /*--------SUB PAGES--------*/

    .privacy header .headline,
    .questions header .headline,
    .about header .headline,
    .rate-calculator header .headline {
        left: 0 !important;
    }

    /*--------LANDING PAGES--------*/

    /*header*/

    .landing-page header {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    /*--------NO HEADER PAGES--------*/

    /*headline*/

    .no-header header .headline {
        top: 20px !important;
        margin-top: 0px !important;
    }

    .no-header header .headline h2 {
        margin: 0px 0 15px !important;
    }
}

@media screen and (min-width: 824px) {
    #header > div.large-12.desktop-nav.columns.navbar.affix > div > div.medium-10.columns.navItems > nav > ul:nth-child(1) > li:nth-child(7) {
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 1000px) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    /*--------NAV BAR--------*/

    #header > div.large-12.desktop-nav.columns.navbar.affix > div > div.medium-10.columns.navItems > nav > ul:nth-child(1) > li:nth-child(7) {
        margin-right: 0 !important;
    }
}

/*------------------------------------*\
  IPAD PRO AND ABOVE
\*------------------------------------*/
@media screen and (min-width: 1001px) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/
    /*headline*/

    header .headline {
        left: 0 !important;
    }

    header .headline.hide-for-small-only h2 {
        margin: 15px 0 15px !important;
        padding: 0;
    }

    
    header img.banner, .landing-page header img.banner {
        min-width: 1490px !important;
    }

    /*navbar*/

    header .desktop-nav nav > ul:first-child li {
        margin-right: 15px !important;
    }



    /*--------AHIP PAGES-------*/

    .ahip-page header img.banner {
        min-width: 1490px !important;
    }
}

@media screen and (min-width: 1025px) {
    /*------------------------------------*\
  HEADER
\*------------------------------------*/

    /*headline*/
    header .headline {
        left: 11% !important;
        padding: 30px !important;
    }

    /*--------LANDING PAGES--------*/

    .responsive-partner-option-1-page header .headline,
    .no-header header .headline {
        left: 11% !important;
    }

    .responsive-redesign-v2-page header .headline,
    .video-landing-page header .headline,
    .video-all-purpose-landing-page .headline {
        left: 0 !important;
    }
}

@media screen and (max-width: 440px) {

    .home .ls-1x-logo {
        width: 31vw;
    }

    .ls-1x-logo {
        width: 40vw;
    }

    .mobile-nav .nav-bar li a.btn-round {
        width: 22vw;
        font-size: 3vw;
    }

    .mobile-nav .nav-bar li.logo {
        padding-left: 1vw;
    }

    .mobile-nav .nav-bar li.sign-in {
        padding-left: 1vw;
    }
}

.nav-button {
    border-radius: 0 !important;
    -moz-box-shadow: inset 0 0 6px #000000;
    -webkit-box-shadow: inset 0 0 6px #000000;
    box-shadow: inset 0 0 6px #000000;
}

div.small-12.mobile-nav > div > ul.pull-right > li.apply-now > a {
    border-radius: 0 !important;
    -moz-box-shadow: inset 0 0 6px #ce6429;
    -webkit-box-shadow: inset 0 0 6px #ce6429;
    box-shadow: inset 0 0 6px #ce6429;
}

div.small-12.mobile-nav > div > ul.pull-right > li.sign-in > a {
    border-radius: 0 !important;
    -moz-box-shadow: inset 0 0 6px #263856;
    -webkit-box-shadow: inset 0 0 6px #263856;
    box-shadow: inset 0 0 6px #263856;
}

.applicationProgressNote {
    border: 1px solid #1f5587;
    display: inline-block;
    padding: 3px 10px;
    margin: 5px 4%;
    margin-bottom: 20px;
    font-size: .85em;
}

#LoanAppFieldset {
    .radio {
        position: relative;
        display: inline-block;
        padding-left: 30px;
        margin-bottom: 20px;
        line-height: 5px;
        font-size: 14px;
        color: #6C6C6C;
        cursor: pointer;
        font-weight: 500;
    }

    .radio:before {
        background: #fff;
        content: "";
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        width: 25px;
        height: 24px;
        border: 2px solid #bbb;
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
    }

    input[type="radio"].appConfirmationStepRadio {
        opacity: 0;

        & + label {
            height: 25px;
        }
    }

    input[type="radio"].appConfirmationStepRadio:focus + label {
        outline-width: 2px;
        outline-style: solid;
        outline-color: #ddf1f0;
    }

    input[type="radio"].appConfirmationStepRadio:checked + label:before {
        content: "\2022";
        text-align: center;
        line-height: 14px;
        font-family: Tahoma;
        font-size: 35px;
        color: #1f5586;
    }

    input[type="submit"] {
        box-shadow: inset 0px 0px 5px 1px rgba(246,165,55,1);
        padding: 15px 7%;
        text-transform: uppercase;
        margin: 0 auto;
    }

    .ruled-top-thin {
        color: #222222;
        font-size: .93rem;

        a {
            text-decoration: underline;

            &:focus {
                border: 1px solid #ddf1f0;
            }
        }

        b {
            color: #4A4A4A;
        }
    }
}

@media screen and (max-width: 440px) {
    #LoanAppFieldset .ruled-top-thin {
        font-size: .83rem;
    }
}

@media screen and (max-width: 1160px) {
    #RatesModal.small {
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    #RatesModal.small {
        width: inherit;
    }
}

@import 'partials/_desktop-nav.scss';
@import 'partials/_mobile-menu.scss';
@import 'partials/_widgets.scss';
@import 'partials/_widget-headline.scss';
@import 'partials/_widget-blog.scss';
@import 'partials/_widget-customer-comments-wide.scss';


@import 'partials/_paidsearch-page.scss';
@import 'partials/_video-landing-page';
@import 'partials/_responsive-pages';
@import 'partials/_navigation-purpose-page.scss';
@import 'partials/_event-page.scss';

@import 'partials/_rate-banner-mobile';
@import 'partials/_feature-bullet-accordion';
@import 'partials/_loan-experience-guarantee-mobile';
@import 'partials/_apr-disclosure.scss';
@import 'partials/_lending-uncomplicated';
@import 'partials/_offer-terms-table';
@import 'redesign/redesign-test.scss';
@import 'partials/_ada-compliance.scss';
@import "partials/_lightstream-arrow.scss";
@import "partials/_accessibility-page.scss";
@import "partials/_partner-referral-sign-in-page.scss";
@import "partials/_reviews-ratings.scss";
@import "web-components.scss";