    #rates h1 br {
        content: ' ';
        display: inline;
        clear: none;
    }

    #RateTablePurposeOfLoanRow div.text-right, #RateTablePurposeOfLoanRow select, #RateTableCurrentAPRRow, #RateTableRateBeatLogo {
        display: none !important;
    }

    #RateTable div.table {
        background-color: white;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    #RateTable table.loanrates tr:nth-of-type(even) {
        background-color: #ededed;
    }

    #LoanCalculator h2 {
        display: none;
    }

    form.loancalc label {
        white-space:nowrap;
    }

    form p.calculated span {
        font-size: 24px;
    }

    form p.calculated {
        line-height: 24px;
    }

    .calculated_values p.legalcopy-title {
        font-weight: 400;
        font-size: 12px;
        color: rgb(102, 102, 102);
    }

    .records br {
        display: none;
    }
    @media all and (max-width: 1080px) {
        body.rates .panel {
            padding:0.5rem;
        }
    }

    @media screen and (max-width:320px) {
        time {
            margin-right:0.5em;
        }
    }
    
    @media screen and (max-width:30em) {
    table.records td.first:before {
        content: "+";
    }

    table.records tr.expanded td.first:before {
        content: "–";
    }
}
