body.rates #header {
    background:none;
    height:auto;
}

body #header .headerbar {
	background: #00467e;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00467e), to(#002250));
	background-image: -webkit-linear-gradient(top, #00467e, #002250);
	background-image:    -moz-linear-gradient(top, #00467e, #002250);
	background-image:     -ms-linear-gradient(top, #00467e, #002250);
	background-image:      -o-linear-gradient(top, #00467e, #002250);
}
body.rates #apply {
    background:none;
}

#header {
    background:none;
}
#header h3.tagline {
    margin-top:42px;
}

div.suntrust-intro h1 {
    font-size:18pt;
    margin:0;
}
div.suntrust-intro {
    padding: 10px;
    border: 2px solid #e6e6e6;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
div.suntrust-intro p {
    font-size:13px;
}
div.suntrust-intro section.homeloanuses {
    padding:0 20px;
}
div.suntrust-intro .button {
    margin-right:2em;
    font-size:1.5em;
    width:90%;
    padding:1.5rem;
}

div.suntrust-intro .button.btn-invite-client {
    padding: 0;
    width: inherit;
    padding: 10px 25px;
}

/* Fine tune the foundation block grid visually */
@media screen and (min-width: 800px) {	
    div.suntrust-intro section.homeloanuses li.home_list1,
    div.suntrust-intro section.homeloanuses li.home_list3 {width: 30%}
    div.suntrust-intro section.homeloanuses li.home_list2  {width: 40%}
}

.teammate-alert {
    background-color:#f9a93a;
    color:#00416f !important;
    padding: 5px;
}
a.teammate-alert {
    padding: 10px 25px;
    box-shadow: inset 0px 0px 6px 4px #db8206;
}
.teammate-alert i {
    display:inline-block;
}
.teammate-alert p {
    padding: 0.25em;
    color: #00416f !important;
}
p.teammate-alert {
    margin-bottom:1em;
}
a.teammate-alert:visited {
    text-decoration: none;
}
.teammate-alert.aside {
    margin-top:0.25em;
}
.teammate-alert h4 {
    display:block;
}

.suppress-teammate-alerts .teammate-alert {
    display:none;
}

ul.bullets {
    list-style:square;
}
ul.bullets li {
    margin:01em 0.5em 1em .5em ;
}

.existing-referral-alert {
    font-weight: bold;
    font-size: 18px;
}

#header h3.tagline {
    font-size: 18px;
}

div.not-done-yet p {
    border: 1px solid black;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin:5px;
}
.rate-match {
    display:none;
}