@model LightStreamWeb.Models.Apply.LoadExistingAppModel
@{
    Layout = "~/Views/Layouts/_EmptyScriptPage.cshtml";
}

@{Html.RegisterScriptFile("~/scripts/app/init-loan-application.js");}

<div ng-app="InitializeLoanAppModule" ng-controller="InitializeLoanApplicationController" ng-init="init('@Model.DataURL', '@Model.NextPage')">
</div>

